# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.loki.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-grafana-server
  namespace: {{ .Release.Namespace }}
  labels:
    id: {{ .Release.Name }}-service-grafana-server
spec:
  type: ClusterIP
  selector:
    id: {{ .Release.Name }}-deployment-grafana-server
  ports:
    - port: 3118
      targetPort: 3000
      protocol: TCP
      name: grafui
{{ end }}
