<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex-center">
  <mat-card class="section-card" *ngIf="projectService.project">
    <form
      id="create-model-base-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="form.controls.name.errors?.required">
            Please provide a model name.
          </mat-error>
          <mat-error *ngIf="form.controls.name.errors?.uniqueSlug">
            A project with a name similar to “{{
              form.controls.name.errors!.uniqueSlug.value
            }}” already exists.
          </mat-error>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model description</mat-label>
          <textarea rows="3" matInput formControlName="description"> </textarea>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model tool</mat-label>
          <mat-select matInput formControlName="tool_id">
            <mat-option
              *ngFor="let tool of toolService.tools"
              value="{{ tool.id }}"
            >
              {{ tool.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.tool_id.errors?.noValidTool">
            Please select a valid tool.
          </mat-error>
        </mat-form-field>
      </fieldset>
      <div class="flex-space-between">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Create model
          <mat-icon class="mat-icon-position right">arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
