<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="mt-2 flex items-center gap-2">
  <span class="rounded border p-2 font-mono">
    <span [ngClass]="{ blur: !valueRevealed && blurValue }">{{
      value
    }}</span></span
  >
  @if (blurValue) {
    @if (valueRevealed) {
      <button
        (click)="valueRevealed = false"
        matTooltip="Hide value"
        class="flex"
      >
        <mat-icon>blur_on</mat-icon>
      </button>
    } @else {
      <button
        (click)="valueRevealed = true"
        matTooltip="Show value"
        class="flex"
      >
        <mat-icon>blur_off</mat-icon>
      </button>
    }
  }

  @if (value) {
    <button
      [cdkCopyToClipboard]="value!"
      matTooltip="Copy value to clipboard"
      (click)="showClipboardMessage()"
      class="flex"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  }
</div>
