# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

{{- if eq .Values.cluster.kind "OpenShift" }}
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ $.Release.Name }}-allow-from-{{ .Release.Namespace }}-namespace
  namespace: {{ .Values.backend.k8sSessionNamespace }}
spec:
  podSelector: {}
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Release.Namespace }}
  policyTypes:
    - Ingress
{{ end }}
