/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

h1 {
  margin: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
