<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<app-editor #editor (submitted)="submitValue($event)" />
<div class="m-2 flex gap-2">
  <button mat-stroked-button (click)="editor.submitValue()" color="primary">
    <span>Save</span>
    <mat-icon class="ml-2">save</mat-icon>
  </button>
  <button mat-stroked-button (click)="editor.resetValue()" color="warn">
    <span>Reset</span> <mat-icon class="ml-2">clear</mat-icon>
  </button>
</div>
