<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div id="editor" class="h-[70vh]"></div>
<div class="m-2 flex gap-2">
  <button mat-stroked-button (click)="submitValue()" color="primary">
    <span>Submit</span>
    <mat-icon class="ml-2">send</mat-icon>
  </button>
  <button mat-stroked-button (click)="resetValue()" color="warn">
    <span>Reset</span> <mat-icon class="ml-2">clear</mat-icon>
  </button>
</div>
