<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog">
  <h2 class="mb-5 text-xl font-medium">Create a new backup pipeline</h2>
  @if (
    (this.gitModelService.gitModels$ | async) === undefined ||
    (this.t4cModelService.t4cModels$ | async) === undefined
  ) {
    <ngx-skeleton-loader
      appearance="circle"
      [theme]="{
        'border-radius': '5px',
        height: '100px',
        width: '500px',
        border: '1px solid white',
        'max-width': '100%',
        margin: '0',
      }"
    ></ngx-skeleton-loader>
  } @else if (
    (this.gitModelService.gitModels$ | async)?.length &&
    (this.t4cModelService.t4cModels$ | async)?.length
  ) {
    <form [formGroup]="createBackupForm">
      <div class="flex flex-row flex-wrap items-center gap-2">
        <div class="collab-card max-w-full">
          <h3 class="text-lg font-bold">TeamForCapella Repository</h3>
          <div
            class="flex items-center gap-1 rounded border bg-yellow-300 p-1 text-sm shadow"
          >
            <mat-icon>warning</mat-icon>
            <span>The project name has to match exactly.</span>
          </div>

          <mat-selection-list
            class="!flex flex-col gap-2"
            formControlName="t4cmodel"
            [multiple]="false"
          >
            @for (
              t4cModel of t4cModelService.t4cModels$ | async;
              track t4cModel.id
            ) {
              <mat-list-option class="!h-auto !rounded" [value]="t4cModel.id">
                <div mat-line>
                  TeamForCapella Link (No. {{ t4cModel.id }}) <br />
                  <b>Project:</b> {{ t4cModel.name }}
                </div>
                <div mat-line class="whitespace-pre-wrap break-all">
                  <b>Repository:</b> {{ t4cModel.repository.name }} <br />
                  <b>Instance:</b> {{ t4cModel.repository.instance.name }}
                </div>
              </mat-list-option>
            }
          </mat-selection-list>
        </div>
        <mat-icon>arrow_forward</mat-icon>
        <div class="collab-card max-w-full">
          <h3 class="text-lg font-bold">Git Repository</h3>
          <mat-selection-list
            class="!flex flex-col gap-2"
            formControlName="gitmodel"
            [multiple]="false"
          >
            @for (
              gitModel of gitModelService.gitModels$ | async;
              track gitModel.id
            ) {
              <mat-list-option class="!h-auto !rounded" [value]="gitModel.id">
                <div mat-line>Git Repository Link (No. {{ gitModel.id }})</div>
                <div mat-line class="whitespace-pre-wrap break-all">
                  <b>URL:</b> {{ gitModel.path }}<br />
                  <b>Revision:</b> {{ gitModel.revision }}
                </div>
              </mat-list-option>
            }
          </mat-selection-list>
        </div>
      </div>
      <form class="mt-5" formGroupName="configuration">
        <mat-checkbox formControlName="runNightly">Run on schedule</mat-checkbox
        ><br />
      </form>
    </form>
    <div class="mt-2 flex justify-between gap-button">
      <button mat-stroked-button [mat-dialog-close]="false">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
      <button
        mat-raised-button
        (click)="createGitBackup()"
        cdkFocusInitial
        [disabled]="!createBackupForm.valid || loading"
      >
        Create
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  } @else {
    Please add a T4C model and Git model first!
    <button mat-stroked-button class="mt-5 w-full" [mat-dialog-close]="false">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  }
</div>
