<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog">
  <h1>Create a new backup pipeline</h1>
  <form [formGroup]="createBackupForm" *ngIf="t4cAndGitModelExists">
    <div class="flex flex-row flex-wrap items-center">
      <div class="collab-card">
        Please select a T4C model:
        <mat-selection-list formControlName="t4cmodel" [multiple]="false">
          <mat-list-option
            *ngFor="let t4cModel of t4cModelService.t4cModels$ | async"
            [value]="t4cModel.id"
          >
            <div mat-line>TeamForCapella model '{{ t4cModel.name }}'</div>
            <div mat-line>
              repository '{{ t4cModel.repository.name }}', instance '{{
                t4cModel.repository.instance.name
              }}'
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <mat-icon>arrow_right_alt</mat-icon>
      <div class="collab-card">
        Please select a Git model:
        <mat-selection-list formControlName="gitmodel" [multiple]="false">
          <mat-list-option
            *ngFor="let gitModel of gitModelService.gitModels$ | async"
            [value]="gitModel.id"
          >
            <div mat-line>Git model {{ gitModel.id }}</div>
            <div mat-line>
              URL '{{ gitModel.path }}', revision '{{ gitModel.revision }}'
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <hr />
    <div>Please specify the configuration for your backup job:</div>
    <form formGroupName="configuration">
      <mat-checkbox formControlName="runNightly"
        >Run nightly (at 3 am)</mat-checkbox
      ><br />
      <mat-checkbox formControlName="includeCommitHistory"
        >Include commit history</mat-checkbox
      >
    </form>
  </form>

  <div *ngIf="!t4cAndGitModelExists">
    Please add a T4C model and Git model first!
  </div>

  <div class="mt-button flex justify-between gap-button">
    <button mat-stroked-button class="w-full" [mat-dialog-close]="false">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="t4cAndGitModelExists"
      (click)="createGitBackup()"
      cdkFocusInitial
      [disabled]="!createBackupForm.valid"
    >
      Create
    </button>
  </div>
</div>
