<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-card class="section-card" *ngIf="this.projectService.project">
    <h2>Add model to project
      {{ projectService.project ? projectService.project.name : "" }}</h2>
    <form id="create-model-base-form" [formGroup]="createModelBaseForm">
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model description</mat-label>
          <textarea rows="3" matInput formControlName="description">
          </textarea>
        </mat-form-field>
      </fieldset>
    </form>

    <mat-radio-group class="form-radio-group"
      [(ngModel)]="currentNextForm">
      <mat-radio-button class="form-radio-button" value="newModelForm">
        new model
      </mat-radio-button>
      <mat-radio-button class="form-radio-button"
        value="existingOfflineModelForm">
        existing offline model
      </mat-radio-button>
      <mat-radio-button id="git-model-button" class="form-radio-button"
        value="existingGitModelForm">
        existing model from a git repository
      </mat-radio-button>
    </mat-radio-group>
    
    <form id="new-model-form" *ngIf="currentNextForm == 'newModelForm'"
      [formGroup]="newModelForm" (submit)="onSubmit()">
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Modelling tool</mat-label>
          <mat-select formControlName="tool">
            <mat-option *ngFor="let tool of toolService.tools" [value]="tool.id">
              {{ tool.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="field-separator"></div>
        <mat-form-field appearance="fill">
          <mat-label>Version</mat-label>
          <mat-select
            [disabled]="!newModelForm.controls['tool'].valid"
            formControlName="version" id="version-selector">
            <mat-option *ngFor="let version of getForToolId(toolService.versions)"
              [value]="version.id">
              {{ version.name }}
              <span *ngIf="version.is_recommended"> (recommended)</span>
              <span *ngIf="version.is_deprecated"> (deprecated)</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model type</mat-label>
          <mat-select 
            [disabled]="!newModelForm.controls['version'].valid"
            formControlName="type">
            <mat-option *ngFor="let type of getForToolId(toolService.types)" 
              [value]="type.id">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!createModelBaseForm.valid || !newModelForm.valid">
        Create model
      </button>
    </form>
        
    <form id="existing-offline-model-form" 
      *ngIf="currentNextForm == 'existingOfflineModelForm'"
      [formGroup]="existingOfflineModelForm" (submit)="onSubmit()">
      <fieldset>
        <div class="form-button-wrapper">
          <button mat-raised-button (click)="fileInput.click()">
            Upload your model here (in a .zip)
          </button>
          <input #fileInput hidden type="file"
            formControlName="file" />
        </div>
      </fieldset>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!createModelBaseForm.valid || !existingOfflineModelForm.valid">
        Create model
      </button>
    </form>
        
    <form id="existing-git-model-form" (submit)="onSubmit()"
      [formGroup]="existingGitModelForm"
      *ngIf="currentNextForm == 'existingGitModelForm'">
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Repository url</mat-label>
          <input matInput formControlName="url" />
        </mat-form-field>
      </fieldset>
      <span></span>
      <mat-checkbox>Import model change history</mat-checkbox>
      <br /><br />
      <fieldset>
        <legend>
          Enter credentials or token (they will not be stored)
        </legend>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input id="username-field" matInput
            formControlName="username" />
        </mat-form-field>
        <div class="field-separator"></div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input id="password-field" type="password" matInput
            formControlName="password" />
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Branch, tag or revision</mat-label>
          <input type="text" matInput formControlName="reference"
            [matAutocomplete]="auto" />
        </mat-form-field>
          <mat-autocomplete autoActiveFirstOption 
            #auto="matAutocomplete">
            <mat-optgroup label="branch">
              <mat-option 
                *ngFor="let option of filteredRevisions.branches"
                [value]="option">
                {{ option }}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="tag">
              <mat-option *ngFor="let option of filteredRevisions.tags"
                [value]="option">
                {{ option }}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>          
        <div class="field-separator"></div>
        <mat-form-field appearance="fill">
          <mat-label>Path (defaults to root)</mat-label>
          <input matInput formControlName="path">
        </mat-form-field>
      </fieldset>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!createModelBaseForm.valid || !existingGitModelForm.valid">
        Create model
      </button>
    </form>

  </mat-card>
</div>