<h3>Linked Backup Job</h3>
<mat-spinner *ngIf="loading" class="spinner" [diameter]="25"></mat-spinner>
<button
  id="refresh-button"
  (click)="refreshPipeline()"
  mat-icon-button
  *ngIf="!loading && pipeline"
>
  <mat-icon>refresh</mat-icon>
</button>
<div *ngIf="!pipeline && !loading">
  No linked Backup job was found. <br />
  <button mat-flat-button color="primary" (click)="createPipeline()">
    Create Backup Job
  </button>
</div>
<div *ngIf="pipeline">
  <br />
  <div class="">
    <div class="flexbox">
      <mat-form-field appearance="fill">
        <mat-label>Name of the Backup Job</mat-label>
        <input matInput disabled [value]="pipeline.name" /> </mat-form-field
      ><br />
      <div
        class="state flexbox"
        [ngClass]="pipeline.latest_run.result.toLowerCase()"
        id="state-field"
        *ngIf="pipeline.latest_run"
      >
        <div class="inner-state">
          <div class="title">
            Last Run: {{ pipeline.latest_run.start_time }}
          </div>
          <span class="text">{{ pipeline.latest_run.result }}</span
          ><br />
        </div>
        <mat-icon
          *ngIf="pipeline.latest_run.result == 'FAILURE'"
          id="error-icon"
          >error</mat-icon
        >
      </div>
    </div>
  </div>

  <button mat-flat-button (click)="runJenkinsJob()" color="primary">
    Run job
  </button>
  <button mat-flat-button (click)="removeJenkinsPipeline()" color="primary">
    Remove Backup Pipeline
  </button>
  <a
    mat-flat-button
    color="primary"
    target="_blank"
    [href]="pipeline.latest_run.logs_url"
    *ngIf="pipeline.latest_run"
  >
    View logs <mat-icon>launch</mat-icon>
  </a>
</div>
