<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div>
  <table class="w-full table-auto border-separate border-spacing-2">
    <thead>
      <tr>
        <td>
          <h2>ID</h2>
        </td>
        <td>
          <h2>Status</h2>
        </td>
        <td>
          <h2>Triggered by</h2>
        </td>
        <td>
          <h2>Start time</h2>
        </td>
      </tr>
    </thead>

    @for (
      pipelineRunPage of (pipelineRunService.pipelineRunPages$ | async)!.pages;
      track $index
    ) {
      <tbody [id]="$index + 1" #page>
        @if (pipelineRunPage === undefined || pipelineRunPage === "loading") {
          @for (jobRunPage of pageSizeArray; track jobRunPage) {
            <tr>
              @for (column of [1, 2, 3, 4, 5]; track column) {
                <td>
                  <app-text-line-skeleton-loader
                    width="50%"
                  ></app-text-line-skeleton-loader>
                </td>
              }
            </tr>
          }
        } @else {
          @for (run of pipelineRunPage.items; track run.id) {
            <tr
              class="cursor-pointer hover:bg-(--hover-color)"
              (click)="openLogs(run.id)"
            >
              <td>
                {{ run.id }}
              </td>
              <td>
                {{ run.status }}
              </td>
              <td>
                @if (run.triggerer) {
                  {{ run.triggerer.name }}
                } @else {
                  Scheduler
                }
              </td>
              <td>
                {{ run.trigger_time | date: "EE, dd MMM y HH:mm:ss" }}
              </td>
            </tr>
          }
        }
      </tbody>
    }
  </table>
</div>
