/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */
.primary-bg {
  background-color: var(--primary-color);
}

.primary-color {
  color: white;
}

.secondary-bg {
  background-color: #383d41;
}

.secondary-color {
  color: white;
}

.success-bg {
  background-color: #155724;
}

.success-color {
  color: white;
}

.danger-bg {
  background-color: var(--error-color);
}

.danger-color {
  color: white;
}

.warning-bg {
  background-color: var(--warning-color);
}

.warning-color {
  color: white;
}

.info-bg {
  background-color: #d1ecf1;
}

.info-color {
  color: black;
}
