<h1 mat-dialog-title>Termine Workspace</h1>
<div mat-dialog-content>
  <p>Do you want terminate the following sessions?</p>
  <ul>
    <li *ngFor="let session of sessions">
      ID: {{ session.id }} <br />
      Owner: {{ session.owner }} <br />
      {{ session.repository }}
    </li>
  </ul>
  <p>This will force close the sessions and all unsaved work will be lost!</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close()">No</button>
  <button
    mat-flat-button
    [disabled]="deleteButton.disabled"
    (click)="deleteAllSessions()"
  >
    {{ deleteButton.text }}
  </button>
</div>
