<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div
  class="mt-3 max-h-0 overflow-hidden transition-all duration-700"
  [ngClass]="{
    'max-h-[100vh]':
      ((noticesWrapperService.notices$ | async)?.length ?? -1) > 0,
  }"
>
  @for (notice of noticesWrapperService.notices$ | async; track notice.id) {
    <div [class]="notice.level" class="collab-card mb-2">
      <h3 class="text-[16px]" [innerHTML]="notice.title"></h3>
      <p class="text-[14px]" [innerHTML]="notice.message"></p>
    </div>
  }
</div>
