<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flexbox">
  <div class="item">
    <app-project-metadata
      *ngIf="projectService.project"
      [project]="projectService.project"
    ></app-project-metadata>
    <mat-divider></mat-divider>
    <app-model-overview
      *ngIf="projectService.project"
      [project]="projectService.project"
    ></app-model-overview>
  </div>
  <div class="users">
    <app-project-user-settings
      *ngIf="projectService.project"
      [repository]="projectService.project"
    ></app-project-user-settings>
  </div>

  <div *ngIf="projectService.project">
    <app-stage-project
      *ngIf="userService.user?.role; in: ['manager', 'administrator']"
      [project]="projectService.project"
    ></app-stage-project>
    <app-delete-project
      *ngIf="
        projectService.project.staged_by &&
        projectService.project.staged_by.name != userService.user?.name
      "
      [project]="projectService.project!"
    ></app-delete-project>
  </div>
  <!--<app-backup-settings [project]="project"></app-backup-settings>
  <app-model-source [repository]="project"></app-model-source>-->
</div>
