<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flexbox">
  <div class="item">
    <app-project-metadata [project_slug]="project_slug"></app-project-metadata>
    <mat-divider></mat-divider>
    <app-model-overview [project_slug]="project_slug"></app-model-overview>
  </div>
  <div class="users">
    <app-project-user-settings
      [repository]="project_slug"
    ></app-project-user-settings>
  </div>
  <!--<app-backup-settings [project]="project"></app-backup-settings>
  <app-model-source [repository]="project"></app-model-source>-->
</div>
