/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#title {
  margin-left: 10px;
}

.flexbox {
  justify-content: space-evenly;
}

.item {
  margin: 0 auto;
}

.users {
  margin-left: auto;
  position: relative;
  right: 80px;
}

.delete {
  margin-left: auto;
  position: relative;
  width: 455px;
  right: 77px;
  bottom: 10px;
}

.stage {
  position: relative;
  bottom: 10px;
}
