<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap justify-between">
  <div class="grow basis-1">
    <div class="flex flex-wrap items-stretch">
      <app-project-metadata class="flex-1"></app-project-metadata>
      <app-create-readonly-session class="flex-1"></app-create-readonly-session>
    </div>
    <app-model-overview></app-model-overview>
  </div>
  <div *ngIf="projectUserService.verifyRole('manager')">
    <app-project-user-settings></app-project-user-settings>
  </div>
</div>
