/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.overall-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: unset;
}

.container-wrapper {
  overflow-y: visible;
  overflow: unset;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

#left,
#placeholder {
  flex-basis: 350px;
}

.wrapper {
  /* Subtract margin, navbar and footer */
  min-height: calc(100vh - 2vh - 65px - 110px);
  margin: 1vh 1vw;
}

.navBar {
  min-height: 65px;
}

router-outlet {
  height: 100%;
}
