/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  margin: 10px;
  flex: 1;
}

.overall-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
