<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-drawer-container class="container-wrapper" [hasBackdrop]="true">
  <mat-drawer #sidenav mode="push">
    <app-nav-bar-menu></app-nav-bar-menu>
  </mat-drawer>
  <mat-drawer-content class="overall-wrapper">
    <div
      class="navBar"
      *ngIf="(fullscreenService.isFullscreen$ | async) === false"
    >
      <app-header *ngIf="pageLayoutService.showHeader"></app-header>
    </div>
    <div
      [ngClass]="{
        wrapper: (fullscreenService.isFullscreen$ | async) === false
      }"
    >
      <app-notice
        *ngIf="
          (fullscreenService.isFullscreen$ | async) === false &&
          pageLayoutService.showNotice
        "
      ></app-notice>
      <router-outlet></router-outlet>
    </div>
    <div
      class="footer"
      *ngIf="(fullscreenService.isFullscreen$ | async) === false"
    >
      <app-version id="left"></app-version>
      <div id="middle">
        <app-footer
          *ngIf="pageLayoutService.showFooter"
          class="footer"
        ></app-footer>
        <app-legal *ngIf="pageLayoutService.showLegal"></app-legal>
      </div>
      <div id="placeholder"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
