/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.overall-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: unset;
}

.container-wrapper {
  overflow-y: visible;
  overflow: unset;
}

.wrapper {
  /* Subtract margin, navbar and footer (+margin) */
  min-height: calc(100vh - 16px - 100px - 115px - 8px);
}

router-outlet {
  height: 100%;
}
