/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.overall-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: unset;
}

.container-wrapper {
  overflow-y: visible;
  overflow: unset;
}

router-outlet {
  height: 100%;
}
