<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-drawer-container class="container-wrapper" [hasBackdrop]="true">
  <mat-drawer #sidenav mode="push">
    <app-nav-bar-menu></app-nav-bar-menu>
  </mat-drawer>
  <mat-drawer-content class="overall-wrapper">
    @if (
      (fullscreenService.isFullscreen$ | async) === false &&
      pageLayoutService.showHeader
    ) {
      <app-header class="h-[50px] xl:h-[100px]"></app-header>
    }

    <div
      [ngClass]="{
        'wrapper mx-3 my-2 md:mx-5':
          (fullscreenService.isFullscreen$ | async) === false
      }"
    >
      @if (
        (fullscreenService.isFullscreen$ | async) === false &&
        pageLayoutService.showNotice
      ) {
        <app-notice></app-notice>
      }

      <router-outlet class="h-full"></router-outlet>
    </div>
    @if (
      (fullscreenService.isFullscreen$ | async) === false &&
      pageLayoutService.showFooter
    ) {
      <app-footer
        class="mb-2 flex min-h-[115px] flex-col justify-around"
      ></app-footer>
    }
  </mat-drawer-content>
</mat-drawer-container>
