<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="overall-wrapper">
  <app-header *ngIf="navbarService.showHeader"></app-header>
  <app-notice *ngIf="navbarService.showNotice"></app-notice>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-version id="left"></app-version>
    <div id="middle">
      <app-footer *ngIf="navbarService.showFooter" class="footer"></app-footer>
      <app-legal *ngIf="navbarService.showLegal"></app-legal>
    </div>
    <div id="placeholder"></div>
  </div>
</div>
