<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<div class="collab-card w-wide-card max-w-max-card">
  <h2 class="text-lg font-medium">Tool Versions</h2>
  <div class="mb-3">
    <app-api-documentation
      tag="Tools"
      hyperlink="create_tool_version_api_v1_tools__tool_id__versions_post"
    ></app-api-documentation>
  </div>
  <mat-tab-group #tabGroup>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">add_box</mat-icon>
        Add version
      </ng-template>
      <app-editor
        #editorRef
        context="new"
        height="calc(500px - 48px)"
        (submitted)="submittedNewToolVersion($event)"
      />
      <div class="mt-2 flex flex-wrap justify-between gap-2">
        <div class="w-dummy-button"></div>
        <button (click)="resetValue('new')" mat-stroked-button>
          <span>Reset</span> <mat-icon class="ml-2">refresh</mat-icon>
        </button>
        <button (click)="submitValue('new')" mat-stroked-button color="primary">
          <span>Create</span>
          <mat-icon class="ml-2">add_box</mat-icon>
        </button>
      </div>
    </mat-tab>

    @if (toolVersions === undefined) {
      <mat-tab label="Loading..."></mat-tab>
    }

    @for (version of toolVersions; track version.id) {
      <mat-tab [label]="version.name">
        <app-editor
          #editorRef
          (submitted)="submittedValue(version, $event)"
          [context]="version.id.toString()"
          height="calc(500px - 48px)"
          [value]="version"
        />
        <div class="mt-2 flex flex-wrap justify-between gap-2">
          <button
            mat-stroked-button
            (click)="removeToolVersion(version)"
            color="warn"
          >
            <span>Delete version</span> <mat-icon class="ml-2">delete</mat-icon>
          </button>

          <button
            mat-stroked-button
            (click)="resetValue(version.id.toString())"
          >
            <span>Reset</span> <mat-icon class="ml-2">refresh</mat-icon>
          </button>
          <button
            mat-stroked-button
            (click)="submitValue(version.id.toString())"
            color="primary"
          >
            <span>Save</span>
            <mat-icon class="ml-2">save</mat-icon>
          </button>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</div>
