<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<mat-card class="default">
  <div class="flex justify-between">
    <mat-card-title><h2>Tool Versions</h2></mat-card-title>
  </div>
  <form [formGroup]="toolVersionForm" #formDirective="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Version name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="toolVersionForm.controls.name.errors?.required"
        >Please enter a version name</mat-error
      >
      <mat-error *ngIf="toolVersionForm.controls.name.errors?.toolVersionExists"
        >Version name is already used</mat-error
      >
    </mat-form-field>
    <div class="field-separator"></div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!toolVersionForm.valid"
      (click)="createToolVersion()"
    >
      Add Tool version
    </button>
  </form>
  <mat-selection-list
    #toolVersionList
    [multiple]="false"
    class="user-selection"
    (selectionChange)="onSelectionChange($event)"
  >
    <mat-list-option
      *ngFor="let toolVersion of this.toolVersions"
      [value]="toolVersion"
      [selected]="isToolVersionSelected(toolVersion)"
    >
      <mat-icon mat-list-icon>history</mat-icon>
      <div>
        <div mat-line>{{ toolVersion.name }}</div>
        <div mat-line *ngIf="toolVersion.is_deprecated">deprecated</div>
        <div mat-line *ngIf="toolVersion.is_recommended">recommended</div>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div *ngIf="toolVersionList.selectedOptions.selected.length">
    <hr />
    <div class="field-separator"></div>
    <div class="flex justify-between">
      <div>
        <form [formGroup]="toolVersionMetadataForm" *ngIf="!loadingMetadata">
          <mat-checkbox formControlName="isDeprecated"
            >Is deprecated</mat-checkbox
          >
          <br />
          <mat-checkbox formControlName="isRecommended"
            >Is recommended</mat-checkbox
          >
        </form>
      </div>
      <div *ngIf="loadingMetadata" class="spinner">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <button
        mat-flat-button
        color="warn"
        (click)="removeToolVersion(selectedToolVersion!)"
      >
        <mat-icon>delete</mat-icon> Remove version
        {{ selectedToolVersion!.name }}
      </button>
    </div>
  </div>
</mat-card>
