/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 10;
}

mat-list-option {
  height: 88px !important;
}
