<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<div class="collab-card w-wide-card max-w-max-card">
  <span class="text-lg"><b>Tool Versions</b></span>
  <app-api-documentation
    class="pb-3"
    tag="Tools"
    hyperlink="create_tool_version_api_v1_tools__tool_id__versions_post"
  ></app-api-documentation>
  <mat-tab-group #tabGroup>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">add_box</mat-icon>
        Add version
      </ng-template>
      <app-editor
        #editorRef
        context="new"
        height="calc(500px - 48px)"
        (submitted)="submittedNewToolVersion($event)"
      />
      <div class="mt-2 flex flex-wrap justify-around gap-2">
        <button (click)="submitValue('new')" mat-stroked-button color="primary">
          <span>Create</span>
          <mat-icon class="ml-2">add_box</mat-icon>
        </button>
        <button (click)="resetValue('new')" mat-stroked-button>
          <span>Reset</span> <mat-icon class="ml-2">clear</mat-icon>
        </button>
      </div>
    </mat-tab>

    @if (toolVersions === undefined) {
      <mat-tab label="Loading..."></mat-tab>
    }

    @for (version of toolVersions; track version.id) {
      <mat-tab [label]="version.name">
        <app-editor
          #editorRef
          (submitted)="submittedValue(version, $event)"
          [context]="version.id.toString()"
          height="calc(500px - 48px)"
          [value]="version"
        />
        <div class="mt-2 flex flex-wrap justify-around gap-2">
          <button
            mat-stroked-button
            (click)="submitValue(version.id.toString())"
            color="primary"
          >
            <span>Save</span>
            <mat-icon class="ml-2">save</mat-icon>
          </button>
          <button
            mat-stroked-button
            (click)="resetValue(version.id.toString())"
          >
            <span>Reset</span> <mat-icon class="ml-2">clear</mat-icon>
          </button>
          <button
            mat-stroked-button
            (click)="removeToolVersion(version)"
            color="warn"
          >
            <span>Delete version</span> <mat-icon class="ml-2">delete</mat-icon>
          </button>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</div>
