.vscode
.venv
/.provision-backend
/.provision-guacamole
/values*.yaml
/secrets*.yaml
/local
.mypy_cache
deployments/*
certs/*
/helm/config/conf.json
/helm/config/localhost.crt
/helm/config/localhost.key
/helm/config/localhost.p12