# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: CC0-1.0

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, merge-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: "backend/t4cclient/extensions/backups/jenkins/config.xml"
      - id: check-yaml
        exclude: "helm/|mkdocs.yml"
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
        files: "^backend/"
        args:
          - "--config"
          - "backend/pyproject.toml"
        types: [python]
      - id: black
        types: [python]
        exclude: "^backend/"
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        entry: bash -c "cd backend && isort ."
        types: [python]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        args: [--rcfile=./backend/pyproject.toml]
        language: system
        types: [python]
        files: "^backend/capellacollab"
        exclude: "^backend/capellacollab/alembic/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [ts, css, html, markdown]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: Insert license headers (shell-style comments)
        files: '(?:^|/)(?:.*\.(?:py|sh|toml|ya?ml|cfg|ini)|Dockerfile|Makefile|nginx.conf)$'
        exclude: '(?:^|/)\..+|^docs/Makefile$'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header_apache.txt
          - --comment-style
          - "#"
      - id: insert-license
        name: Insert license headers (shell-style comments)
        files: '(?:^|/)(?:codeql-analysis.yml|dependabot.yml|\.(?:pre-commit-config.yaml|browserslistrc|editorconfig|(?:git|helm|docker)ignore))$'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header_cc0.txt
          - --comment-style
          - "#"
      - id: insert-license
        name: Insert license headers (XML-style comments)
        files: '\.(?:html|md|xml)$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header_apache.txt
          - --comment-style
          - "<!--| ~| -->"
      - id: insert-license
        name: Insert license headers (C-style comments)
        files: '\.(?:s?css|js|ts)$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header_apache.txt
          - --comment-style
          - "/*| *| */"
      - id: insert-license
        name: Insert license headers (reST comments)
        files: '\.rst$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header_apache.txtcomemnt
          - --comment-style
          - "..|  |"
  - repo: https://github.com/fsfe/reuse-tool
    rev: v1.1.0
    hooks:
      - id: reuse
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.33.0
    hooks:
      - id: eslint
        additional_dependencies:
          - "eslint@^8.50.0"
          - "@angular-eslint/eslint-plugin@16.2.0"
          - "@angular-eslint/eslint-plugin-template@16.2.0"
          - "@angular-eslint/template-parser@16.2.0"
          - "eslint-config-prettier@^9.0.0"
          - "eslint-plugin-import@^2.28.1"
          - "@typescript-eslint/eslint-plugin@^6.7.4"
          - "@typescript-eslint/parser@^6.7.4"
          - "eslint-plugin-unused-imports@^3.0.0"
          - "eslint-plugin-deprecation@^2.0.0"
        args: ["--fix"]
        types: []
        exclude: '.+\.spec(-helper)?\.ts$'
        types_or: ["html", "ts"]
  - repo: https://github.com/qoomon/git-conventional-commits
    rev: v2.5.0
    hooks:
      - id: conventional-commits
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: ["--py311-plus"]
