mat-card {
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

table td {
  border: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2px;
}

.title-2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2px;
  color: var(--primary-color);
}

.inner-mat-card {
  width: 90%;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
