<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div *ngIf="session">
  <div class="title-2">Connect directly via Browser</div>
  <mat-card class="inner-mat-card">
    <div class="title">Step 1: How do I connect to the server?</div>
    Please click on this button to connect to the server: <br />
    <button mat-flat-button color="primary" (click)="redirectToGuacamole()">
      Connect to Session
    </button>
  </mat-card>
  <mat-card class="inner-mat-card">
    <div class="title">Step 2: Wait for Capella</div>
    After opening the session, Capella starts automatically. This can up to one
    minute.
  </mat-card>
  <mat-card class="inner-mat-card" *ngIf="session.type == 'persistent'">
    <div class="title">Step 3: T4C Login</div>
    Please enter "{{ userService.getUsernameFromLocalStorage() }}" as username
    and your password. <br />
    If you don't know your password, you can change it in the
    <a routerLink="/settings">settings</a>. <br />
  </mat-card>
</div>
