<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-card
  ><h2>Synchronize repositories from T4C Server</h2>
  Click the button to trigger a One-Way Synchronization of T4C repositories to
  this application. <br />
  Existing repositories in this application will not be modified or deleted.
  <br />
  <button
    mat-flat-button
    (click)="synchronizeRepositories()"
    [ngClass]="synchronizeButtonState"
  >
    <div *ngIf="synchronizeButtonState == 'primary'">Start Synchronization</div>
    <div *ngIf="synchronizeButtonState == 'success'">
      Synchronization successful
    </div>
  </button>
</mat-card>
