mat-spinner {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.help-button {
  top: -8px;
  left: -7px;
}

.help-button-workspace {
  top: -1px;
}

.help {
  width: 300px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

#field-connection-type {
  margin-left: 40px;
}

.workspace-toggle {
  margin: 20px 0 10px 0;
}
