<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div
  *ngIf="projectService.project && modelService.model"
  class="wrapper flex-center"
>
  <mat-card class="section-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Instance</mat-label>
          <mat-select formControlName="t4c_instance_id">
            <mat-option
              *ngFor="let instance of instances"
              [value]="instance.id"
            >
              {{ instance.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.t4c_instance_id.errors">
            Please select an instance.
          </mat-error>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Repository</mat-label>
          <mat-select formControlName="t4c_repository_id">
            <mat-option
              *ngFor="let repository of repositories"
              [value]="repository.id"
            >
              {{ repository.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.t4c_repository_id.errors">
            Please select a repository.
          </mat-error>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>T4C project name</mat-label>
          <input matInput formControlName="name" [matAutocomplete]="auto" />
          <mat-error *ngIf="form.controls.name.errors?.alreadyUsed"
            >The name {{ form.value.name }} is already used. Consider using
            another repository.</mat-error
          >
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngIf="repository" [value]="repository.name">{{
            repository.name
          }}</mat-option>
        </mat-autocomplete>
      </fieldset>

      <div *ngIf="asStepper" class="flex-space-between">
        <button mat-button (click)="create.emit(false)">
          <mat-icon class="mat-icon-position">arrow_back</mat-icon>
          Choose primary source
        </button>

        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          type="submit"
          (click)="onSubmit()"
        >
          Add source
          <mat-icon class="mat-icon-position">arrow_forward</mat-icon>
        </button>
      </div>

      <div
        *ngIf="!t4cModelService.t4cModel && !asStepper"
        class="flex-space-between"
      >
        <a mat-button [routerLink]="['../..']">
          <mat-icon class="mat-icon-position">arrow_back</mat-icon>
          Cancel
        </a>

        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          type="submit"
          (click)="onSubmit()"
        >
          Add source
          <mat-icon class="mat-icon-position">arrow_forward</mat-icon>
        </button>
      </div>

      <div
        *ngIf="t4cModelService.t4cModel && !editing"
        class="flex-space-between"
      >
        <a mat-button [routerLink]="['../..']">
          <mat-icon class="mat-icon-position">arrow_back</mat-icon>
          Cancel
        </a>
        <button
          mat-flat-button
          (click)="onEditing()"
          color="primary"
          [disabled]="editDisabled"
        >
          Edit source
        </button>
      </div>
      <div
        *ngIf="t4cModelService.t4cModel && editing"
        class="flex-space-between"
      >
        <button mat-flat-button (click)="resetToInstance()" color="warn">
          Cancel editing
        </button>
        <button
          mat-flat-button
          [disabled]="!form.valid"
          type="submit"
          color="primary"
        >
          Save source
        </button>
      </div>
    </form>
  </mat-card>
</div>
