<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<mat-card class="default">
  <div class="flex-space-between">
    <mat-card-title><h2>Tool Types</h2></mat-card-title>
  </div>
  <form [formGroup]="toolTypeForm" #formDirective="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Type name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="toolTypeForm.controls.name.errors?.required"
        >Please enter a tool type name</mat-error
      >
      <mat-error *ngIf="toolTypeForm.controls.name.errors?.toolTypeExists"
        >Type name is already used</mat-error
      >
    </mat-form-field>
    <div class="field-separator"></div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!toolTypeForm.valid"
      (click)="createToolType()"
    >
      Add Tool type
    </button>
  </form>
  <mat-selection-list #toolTypesList [multiple]="false" class="user-selection">
    <mat-list-option *ngFor="let toolType of this.toolTypes" [value]="toolType">
      <mat-icon mat-list-icon>extension</mat-icon>
      <div>
        <div mat-line>{{ toolType.name }}</div>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div *ngIf="toolTypesList.selectedOptions.selected.length">
    <hr />
    <div class="field-separator"></div>
    <div class="flex-space-between">
      <button
        mat-flat-button
        color="warn"
        (click)="removeToolType(selectedToolType)"
      >
        <mat-icon>delete</mat-icon> Remove tool type
        {{ selectedToolType.name }}
      </button>
    </div>
  </div>
</mat-card>
