# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: CC0-1.0

.idea
config/*
!config/config_template.yaml
.history
**/__pycache__/
.vscode
.venv
*.egg-info
build
.git_archival.txt
logs
