# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: CC0-1.0

.idea
config/*
!config/config_template.yaml
.history
**/__pycache__/
.vscode
.venv
*.egg-info
build
.git_archival.txt
logs
backend.log*

htmlcov
.coverage
