<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="mb-2 flex h-9 items-center">
  <h2 class="text-xl font-medium">Models</h2>
  @if (projectUserService.verifyRole("manager")) {
    <a
      mat-stroked-button
      class="!ml-4"
      [routerLink]="
        project?.is_archived
          ? null
          : [
              '/project',
              (projectService.project$ | async)?.slug,
              'models',
              'create',
            ]
      "
      [matTooltip]="
        project?.is_archived
          ? 'You cannot add a model to an archived project'
          : 'Add a new model'
      "
      [disabled]="project?.is_archived"
      ><div class="flex items-center">
        <mat-icon id="add-icon">add</mat-icon>
      </div>
    </a>
    @if (models !== undefined && models.length > 1) {
      <button
        mat-stroked-button
        matTooltip="Reorder models"
        class="!ml-4"
        (click)="openReorderModelsDialog(models)"
      >
        <div class="flex items-center">
          <mat-icon>list</mat-icon>
        </div>
      </button>
    }
  }
</div>
<div class="flex max-w-full flex-wrap gap-2">
  @if ((modelService.models$ | async) === undefined) {
    @for (card of [0, 1, 2]; track $index) {
      <ngx-skeleton-loader
        appearance="circle"
        class="max-w-full"
        [theme]="{
          'border-radius': '28px',
          height: '280px',
          width: '500px',
          margin: '0px',
          padding: '0px',
          border: '1px solid white',
          'max-width': '100%',
        }"
      ></ngx-skeleton-loader>
    }
  }
  @for (model of modelService.models$ | async; track model.id) {
    <div
      class="collab-card flex min-h-[200px] w-full select-none flex-col !p-0 sm:w-[500px]"
    >
      <div
        class="flex justify-between rounded-t-material bg-primary p-2.5 align-middle text-white"
      >
        <div class="ml-2.5">
          <div class="select-text text-xl" style="word-break: break-word">
            {{ model.name }}
          </div>
          <span class="select-text text-base">
            {{ model.tool.name }}
            @if (model.version) {
              {{ model.version.name }}
            } @else {
              (Version not specified)
            }
          </span>
        </div>

        <div class="flex items-center align-middle">
          <div
            class="collab-card mx-1 flex h-[50px] items-center !bg-green-800 !p-0 text-white"
          >
            <div class="px-4 text-center">
              <div class="text-xs">Nature</div>
              <span class="text-sm">
                @if (model.nature) {
                  {{ model.nature.name }}
                } @else {
                  Unset
                }
              </span>
            </div>
          </div>
          <div
            class="collab-card mx-1 flex h-[50px] items-center !bg-red-800 !p-0 text-white"
          >
            <div class="px-4 text-center">
              <div class="text-nowrap text-xs">Working mode</div>
              <div class="text-sm">
                {{ getPrimaryWorkingMode(model) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex grow flex-col justify-between">
        <div class="mx-4 my-2 select-text">
          {{ model.description || "This model has no description." }}
        </div>
        <div class="flex justify-center">
          @if (model.tool.name === "Capella") {
            <app-model-complexity-badge
              class="w-[95%]"
              [modelSlug]="model.slug"
            ></app-model-complexity-badge>
          }
        </div>
        <div class="m-2.5">
          @if (
            !project?.is_archived &&
            project?.type !== "training" &&
            model.t4c_models &&
            projectUserService.verifyPermission("write") &&
            model.version
          ) {
            <button
              mat-mini-fab
              matTooltip="Request persistent session"
              class="!m-1.5"
              (click)="openPersistentSessionDialog(model)"
            >
              <mat-icon>screen_share</mat-icon>
            </button>
          }

          @if (model.git_models) {
            @if (model.tool.name === "Capella") {
              <button
                mat-mini-fab
                matTooltip="Show diagrams of model"
                class="!m-1.5"
                [disabled]="!getPrimaryGitModelURL(model)"
                (click)="openDiagramsDialog(model)"
              >
                <mat-icon>image_search</mat-icon>
              </button>
            }

            <a
              mat-mini-fab
              matTooltip="Open Git repository"
              class="!m-1.5"
              target="_blank"
              rel="noopener"
              [disabled]="!getPrimaryGitModelURL(model)"
              [href]="getPrimaryGitModelURL(model)"
            >
              <mat-icon>open_in_new</mat-icon>
            </a>
          }

          @if (
            projectUserService.verifyRole("manager") &&
            !project?.is_archived &&
            project?.type !== "training"
          ) {
            <a
              mat-mini-fab
              class="!m-1.5"
              matTooltip="See pipelines"
              (click)="openPipelineDialog(model)"
            >
              <mat-icon>sync</mat-icon>
            </a>
          }

          @if (
            userService.user?.role === "administrator" ||
            projectUserService.verifyRole("manager")
          ) {
            <button
              mat-mini-fab
              matTooltip="More options"
              class="!m-1.5"
              [matMenuTriggerFor]="menu"
              [attr.data-testid]="'more-options-' + model.id"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
          }
          <mat-menu #menu="matMenu">
            @if (userService.user?.role === "administrator") {
              <a
                mat-menu-item
                [routerLink]="['model', model.slug, 'restrictions']"
              >
                <mat-icon>key</mat-icon>
                <span>Model restrictions</span>
              </a>
            }

            @if (projectUserService.verifyRole("manager")) {
              <a mat-menu-item [routerLink]="['model', model.slug, 'metadata']">
                <mat-icon>settings</mat-icon>
                <span>Configure model</span>
              </a>
              <button mat-menu-item (click)="openMoveToProjectDialog(model)">
                <mat-icon>drive_file_move</mat-icon>
                Move model to different project
              </button>
              <a
                mat-menu-item
                [routerLink]="['model', model.slug, 'modelsources']"
              >
                <mat-icon>link</mat-icon>
                <span>Configure model sources</span>
              </a>
            }
          </mat-menu>
        </div>
      </div>
    </div>
  }
</div>
