<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="models" *ngIf="models">
  <div class="models-title">
    <h2>
      Models
      <a
        mat-button
        [routerLink]="['/project', project.slug, 'models', 'create']"
      >
        <mat-icon id="add-icon">add</mat-icon>
      </a>
    </h2>
  </div>
  <mat-card *ngFor="let model of models">
    <div class="header">
      <div class="header-text">
        <div class="title">{{ model.name }}</div>
        <span class="subtitle">
          {{ model.tool.name }}
          <span *ngIf="model.version"> {{ model.version.name }}</span>
          <span *ngIf="!model.version"> (Version not specified)</span>
        </span>
      </div>

      <div class="right">
        <mat-card class="nature"
          ><div>
            <div class="model-badge-title">Nature</div>
            <div *ngIf="model.nature">{{ model.nature.name }}</div>
            <div *ngIf="!model.nature">Not specified</div>
          </div></mat-card
        >
        <mat-card class=""> </mat-card>
        <mat-card class="editingMode"
          ><div>
            <div class="model-badge-title">Working mode</div>
            {{ getPrimaryWorkingMode(model) }}
          </div></mat-card
        >
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        {{ model.description || "This model has no description." }}
      </div>
      <div class="actions">
        <div class="left">
          <a
            mat-mini-fab
            matTooltip="Configure model"
            [routerLink]="['model', model.slug, 'metadata']"
            *ngIf="projectUserService.verifyRole('manager')"
          >
            <mat-icon>settings</mat-icon>
          </a>
          <a
            mat-mini-fab
            matTooltip="Configure model sources"
            [routerLink]="['model', model.slug]"
            *ngIf="projectUserService.verifyRole('manager')"
          >
            <mat-icon>link</mat-icon>
          </a>
          <a mat-mini-fab disabled matTooltip="Download model (Coming soon)">
            <mat-icon>cloud_download</mat-icon>
          </a>
          <a
            mat-mini-fab
            matTooltip="Start synchronization"
            (click)="openPipelineDialog(model)"
            *ngIf="projectUserService.verifyRole('manager')"
          >
            <mat-icon>sync</mat-icon>
          </a>
          <a
            *ngIf="
              model.git_models && projectUserService.verifyPermission('read')
            "
            mat-mini-fab
            [disabled]="!getPrimaryGitModelURL(model)"
            matTooltip="Open git repository"
            target="_blank"
            [href]="getPrimaryGitModelURL(model)"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
          <a
            *ngIf="
              model.t4c_models && projectUserService.verifyPermission('write')
            "
            routerLink="/workspaces"
            mat-mini-fab
            matTooltip="Request persistent session"
          >
            <mat-icon>screen_share</mat-icon>
          </a>
          <button
            mat-mini-fab
            *ngIf="
              model.git_models && projectUserService.verifyPermission('read')
            "
            matTooltip="Open readonly session"
            (click)="requestSession(model)"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
