/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  margin: 10px;
  height: 100%;
}

.models-title > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.models-title > h2 {
  margin: 0;
}

.models-title {
  display: flex;
  align-items: center;
}

#settings-icon {
  margin-left: 10px;
  position: relative;
  bottom: 5px;
  font-size: 1.5em;
}

.overview-card {
  width: fit-content;
  width: 500px;
  max-width: 85vw;
  min-height: 200px;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.mat-card {
  padding: 0 !important;
}

.mat-card-content {
  padding: 5px !important;
}

.header {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.header-text {
  margin-left: 10px;
}

.title {
  font-size: 1.5em;
}

.subtitle {
  font-size: 0.9em;
}

#title {
  margin: 20px;
}

#add-model-wrapper {
  padding-top: 100px;
}

#add {
  font-size: 2em;
  display: flex;
  align-items: center;
}

#add > .content {
  text-align: center;
  margin: auto;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.content {
  margin: 10px;
}

button,
a {
  margin: 5px;
}

.nature {
  background-color: darkgreen !important;
  color: white;
}

.editingMode {
  background-color: darkred !important;
  color: white;
}

.right > mat-card {
  width: fit-content;
  height: fit-content;
  margin: 0 5px;
}

.right > mat-card > div {
  margin: 2px 5px;
  text-align: center;
  min-width: 50px;
}

.right {
  display: flex;
  margin-right: 5px;
}

.actions {
  margin: 10px;
}

.model-badge-title {
  font-size: 0.8em;
  margin: 0;
  line-height: 1;
}

#add-model-button {
  margin-left: 15px;
}
