<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<h2 id="title">Models <mat-icon id="settings-icon">settings</mat-icon></h2>
<div class="models">
  <mat-card matRipple>
    <div class="header">testmodel</div>
    <div class="content-wrapper">
      <div class="content">No description provided.</div>
      <div class="actions">
        <div class="left">
          <mat-icon>settings</mat-icon>
          <mat-icon>cloud_download</mat-icon>
          <mat-icon>sync</mat-icon>
          <mat-icon>link</mat-icon>
        </div>
        <div class="right">
          <mat-card class="nature"><div>Library</div> </mat-card>
          <mat-card class="editingMode"><div>T4C</div></mat-card>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card matRipple>
    <div class="header">testmodel</div>
    <div class="content-wrapper">
      <div class="content">No description provided.</div>
      <div class="actions">
        <div class="left">
          <mat-icon>settings</mat-icon>
          <mat-icon>cloud_download</mat-icon>
          <mat-icon>sync</mat-icon>
          <mat-icon>link</mat-icon>
        </div>
        <div class="right">
          <mat-card class="nature"><div>Project</div> </mat-card>
          <mat-card class="editingMode"><div>Git</div></mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
