/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#welcome-card {
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #010035;
  margin-bottom: 50px;
}
