<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <h1 mat-dialog-title>Release Notes</h1>
  <div class="body" mat-dialog-content>
    <div *ngFor="let release of versionService.version?.github">
      <div class="release-header">
        <span class="release-title"> {{ release.name }} </span>
        <mat-card
          class="new"
          *ngIf="
            versionService.compareFrontendVersionWithOld(release.tag_name) ==
              1 &&
            versionService.compareFrontendVersionWithCurrent(
              release.tag_name
            ) != 1
          "
          >This version was added since your last visit!</mat-card
        >
        <mat-card
          class="not-deployed"
          *ngIf="
            versionService.compareFrontendVersionWithCurrent(
              release.tag_name
            ) == 1
          "
          >This version is not yet deployed to this instance. Please ask your
          administrator to deploy the changes!</mat-card
        >
      </div>

      <span>Released on {{ release.created_at }}</span>
      <br />
      <markdown [data]="release.body"> </markdown>
      <hr class="dashed" />
    </div>
  </div>
  <div class="align-right" mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</div>
