<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-form-field appearance="fill">
    <mat-label>Dockerimage</mat-label>
    <input matInput placeholder="/t4c/client/importer" />
  </mat-form-field>
  <div class="title">
    <button mat-raised-button>Save</button>
  </div>
</div>
