<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <form
    [formGroup]="t4cImporterSettingsForm"
    (ngSubmit)="updateBackupSettings()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Dockerimage</mat-label>
      <input
        formControlName="dockerImage"
        matInput
        placeholder="docker.io/t4c/client/backup:5.2-latest"
      />
    </mat-form-field>
    <div *ngIf="editing" class="flex-space-between">
      <button
        mat-flat-button
        type="button"
        color="warn"
        (click)="disableEditing()"
      >
        Cancel
      </button>
      <button mat-flat-button type="submit" color="primary">Submit</button>
    </div>
    <div *ngIf="!editing" class="flex-space-between">
      <button mat-flat-button color="primary" (click)="enableEditing()">
        Edit
      </button>
    </div>
  </form>
</div>
