/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.no-repository {
  font-size: 1.2em;
}

mat-card {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #dc3545;
}

#username {
  font-size: 1.2em !important;
}
