<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper flex justify-center">
  <mat-horizontal-stepper
    class="flex max-w-[360px] rounded-md shadow-md sm:max-w-[710px]"
    linear
    #stepper
  >
    <mat-step completed="false">
      <ng-template matStepLabel>
        <div class="hidden sm:inline">Create new project</div>
      </ng-template>
      <h3 class="flex justify-center sm:hidden">Create new project</h3>
      <div class="flex justify-center">
        <div class="collab-card w-[350px] sm:min-w-[420px]">
          <form [formGroup]="form">
            <div>
              <mat-form-field appearance="fill" class="form-field-default">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  data-testId="input-name"
                />
                <mat-error *ngIf="form.controls.name.errors?.uniqueSlug">
                  A project with a name similar to “{{
                    form.controls.name.errors!.uniqueSlug.value
                  }}” already exists.
                </mat-error>
                <mat-error *ngIf="form.controls.name.errors?.required">
                  A project name is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="form-field-default">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  formControlName="description"
                  data-testId="textarea-description"
                ></textarea>
              </mat-form-field>
            </div>
            <fieldset>
              <div class="flex flex-col">
                <legend>Project visibility</legend>
                <mat-radio-group
                  formControlName="visibility"
                  class="flex flex-col"
                >
                  <mat-radio-button
                    *ngFor="
                      let visibility of projectService.getAvailableVisibilities()
                    "
                    [value]="visibility"
                  >
                    {{
                      projectService.getProjectVisibilityDescription(visibility)
                    }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </fieldset>
            <div></div>
            <div class="mt-[10px] flex justify-between">
              <div></div>
              <div>
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="!form.valid"
                  (click)="createProject(stepper)"
                  data-testId="button-create-project"
                >
                  Create project
                  <mat-icon iconPositionEnd class="mat-icon-position right"
                    >navigate_next</mat-icon
                  >
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div class="hidden sm:inline">(Optional) Add team members</div>
      </ng-template>
      <h3 class="flex justify-center sm:hidden">(Optional) Add team members</h3>
      <div *ngIf="projectService.project$ | async" class="flex justify-center">
        <app-project-user-settings></app-project-user-settings>
      </div>
      <div *ngIf="projectService.project$ | async">
        <div class="flex justify-between">
          <div></div>
          <div>
            <div class="flex w-[312px] justify-end sm:w-[420px]">
              <a
                class="mt-[5px]"
                mat-button
                color="primary"
                (click)="stepper.next()"
                data-testId="button-skipAddMembers"
              >
                <ng-container
                  *ngIf="
                    projectUserService.nonAdminProjectUsers$ | async as users
                  "
                >
                  {{
                    !users || users.length === 0 ? "Skip for now" : "Continue"
                  }}
                </ng-container>
                <mat-icon iconPositionEnd class="mat-icon-position right"
                  >navigate_next</mat-icon
                >
              </a>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div class="hidden sm:inline">(Optional) Add model</div>
      </ng-template>
      <h3 class="flex justify-center pb-[5px] sm:hidden sm:pb-0">
        (Optional) Add model
      </h3>
      <div class="flex justify-center">
        <app-create-model
          (currentStep)="modelCreationStep = $event"
          [redirectAfterCompletion]="false"
          #model_creator
        ></app-create-model>
      </div>
      <div class="flex justify-between">
        <div class="flex"></div>
        <div class="flex">
          <div class="mt-[-23px] flex w-[295px] justify-end sm:w-[420px]">
            <a
              class="mt-[5px]"
              mat-button
              [routerLink]="[
                '/project',
                (projectService.project$ | async)?.slug
              ]"
              [color]="getColorByModelCreationStep()"
              data-testId="a-skipModelAndFinishProjectCreation"
            >
              <span *ngIf="modelCreationStep === 'create-model'">
                Abort model creation and finish
              </span>
              <span
                *ngIf="
                  modelCreationStep !== 'create-model' &&
                  modelCreationStep !== 'complete'
                "
              >
                Abort model creation and finish
              </span>
              <span *ngIf="modelCreationStep === 'complete'">
                Finish project creation
              </span>
              <mat-icon iconPositionEnd class="mat-icon-position right"
                >check</mat-icon
              >
            </a>
          </div>
        </div>
        <div class="flex"></div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
