<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper flex justify-center">
  <mat-horizontal-stepper
    class="flex max-w-[360px] rounded-material shadow-md sm:max-w-[710px]"
    linear
    #stepper
  >
    <mat-step completed="false">
      <ng-template matStepLabel>
        <div class="hidden sm:inline">Create new project</div>
      </ng-template>
      <h3 class="flex justify-center sm:hidden">Create new project</h3>
      <div class="flex justify-center">
        <div class="collab-card w-[350px] sm:min-w-[420px]">
          <form [formGroup]="form">
            <div>
              <mat-form-field appearance="fill" class="form-field-default">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  data-testId="input-name"
                />
                @if (form.controls.name.errors?.uniqueSlug) {
                  <mat-error>
                    A project with a name similar to “{{
                      form.controls.name.errors!.uniqueSlug.value
                    }}” already exists.
                  </mat-error>
                } @else if (form.controls.name.errors?.required) {
                  <mat-error> A project name is required. </mat-error>
                }
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="form-field-default">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  formControlName="description"
                  data-testId="textarea-description"
                ></textarea>
              </mat-form-field>
            </div>
            <fieldset>
              <div class="flex flex-col">
                <legend>Project visibility</legend>
                <mat-radio-group
                  formControlName="visibility"
                  class="flex flex-col"
                >
                  @for (
                    visibility of projectService.getAvailableVisibilities();
                    track visibility
                  ) {
                    <mat-radio-button [value]="visibility">
                      {{
                        projectService.getProjectVisibilityDescription(
                          visibility
                        )
                      }}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              </div>
            </fieldset>
            <fieldset>
              <div class="flex flex-col">
                <legend>Project type</legend>
                <mat-radio-group formControlName="type" class="flex flex-col">
                  @for (
                    type of projectService.getAvailableProjectTypes();
                    track type
                  ) {
                    <mat-radio-button [value]="type">
                      {{ projectService.getProjectTypeDescription(type) }}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              </div>
            </fieldset>
            <div></div>
            <div class="mt-[10px] flex justify-between">
              <div></div>
              <div>
                <button
                  mat-flat-button
                  [disabled]="!form.valid"
                  (click)="createProject(stepper)"
                  data-testId="button-create-project"
                >
                  Create project
                  <mat-icon iconPositionEnd>navigate_next</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div class="hidden sm:inline">(Optional) Add team members</div>
      </ng-template>
      <h3 class="flex justify-center sm:hidden">(Optional) Add team members</h3>
      @if (projectService.project$ | async) {
        <div class="flex justify-center">
          <app-project-user-settings></app-project-user-settings>
        </div>
        <div>
          <div class="flex justify-between">
            <div></div>
            <div>
              <div class="flex w-[312px] justify-end sm:w-[420px]">
                <a
                  class="mt-[5px]"
                  mat-button
                  (click)="stepper.next()"
                  data-testId="button-skipAddMembers"
                >
                  @let users = projectUserService.nonAdminProjectUsers$ | async;
                  {{
                    !users || users.length === 0 ? "Skip for now" : "Continue"
                  }}
                  <mat-icon iconPositionEnd>navigate_next</mat-icon>
                </a>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      }
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div class="hidden sm:inline">(Optional) Add model</div>
      </ng-template>
      <h3 class="flex justify-center pb-[5px] sm:hidden sm:pb-0">
        (Optional) Add model
      </h3>
      <div class="flex justify-center">
        <app-create-model
          (currentStep)="modelCreationStep = $event"
          [redirectAfterCompletion]="false"
          #model_creator
        ></app-create-model>
      </div>
      <div class="flex justify-between">
        <div class="flex"></div>
        <div class="flex">
          <div class="mt-[-23px] flex w-[295px] justify-end sm:w-[420px]">
            <a
              class="mt-[5px]"
              mat-button
              [routerLink]="[
                '/project',
                (projectService.project$ | async)?.slug,
              ]"
              [color]="getColorByModelCreationStep()"
              data-testId="a-skipModelAndFinishProjectCreation"
            >
              @if (modelCreationStep === "create-model") {
                <span> Abort model creation and finish </span>
              } @else if (modelCreationStep === "complete") {
                <span> Finish project creation </span>
              } @else {
                <span> Abort model creation and finish </span>
              }

              <mat-icon iconPositionEnd>check</mat-icon>
            </a>
          </div>
        </div>
        <div class="flex"></div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
