/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#submit-button-wrapper {
  text-align: right;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
