<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap gap-5">
  <div class="collab-card h-fit">
    <div class="mb-2">
      <h2 class="text-xl font-medium">
        @if (existing) {
          Team4Capella Server
        } @else {
          Link a Team4Capella Server
        }
      </h2>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="flex flex-col flex-wrap gap-2"
    >
      <fieldset class="flex flex-wrap items-start gap-2">
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          @if (form.controls.name.errors?.required) {
            <mat-error>The name is required.</mat-error>
          } @else if (form.controls.name.errors?.uniqueName) {
            <mat-error>
              An instance with the same name already exists.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>Capella version</mat-label>
          <mat-select formControlName="version_id">
            @for (version of capellaVersions; track version.id) {
              <mat-option [value]="version.id">
                {{ version.name }}
              </mat-option>
            }
          </mat-select>
          @if (
            (t4cInstanceWrapperService.t4cInstance$ | async) !== undefined &&
            (t4cInstanceWrapperService.t4cInstance$ | async)!.version.id !==
              form.value.version_id
          ) {
            <mat-hint class="max-w-[180px]"
              >Models are not auto-migrated on version change.</mat-hint
            >
          } @else if (
            form.controls.version_id.errors?.required ||
            form.controls.version_id.errors?.min
          ) {
            <mat-error>The version is required.</mat-error>
          }
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>License configuration</mat-label>
          <input matInput formControlName="license" />
          @if (form.controls.license.errors?.required) {
            <mat-error>The license configuration is required.</mat-error>
          }
        </mat-form-field>
      </fieldset>
      <fieldset class="flex flex-wrap items-start gap-2">
        <mat-form-field
          subscriptSizing="dynamic"
          id="protocol"
          appearance="fill"
        >
          <mat-label>Protocol</mat-label>
          <mat-select formControlName="protocol">
            @for (protocol of protocols; track protocol) {
              <mat-option [value]="protocol">{{ protocol }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" id="host" appearance="fill">
          <mat-label>Host</mat-label>
          <input matInput formControlName="host" />
        </mat-form-field>
      </fieldset>

      <fieldset class="flex flex-wrap items-start gap-2">
        <mat-form-field
          subscriptSizing="dynamic"
          appearance="fill"
          class="w-[124px]"
        >
          <mat-label>Port</mat-label>
          <input matInput inputmode="numeric" formControlName="port" />
          @if (
            form.controls.port.errors?.min || form.controls.port.errors?.max
          ) {
            <mat-error>Valid ports are between 0 and 65535.</mat-error>
          } @else if (form.controls.port.errors?.pattern) {
            <mat-error>Only numerical ports are supported.</mat-error>
          } @else if (form.controls.port.errors?.required) {
            <mat-error>The port is required.</mat-error>
          }
        </mat-form-field>

        <mat-form-field
          subscriptSizing="dynamic"
          appearance="fill"
          class="w-[124px]"
        >
          <mat-label>CDO port</mat-label>
          <input matInput inputmode="numeric" formControlName="cdo_port" />
          @if (form.controls.cdo_port.errors?.required) {
            <mat-error>The CDO port is required.</mat-error>
          } @else if (form.controls.cdo_port.errors?.pattern) {
            <mat-error>Only numerical ports are supported.</mat-error>
          } @else if (
            form.controls.cdo_port.errors?.min ||
            form.controls.cdo_port.errors?.max
          ) {
            <mat-error>Valid CDO ports are between 0 and 65535.</mat-error>
          }
        </mat-form-field>

        <mat-form-field
          subscriptSizing="dynamic"
          appearance="fill"
          class="w-[124px]"
        >
          <mat-label>HTTP port</mat-label>
          <input matInput inputmode="numeric" formControlName="http_port" />
          @if (form.controls.http_port.errors?.pattern) {
            <mat-error>Only numerical ports are supported.</mat-error>
          } @else if (
            form.controls.http_port.errors?.min ||
            form.controls.http_port.errors?.max
          ) {
            <mat-error>Valid ports are between 0 and 65535.</mat-error>
          }
        </mat-form-field>
      </fieldset>
      <fieldset class="flex flex-wrap items-start gap-2">
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>License server API</mat-label>
          <input matInput formControlName="usage_api" />
          @if (form.controls.usage_api.errors?.required) {
            <mat-error>The license server API is required.</mat-error>
          } @else if (form.controls.usage_api.errors?.pattern) {
            <mat-error>The URL should start with "http(s)://"</mat-error>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>Experimental REST API</mat-label>
          <input matInput formControlName="rest_api" />
          @if (form.controls.rest_api.errors?.required) {
            <mat-error>The REST server URL is required.</mat-error>
          } @else if (form.controls.rest_api.errors?.pattern) {
            <mat-error>The URL should start with "http(s)://"</mat-error>
          }
        </mat-form-field>
      </fieldset>
      <fieldset class="flex flex-wrap items-start gap-2">
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput autocomplete="off" formControlName="username" />
          @if (form.controls.username.errors?.required) {
            <mat-error> The username is required. </mat-error>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            autocomplete="new-password"
            formControlName="password"
          />
          @if (form.controls.password.errors?.required) {
            <mat-error> The password is required. </mat-error>
          } @else if (existing && !form.value.password) {
            <mat-hint>Is not changed if empty</mat-hint>
          } @else {
            <mat-hint></mat-hint>
          }
        </mat-form-field>
      </fieldset>
      <div class="flex justify-between gap-2 *:basis-1/4">
        @if (!existing) {
          <button
            mat-flat-button
            color="primary"
            class="ml-auto"
            type="submit"
            [disabled]="!form.valid"
          >
            Create
          </button>
        } @else if (editing) {
          <button
            mat-flat-button
            type="button"
            color="primary"
            (click)="cancelEditing()"
          >
            Cancel
          </button>
          <button mat-flat-button type="submit" color="primary">Submit</button>
        } @else if (
          (t4cInstanceWrapperService.t4cInstance$ | async) !== undefined
        ) {
          @if (!isArchived) {
            <button mat-flat-button color="primary" (click)="enableEditing()">
              Edit
            </button>
          } @else {
            <div></div>
          }
          <button
            (click)="deleteT4CRepository()"
            mat-flat-button
            type="button"
            color="warn"
          >
            <mat-icon>delete_forever</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-flat-button color="primary" (click)="toggleArchive()">
            @if (!isArchived) {
              <mat-icon>archive</mat-icon>
            }
            {{ this.isArchived ? "Unarchive" : "Archive" }}
          </button>
          <div></div>
        }
      </div>
    </form>
  </div>

  @if ((t4cInstanceWrapperService.t4cInstance$ | async) !== undefined) {
    <app-t4c-instance-settings
      [instance]="(t4cInstanceWrapperService.t4cInstance$ | async)!"
    ></app-t4c-instance-settings>
    <app-licences
      [instance]="(t4cInstanceWrapperService.t4cInstance$ | async)!"
    ></app-licences>
  }
</div>
