<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap gap-5">
  <div>
    <div class="collab-card">
      <h2 *ngIf="!existing" class="text-xl font-medium">
        Add a Team4Capella instance
      </h2>
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="flex flex-col flex-wrap gap-2"
      >
        <fieldset class="flex flex-wrap items-start gap-2">
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="form.controls.name.errors?.required">
              The name is required.
            </mat-error>
            <mat-error *ngIf="form.controls.name.errors?.uniqueName"
              >An instance with the same name already exists.
            </mat-error>
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>Capella version</mat-label>
            <mat-select formControlName="version_id">
              <mat-option
                *ngFor="let version of capellaVersions"
                [value]="version.id"
              >
                {{ version.name }}
              </mat-option>
            </mat-select>
            @if (
              (t4cInstanceService.t4cInstance$ | async) !== undefined &&
              (t4cInstanceService.t4cInstance$ | async)!.version.id !==
                form.value.version_id
            ) {
              <mat-hint class="max-w-[180px]"
                >Models are not auto-migrated on version change.</mat-hint
              >
            } @else if (form.controls.version_id.errors?.required) {
              <mat-error> The version is required. </mat-error>
            }
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>License configuration</mat-label>
            <input matInput formControlName="license" />
            @if (form.controls.license.errors?.required) {
              <mat-error> The license configuration is required. </mat-error>
            }
          </mat-form-field>
        </fieldset>
        <fieldset class="flex flex-wrap items-start gap-2">
          <mat-form-field
            subscriptSizing="dynamic"
            id="protocol"
            appearance="fill"
          >
            <mat-label>Protocol</mat-label>
            <mat-select formControlName="protocol">
              <mat-option
                *ngFor="let protocol of ['tcp', 'ssl', 'ws', 'wss']"
                [value]="protocol"
                >{{ protocol }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic" id="host" appearance="fill">
            <mat-label>Host</mat-label>
            <input matInput formControlName="host" />
          </mat-form-field>
        </fieldset>

        <fieldset class="flex flex-wrap items-start gap-2">
          <mat-form-field
            subscriptSizing="dynamic"
            appearance="fill"
            class="w-[124px]"
          >
            <mat-label>Port</mat-label>
            <input matInput inputmode="numeric" formControlName="port" />
            <mat-error
              *ngIf="
                form.controls.port.errors?.min || form.controls.port.errors?.max
              "
            >
              Valid ports are between 0 and 65535.
            </mat-error>
            <mat-error *ngIf="form.controls.port.errors?.pattern">
              We only support numerical ports :(
            </mat-error>
            <mat-error *ngIf="form.controls.port.errors?.required">
              The port is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            subscriptSizing="dynamic"
            appearance="fill"
            class="w-[124px]"
          >
            <mat-label>CDO port</mat-label>
            <input matInput inputmode="numeric" formControlName="cdo_port" />
            <mat-error
              *ngIf="
                form.controls.cdo_port.errors?.min ||
                form.controls.cdo_port.errors?.max
              "
            >
              Valid CDO ports are between 0 and 65535.
            </mat-error>
            <mat-error *ngIf="form.controls.cdo_port.errors?.pattern">
              We only support numerical CDO ports :(
            </mat-error>
            <mat-error *ngIf="form.controls.cdo_port.errors?.required">
              The CDO port is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            subscriptSizing="dynamic"
            appearance="fill"
            class="w-[124px]"
          >
            <mat-label>HTTP port</mat-label>
            <input matInput inputmode="numeric" formControlName="http_port" />
            <mat-error
              *ngIf="
                form.controls.http_port.errors?.min ||
                form.controls.http_port.errors?.max
              "
            >
              Valid ports are between 0 and 65535.
            </mat-error>
            <mat-error *ngIf="form.controls.http_port.errors?.pattern">
              We only support numerical ports :(
            </mat-error>
          </mat-form-field>
        </fieldset>
        <fieldset class="flex flex-wrap items-start gap-2">
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>License server API</mat-label>
            <input matInput formControlName="usage_api" />
            <mat-error *ngIf="form.controls.usage_api.errors?.pattern">
              The URL should start with “http(s)://”
            </mat-error>
            <mat-error *ngIf="form.controls.usage_api.errors?.required">
              The license server API is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>Experimental REST API</mat-label>
            <input matInput formControlName="rest_api" />
            <mat-error *ngIf="form.controls.rest_api.errors?.pattern">
              The URL should start with “http(s)://”
            </mat-error>
            <mat-error *ngIf="form.controls.rest_api.errors?.required">
              The REST server URL is required.
            </mat-error>
          </mat-form-field>
        </fieldset>
        <fieldset class="flex flex-wrap items-start gap-2">
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput autocomplete="off" formControlName="username" />
            <mat-error *ngIf="form.controls.username.errors?.required">
              The username is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="new-password"
              formControlName="password"
            />
            <mat-error *ngIf="form.controls.password.errors?.required">
              The password is required.
            </mat-error>
            <mat-hint *ngIf="existing && !form.value.password"
              >Is not changed if empty</mat-hint
            >
          </mat-form-field>
        </fieldset>
        <div *ngIf="editing" class="flex justify-between">
          <button
            mat-flat-button
            type="button"
            color="warn"
            (click)="cancelEditing()"
          >
            Cancel
          </button>
          <button mat-flat-button type="submit" color="primary">Submit</button>
        </div>
        <div
          *ngIf="
            !editing &&
            existing &&
            (t4cInstanceService.t4cInstance$ | async) !== undefined
          "
          class="flex justify-between"
        >
          <div *ngIf="!isArchived; else archivePlaceholder">
            <button mat-flat-button color="primary" (click)="enableEditing()">
              Edit
            </button>
          </div>
          <ng-template #archivePlaceholder>
            <div class="grow"></div>
          </ng-template>
          <button mat-flat-button color="primary" (click)="toggleArchive()">
            <mat-icon class="mat-icon-position left">{{
              this.isArchived ? "unarchive" : "archive"
            }}</mat-icon>
            {{ this.isArchived ? "Unarchive" : "Archive" }}
          </button>
        </div>
        <div *ngIf="!existing" class="text-right">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="flex flex-col flex-wrap gap-5"
    *ngIf="(t4cInstanceService.t4cInstance$ | async) !== undefined"
  >
    <app-licences
      [instance]="(t4cInstanceService.t4cInstance$ | async)!"
    ></app-licences>
    <app-t4c-instance-settings
      [instance]="(t4cInstanceService.t4cInstance$ | async)!"
    ></app-t4c-instance-settings>
  </div>
</div>
