# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  labels:
    name: prometheus-server-conf
  namespace: "{{ .Release.Namespace }}"
data:
  prometheus.rules: |-
    groups:
      - name: Inactivity
        rules:
          - alert: Inactivity session
            expr: idletime_minutes > {{ .Values.sessions.timeout }}
            for: 1m
            annotations:
              summary: High Idletime
          - alert: Unused session
            expr: idletime_minutes < 0
            for: {{ .Values.sessions.timeout }}m
            annotations:
              summary: Unused session

  prometheus.yml: |-
    global:
      scrape_interval: 30s
      evaluation_interval: 30s
    rule_files:
      - /etc/prometheus/prometheus.rules

    scrape_configs:
      - job_name: "kubernetes-services"
        kubernetes_sd_configs:
          - role: service
            namespaces:
              names:
                - {{ .Values.backend.k8sSessionNamespace }}
        relabel_configs:
          # Scrape pods with annotation prometheus.io/scrape = "true"
          - source_labels:
              [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          # Scrape pods on path specified by prometheus.io/path
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          # Scrape pods on port specified by prometheus.io/port
          - source_labels:
              [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          # Transfer app label from kubernetes (name of the deployment)
          - source_labels: [__meta_kubernetes_service_label_app]
            action: replace
            target_label: app
          # Set label kubernetes_namespace
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          # Set label kubernetes_pod_name
          - source_labels: [__meta_kubernetes_service_name]
            action: replace
            target_label: kubernetes_service_name
