# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    id: {{ .Release.Name }}-serviceaccount-prometheus
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: {{ .Values.backend.k8sSessionNamespace }}
  name: {{ .Release.Name }}-prometheus
  labels:
    id: {{ .Release.Name }}-role-prometheus
rules:
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - watch
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-prometheus
  namespace: {{ .Values.backend.k8sSessionNamespace }}
  labels:
    id: {{ .Release.Name }}-rolebinding-prometheus
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Release.Name }}-prometheus
subjects:
  - kind: ServiceAccount
    apiGroup: ""
    name: {{ .Release.Name }}-prometheus
    namespace: {{ .Release.Namespace }}
