# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-prometheus-server
  namespace: {{ .Release.Namespace }}
  labels:
    id: {{ .Release.Name }}-service-prometheus
spec:
  type: ClusterIP
  selector:
    id: {{ .Release.Name }}-deployment-prometheus-server
  ports:
    - port: 9118
      targetPort: 9090
      protocol: TCP
      name: promui
