/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.center {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.center-text {
  text-align: center;
}

button {
  margin-top: 10px;
}

.repository-selection {
  margin-top: 10px;
}

mat-spinner {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
