<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-card class="persistent-session">
  <mat-card-header>
    <h1>Persistent Workspace</h1>
  </mat-card-header>

  <mat-card-content>
    <p>
      Persistent Workspaces will store all the changes you make on models.
      Additionally, newly created models will be stored in your personal
      workspace.
    </p>

    <form [formGroup]="form" (ngSubmit)="requestSession()">
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model tool</mat-label>
          <mat-select matInput formControlName="tool_id">
            <mat-option
              *ngFor="let tool of toolService.tools"
              value="{{ tool.id }}"
            >
              {{ tool.name }}
            </mat-option>
          </mat-select>
          <mat-error> Please select a valid tool. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Version</mat-label>
          <mat-select
            formControlName="version_id"
            [disabled]="
              form.controls.tool_id.value === null ||
              form.controls.tool_id.value < 0
            "
          >
            <mat-option
              *ngFor="
                let version of getVersionsForTool(form.controls.tool_id.value)
              "
              [value]="version.id"
            >
              {{ version.name }}
              <span *ngIf="version.is_recommended"> (recommended)</span>
              <span *ngIf="version.is_deprecated"> (deprecated)</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>

      <fieldset>
        <button
          matInput
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="
            !form.controls.tool_id.value || !form.controls.version_id.value
          "
        >
          Request a Persistent Workspace
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
