/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.file-tree {
  max-height: 50vh;
  overflow-y: auto;
}

.progress {
  display: flex;
}

.progress div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1em;
}

.progress button {
  flex: 0 1;
}

.file-tree-invisible {
  display: none;
}

.file-tree ul,
.file-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.file-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 20px;
}

.file-tree div[role="group"] > .mat-tree-node {
  padding-left: 8px;
  min-height: 10px;
}

.upload_button {
  margin-left: 20px;
}

.new-file {
  color: darkgreen;
}

.file-icon {
  padding-right: 10px;
  color: burlywood;
}

.dir-icon {
  color: darkblue;
}

#hidden-files {
  margin-left: 10px;
}
