<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flexbox">
  <a *ngFor="let project of projects" [routerLink]="['/project', project.slug]">
  <mat-card>
    <div class="wrapper">
      <div class="header"><span class="no-underline">{{ project.name }}</span></div>
      <div class="wrapper">
        <div class="content">
          <p *ngIf="project.description; else elseBlock">
            {{ project.description }}
          </p>
          <ng-template #elseBlock><p>No description provided.</p></ng-template>
        </div>
        <p class="footer">
          {{ project.users.leads }} project lead(s),
          {{ project.users.contributors }} contributor(s),
          {{ project.users.subscribers }}
          subscriber(s)
        </p>
      </div>
    </div>
  </mat-card>
  </a>
  <mat-card matRipple id="add" routerLink="/create-project">
    <div class="content">
      Add new project <br />
      <div id="add-project-wrapper">
        <span class="add-icon">
          <mat-icon [inline]="true">add_circle_outline</mat-icon>
        </span>
      </div>
    </div>
  </mat-card>
</div>
