<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap">
  <a routerLink="/projects/create" class="m-2.5">
    <mat-card matRipple class="mat-card-overview new m-0">
      <div class="content">
        Add new project <br />
        <div class="icon">
          <app-mat-icon size="70px">add_circle_outline</app-mat-icon>
        </div>
      </div>
    </mat-card>
  </a>
  <app-mat-card-overview-skeleton-loader
    [loading]="(projectService.projects$ | async) === undefined"
  ></app-mat-card-overview-skeleton-loader>
  <ng-container *ngIf="projectService.projects$ | async">
    <a
      class="m-2.5"
      *ngFor="let project of (projectService.projects$ | async)!"
      [routerLink]="['/project', project.slug]"
    >
      <mat-card
        [ngClass]="{ 'bg-archived': project.is_archived }"
        matRipple
        class="mat-card-overview m-0"
      >
        <div class="header">{{ project.name }}</div>
        <div class="p-3">
          <div>
            <div *ngIf="project.description; else elseBlock">
              {{ project.description }}
            </div>
            <ng-template #elseBlock>No description provided.</ng-template>
          </div>
          <div class="fixed bottom-2 right-2 text-right text-stone-500">
            <div>
              {{
                project.visibility === "internal"
                  ? "Internal project"
                  : "Private project"
              }}
            </div>
            <div>
              {{ project.users.leads }} project lead(s),
              {{ project.users.contributors }} contributor(s),
              {{ project.users.subscribers }}
              subscriber(s)
            </div>
            <div *ngIf="project.is_archived">Archived</div>
          </div>
        </div>
      </mat-card>
    </a>
  </ng-container>
</div>
