<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flexbox">
  <a routerLink="/projects/create">
    <mat-card matRipple id="add">
      <div class="content">
        Add new project <br />
        <div id="add-project-wrapper">
          <mat-icon class="mat-icon-70px">add_circle_outline</mat-icon>
        </div>
      </div>
    </mat-card>
  </a>
  <a
    *ngFor="let project of projectService.projects"
    [routerLink]="['/project', project.slug]"
  >
    <mat-card matRipple>
      <div class="wrapper">
        <div class="header">{{ project.name }}</div>
        <div class="wrapper">
          <div class="content">
            <div *ngIf="project.description; else elseBlock">
              {{ project.description }}
            </div>
            <ng-template #elseBlock>No description provided.</ng-template>
          </div>
          <div class="footer">
            {{ project.users.leads }} project lead(s),
            {{ project.users.contributors }} contributor(s),
            {{ project.users.subscribers }}
            subscriber(s)
          </div>
        </div>
      </div>
    </mat-card>
  </a>
</div>
