<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-expansion-panel [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Learn how to use the diagram cache with capellambse!
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="px-3 pb-3 text-sm">
    <div>
      You can also access the diagrams via our Python library
      <i>capellambse</i>. Follow the installation instructions on
      <a
        target="_blank"
        rel="noopener"
        class="text-primary"
        href="https://github.com/DSD-DBS/py-capellambse#installation"
        >GitHub<span class="align-middle"
          ><mat-icon class="scale-75">open_in_new</mat-icon></span
        >
      </a>
      and then use the code snippet. To authenticate, you have to insert a
      personal access token. The token has the same scope as your user. Be
      careful with it. You can revoke the token in the settings.
    </div>
    <div
      class="my-2 [&>pre]:overflow-x-auto [&>pre]:rounded-md [&>pre]:border [&>pre]:p-3
        [&>pre]:shadow-sm"
      [innerHTML]="highlightedCodeBlockContent"
    ></div>
    <div class="flex flex-wrap gap-2">
      <button
        [cdkCopyToClipboard]="this.codeBlockContent"
        matTooltip="Copy codeblock to clipboard"
        mat-raised-button
        (click)="showClipboardMessage()"
      >
        <mat-icon class="m-0!">content_copy</mat-icon>
      </button>
      <button
        class="mt-auto self-end text-white"
        (click)="insertToken()"
        [disabled]="passwordValue"
        matTooltip="Insert new personal access token for your user"
        mat-raised-button
      >
        Insert token
      </button>
    </div>
  </div>
</mat-expansion-panel>
