# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

{{- if eq .Values.cluster.kind "OpenShift" }}
{{ $frontend := dict "path" "/" "service" "frontend" "targetPort" "http" }}
{{ $backend := dict "path" "/api" "service" "nginx-clusterip" "targetPort" "http" }}
{{ $docs := dict "path" "/docs" "service" "docs" "targetPort" "http" }}
{{ $guacamole := dict "path" "/guacamole" "service" "guacamole-guacamole" "targetPort" "http" }}
{{ $prometheus := dict "path" "/prometheus" "service" "prometheus-nginx" "targetPort" "promui" }}
{{ $grafana := dict "path" "/grafana" "service" "grafana-nginx" "targetPort" "grafui" }}
{{ $routes := list $frontend $backend $docs $guacamole $prometheus $grafana }}
{{ if .Values.mocks.oauth }}
{{ $oauth := dict "path" "/default" "service" "oauth-mock" "targetPort" "8080" }}
{{ $routes = append $routes $oauth }}
{{ end }}
{{ range $route := $routes }}
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ $.Release.Name }}-route-{{ get $route "service" }}
spec:
  host: "{{ $.Values.general.host }}"
  path: {{ get $route "path" }}
  to:
    kind: Service
    name: {{ $.Release.Name }}-{{ get $route "service" }}
  port:
    targetPort: {{ get $route "targetPort" }}
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
---
{{ end }}
{{ end }}
