# Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

{{- if eq .Values.cluster.kind "OpenShift" }}
{{ $frontend := dict "path" "/" "service" "frontend" }}
{{ $backend := dict "path" "/api/v1" "service" "nginx-clusterip" }}
{{ $docs := dict "path" "/docs" "service" "nginx-clusterip" }}
{{ $guacamole := dict "path" "/guacamole" "service" "guacamole-guacamole" }}
{{ $prometheus := dict "path" "/prometheus" "service" "prometheus-nginx" }}
{{ $routes := list $frontend $backend $docs $guacamole $prometheus }}
{{ range $route := $routes }}
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ $.Release.Name }}-route-{{ get $route "service" }}
spec:
  host: "{{ $.Values.cluster.service.fqdn }}"
  path: {{ get $route "path" }}
  to:
    kind: Service
    name: {{ $.Release.Name }}-{{ get $route "service" }}
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
---
{{ end }}
{{ end }}
