<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<article class="flex flex-wrap">
  <a [routerLink]="['create']" class="m-2.5">
    <mat-card matRipple class="mat-card-overview new m-0">
      <div class="content">
        Add a tool <br />
        <div class="icon">
          <app-mat-icon size="70px">add_circle_outline</app-mat-icon>
        </div>
      </div>
    </mat-card>
  </a>

  <a
    *ngFor="let tool of toolService.tools"
    [routerLink]="['..', 'tool', tool.id]"
    class="m-2.5"
  >
    <mat-card matRipple class="mat-card-overview m-0">
      <div class="header">{{ tool.name }}</div>
      <div class="content" *ngIf="tools[tool.id]">
        <mat-icon class="mat-icon-position top">history</mat-icon>
        <b> Available versions:</b>
        {{
          mapToolVersionOrNatureToName(tools[tool.id]["versions"]).join(", ")
        }}
        <br />
        <mat-icon class="mat-icon-position top">extension</mat-icon
        ><b> Available types:</b>
        {{ mapToolVersionOrNatureToName(tools[tool.id]["natures"]).join(", ") }}
      </div>
    </mat-card>
  </a>
</article>
