<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<article class="flex flex-wrap gap-5">
  <a [routerLink]="['create']">
    <div matRipple class="mat-card-overview new collab-card !m-0">
      <div class="content flex flex-col items-center justify-center">
        Add a Tool <br />
        <div class="icon">
          <app-mat-icon size="70px">add_circle_outline</app-mat-icon>
        </div>
      </div>
    </div>
  </a>

  <a
    *ngFor="let tool of toolService.tools"
    [routerLink]="['..', 'tool', tool.id]"
  >
    <div matRipple class="mat-card-overview collab-card !m-0">
      <div class="header">{{ tool.name }}</div>
      <div class="content" *ngIf="tools[tool.id]">
        <mat-icon class="mat-icon-position top">history</mat-icon>
        <b> Available versions:</b>
        {{
          mapToolVersionOrNatureToName(tools[tool.id]["versions"]).join(", ")
        }}
        <br />
        <mat-icon class="mat-icon-position top">extension</mat-icon
        ><b> Available types:</b>
        {{ mapToolVersionOrNatureToName(tools[tool.id]["natures"]).join(", ") }}
      </div>
    </div>
  </a>
</article>
