<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<article class="flex flex-wrap gap-5">
  <a [routerLink]="['create']">
    <div matRipple class="mat-card-overview new collab-card !m-0">
      <div class="content flex flex-col items-center justify-center">
        Add a Tool <br />
        <div class="icon">
          <app-mat-icon size="70px">add_circle_outline</app-mat-icon>
        </div>
      </div>
    </div>
  </a>

  @for (tool of toolService.tools; track tool.id) {
    <a [routerLink]="['..', 'tool', tool.id]">
      <div matRipple class="mat-card-overview collab-card !m-0">
        <div class="header">{{ tool.name }}</div>
        @if (tools[tool.id]) {
          <div class="content flex flex-col gap-2">
            <div class="flex items-center gap-1">
              <div class="flex"><mat-icon>history</mat-icon></div>
              <span>
                <b>Available versions:</b>
                {{
                  mapToolVersionOrNatureToName(tools[tool.id]["versions"]).join(
                    ", "
                  )
                }}
              </span>
            </div>
            <div class="flex items-center gap-1">
              <div class="flex"><mat-icon>extension</mat-icon></div>
              <span
                ><b>Available types:</b>
                {{
                  mapToolVersionOrNatureToName(tools[tool.id]["natures"]).join(
                    ", "
                  )
                }}</span
              >
            </div>
          </div>
        }
      </div>
    </a>
  }
</article>
