<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <h1>Available Tools</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Capella </mat-panel-title>
        <mat-panel-description> Test test </mat-panel-description>
      </mat-expansion-panel-header>
      <a mat-raised-button>Edit available versions</a>
      <a mat-raised-button>Edit available types</a>
      <a mat-raised-button>Edit dockerimages</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
