<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <div class="title">Persistent workspaces</div>
  <mat-form-field appearance="fill">
    <mat-label>Dockerimage</mat-label>
    <input matInput placeholder="/t4c/client/remote" />
  </mat-form-field>
  <div class="title">
    <span>Read-only workspaces</span>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Dockerimage</mat-label>
    <input matInput placeholder="/t4c/client/remote" /> </mat-form-field
  ><br />
  <button mat-raised-button>Save</button>
</div>
