/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.right-button {
  margin-left: 20px;
}

.mat-card {
  width: fit-content;
}

.title {
  font-size: 2em;
}

.wrapper {
  margin: 20px;
}
