<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <div class="title">Edit Instance</div>
  <br />
  <div class="collab-card">
    <form [formGroup]="gitInstanceForm" id="add-instance-form">
      <mat-form-field class="form-field-default" appearance="fill">
        <mat-label>Git Type</mat-label>
        <mat-select matInput formControlName="type">
          <mat-option value="General" selected
            >General Git (limited)</mat-option
          >
          <mat-option value="GitLab">Gitlab</mat-option>
          <mat-option value="GitHub">GitHub</mat-option>
          <mat-option value="AzureDevOps" disabled
            >Azure DevOps (unsupported)</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="form-field-default" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="gitInstanceForm.controls.name.errors?.uniqueName"
          >A instance with the name "{{
            gitInstanceForm.controls.name.errors?.uniqueName.value
          }}" already exists</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field class="form-field-default" appearance="fill">
        <mat-label>Instance base URL</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
      <br />
      <mat-form-field
        *ngIf="gitInstanceForm.controls.type.value !== 'General'"
        class="form-field-default"
        appearance="fill"
      >
        <mat-label>API URL</mat-label>
        <input matInput formControlName="apiURL" />
      </mat-form-field>
    </form>
    <div class="flex justify-between">
      <button
        [class]="'right-button'"
        mat-flat-button
        color="primary"
        (click)="editGitInstance()"
        [disabled]="!gitInstanceForm.valid"
      >
        Save changes
      </button>
    </div>
  </div>
</div>
