<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <div class="title">Edit Instance</div>

  <mat-card>
    <form [formGroup]="gitSettingsForm" id="add-instance-form">
      <mat-form-field id="instance-url" appearance="fill">
        <mat-label>Git Type</mat-label>
        <mat-select matInput formControlName="type">
          <mat-option value="General" selected
            >General Git (limited)</mat-option
          >
          <mat-option value="GitLab" disabled>GitLab (unsupported)</mat-option>
          <mat-option value="GitHub" disabled>GitHub (unsupported)</mat-option>
          <mat-option value="AzureDevOps" disabled
            >Azure DevOps (unsupported)</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field id="instance-url" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <br />
      <mat-form-field id="instance-url" appearance="fill">
        <mat-label>Instance base URL</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
    </form>
    <a mat-raised-button (click)="goBack()">
      <app-mat-icon>last_page</app-mat-icon> Back
    </a>
    <button
      [class]="'right-button'"
      mat-flat-button
      color="primary"
      (click)="editGitSettings()"
    >
      Save changes
    </button>
  </mat-card>
</div>
