<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-card class="section-card">
    <h2>Create a model with a source for the project {{ projectService.project?.name }}</h2>
    <form [formGroup]="gitForm" (submit)="onSubmit()">
      <div formGroupName="info">
        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Model name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Model description</mat-label>
            <textarea rows="3" matInput formControlName="description">
            </textarea>
          </mat-form-field>
        </fieldset>
      </div>
      <div formGroupName="credentials">
        <fieldset>
          <mat-form-field>
            <mat-label>Repository url</mat-label>
            <input matInput formControlName="url">
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field>
            <mat-label>Git username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <div class="field-separator"></div>
          <mat-form-field>
            <mat-label>Git password or token</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </fieldset>
      </div>
      <fieldset>
        <mat-form-field>
          <mat-label>Revision</mat-label>
          <input matInput formControlName="revision">
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field>
          <mat-label>Path</mat-label>
          <input matInput formControlName="path">
        </mat-form-field>
        <div class="field-separator"></div>
        <mat-form-field>
          <mat-label>Entry point</mat-label>
          <input matInput formControlName="entrypoint">
        </mat-form-field>
      </fieldset>
      <button mat-raised-button color="primary"
        [disabled]="!gitForm.valid" type="submit">
        Create model with source
      </button>
    </form>
  </mat-card>
</div>