<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-card class="section-card">
    <h2>Create a model with a source for the project {{ projectService.project?.name }}</h2>
    <form [formGroup]="gitForm" (submit)="onSubmit()">
      <div formGroupName="info">
        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Model name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Model description</mat-label>
            <textarea rows="3" matInput formControlName="description">
            </textarea>
          </mat-form-field>
        </fieldset>
      </div>
      <div formGroupName="credentials">
        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Repository url</mat-label>
            <input matInput formControlName="url">
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Git username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <div class="field-separator"></div>
          <mat-form-field appearance="fill">
            <mat-label>Git password or token</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </fieldset>
      </div>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Branch, tag or revision</mat-label>
          <input type="text" matInput formControlName="revision"
            [matAutocomplete]="auto"/>
        </mat-form-field>
          <mat-autocomplete autoActiveFirstOption 
            #auto="matAutocomplete">
            <mat-optgroup label="branch">
              <mat-option 
                *ngFor="let option of filteredRevisions.branches"
                [value]="option">
                {{ option }}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="tag">
              <mat-option *ngFor="let option of filteredRevisions.tags"
                [value]="option">
                {{ option }}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Path</mat-label>
          <input type="text" matInput formControlName="path">
        </mat-form-field>
        <div class="field-separator"></div>
        <mat-form-field appearance="fill">
          <mat-label>Entry point</mat-label>
          <input type="text" matInput formControlName="entrypoint">
        </mat-form-field>
      </fieldset>
      <button mat-raised-button color="primary"
        [disabled]="!gitForm.valid" type="submit">
        Create model with source
      </button>
    </form>
  </mat-card>
</div>