<h1>Project manager options</h1>
<mat-card>
  <h2>Manage projects</h2>
  You are Manager of these projects. Please select a project to see all
  settings. <br />
  <button
    *ngFor="let repo of repositoryService.repositories"
    color="primary"
    mat-flat-button
    [routerLink]="'/settings/projects/' + repo.repository_name"
  >
    {{ repo.repository_name }}
  </button>
  <button
    *ngIf="userService.user?.role === 'administrator'"
    color="primary"
    mat-flat-button
    [routerLink]="'/settings/projects/create'"
  >
    <mat-icon>add</mat-icon>
  </button></mat-card
>
