/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  margin: 20px;
  height: 100%;
}

mat-card {
  margin: 0;
  height: 100px;
}

mat-form-field {
  width: 460px;
}

#submit {
  margin-top: -200px !important;
  position: relative;
  top: 5px;
  left: 400px;
}

textarea {
  resize: none;
}
