/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  background-image: url("/assets/train-gb6863c2fc_1920.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-card {
  background-color: #010035;
  color: white;
  margin: 200px auto;
}

.content {
  margin: 20px;
  text-align: center;
}

#title {
  font-size: 5em;
}
