# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-backend
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "80"
  labels:
    id: {{ .Release.Name }}-service-backend
spec:
  type: ClusterIP
  selector:
    id: {{ .Release.Name }}-deployment-backend
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
