# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-docs
  labels:
    id: {{ .Release.Name }}-deployment-docs
spec:
  replicas: {{ .Values.replicaCount.docs | default 1 }}
  selector:
    matchLabels:
      id: {{ .Release.Name }}-deployment-docs
  template:
    metadata:
      labels:
        id: {{ .Release.Name }}-deployment-docs
    spec:
      {{- include "capellacollab.pod.spec" . | indent 6 -}}
      containers:
        - name: {{ .Release.Name }}-docs
          image: {{ .Values.docker.registry.internal }}{{ .Values.docker.images.docs }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{ if .Values.development }}
            limits:
              cpu: "0.2"
              memory: 20Mi
            requests:
              cpu: "0.01"
              memory: 5Mi
            {{ else }}
            limits:
              cpu: "0.2"
              memory: 50Mi
            requests:
              cpu: "0.05"
              memory: 10Mi
            {{ end }}
          {{ if .Values.cluster.containers }}
          {{- toYaml .Values.cluster.containers | nindent 10 }}
          {{ end }}
