<h1 mat-dialog-title>Remove Project</h1>
<div mat-dialog-content>
  <p>
    Do you really want delete the Project {{ project.name }} with the ID
    {{ project.id }}?
  </p>
  <p>
    This will remove all related Git repository connections and will delete all
    Backup Jobs!
  </p>
  <p>The deletion cannot be undone!</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close(false)">No</button>
  <button mat-flat-button (click)="removeProject()">
    Remove the Project, Git Connections and Backup Jobs
  </button>
</div>
