<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<h1>User Options</h1>
<div *ngIf="!repositories.length">
  <mat-card> You don't have any repositories. </mat-card>
</div>
<mat-card *ngIf="repositories.length"
  ><form [formGroup]="updatePasswordForm">
    <mat-form-field>
      <mat-label>Repository</mat-label>
      <mat-select formControlName="repository">
        <mat-option
          *ngFor="let repository of repositories"
          [value]="repository.repository_name"
          >{{ repository.repository_name }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="repository.getError('required')"
        >Please select a repository!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput />
      <mat-error *ngIf="password.getError('required')"
        >Please enter a password!</mat-error
      >
      <mat-error *ngIf="password.getError('minlength')"
        >The password must be at least 8 characters long!</mat-error
      >
    </mat-form-field>
    <button
      mat-flat-button
      [ngClass]="updatePasswordSuccess ? 'success' : 'primary'"
      type="submit"
      (click)="updatePassword()"
      id="update-password-button"
    >
      <span *ngIf="updatePasswordSuccess">
        <mat-icon>check_circle_outline</mat-icon>
      </span>
      <div *ngIf="!updatePasswordSuccess">Update Password</div>
    </button>
  </form>
</mat-card>
