<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <a href="/docs/release-notes/" target="_blank">
    <div
      class="version"
      *ngIf="versionService.changedVersion && versionService.version"
    >
      New version. What's new? (<span *ngIf="versionService.oldVersion"
        >{{ versionService.oldVersion }}
        <mat-icon class="mat-icon-position top left"
          >arrow_right_alt</mat-icon
        ></span
      >
      {{ versionService.version.git.tag }})!
    </div>
    Environment: {{ env }} <br />
    Frontend version: {{ versionService.version?.git?.version }} <br />
    Backend version: {{ backend }}
  </a>
</div>
