/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  margin: 10px;
  color: grey;
  cursor: pointer;
}

.wrapper a {
  color: inherit;
}
