<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<a>
  <div class="wrapper" (click)="versionService.openReleaseNotes()">
    <div
      class="version"
      *ngIf="versionService.changedVersion && versionService.version"
    >
      New version available (<span *ngIf="versionService.oldVersion"
        >{{ versionService.oldVersion }}
        <mat-icon class="position">arrow_right_alt</mat-icon></span
      >{{ versionService.version.git.tag }})!
    </div>
    Environment: {{ env }} <br />
    Frontend version: {{ versionService.version?.git?.version }} <br />
    Backend version:
    {{ backend }}
  </div>
</a>
