/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  margin: 10px;
  color: grey;
  cursor: pointer;
}

.wrapper a {
  color: inherit;
}
