<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<h1 mat-dialog-title>Remove Git model assignment</h1>
<div mat-dialog-content>
  <p>
    Do you really want delete the Git model {{ input.model.name }} with the ID
    {{ input.model.id }}?
  </p>
  <p>
    This will remove the Git model connection. It will not affect the existing
    Git repository!
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close(false)">No</button>
  <button mat-flat-button (click)="unassignGitModel()">Unassign</button>
</div>
