<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-card class="section-card">
    <h2>
      Add model to project
      {{ projectService.project ? projectService.project.name : "" }}
    </h2>
    <form
      id="create-model-base-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model description</mat-label>
          <textarea rows="3" matInput formControlName="description"> </textarea>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model tool</mat-label>
          <mat-select matInput formControlName="tool_id">
            <mat-option
              *ngFor="let tool of toolService.tools"
              value="{{ tool.id }}"
            >
              {{ tool.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Create model
      </button>
    </form>
  </mat-card>
</div>
