<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog">
  <form (submit)="onSubmit()">
    <h2 class="mb-5 text-xl font-medium">{{ data.title }}</h2>
    <div [innerHTML]="data.text"></div>
    @if (data.requiredInput) {
      <p>
        Please type in
        <span class="font-bold">{{ data.requiredInput }}</span> to confirm the
        action:
      </p>
      <mat-form-field class="mt-2 w-full" appearance="outline">
        <input
          matInput
          [(ngModel)]="inputText"
          name="inputText"
          placeholder="Type here..."
        />
      </mat-form-field>
    } @else {
      <div class="mb-5"></div>
    }

    <div class="mt-2 flex justify-between">
      <button mat-flat-button type="button" (click)="onCancel()">Cancel</button>
      <button
        mat-flat-button
        class="error-button"
        [disabled]="!isSubmitAllowed()"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
