<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap">
  <mat-card id="manage-users">
    <h2>Manage users</h2>
    <mat-form-field id="search" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search"
        autocomplete="off"
        matInput
        placeholder="Username"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-selection-list
      #userSelectionList
      [multiple]="false"
      class="scrollable simple-scroll"
      (selectionChange)="onUserSelect($event.options[0].value)"
    >
      <div mat-subheader>Administrators</div>
      <mat-list-option
        *ngFor="let user of getUsersByRole('administrator')"
        [value]="user"
      >
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{ user.name }}</div>
        <div mat-line>{{ projectUserService.ADVANCED_ROLES[user.role] }}</div>
      </mat-list-option>
      <div mat-subheader>Users</div>
      <mat-list-option
        *ngFor="let user of getUsersByRole('user')"
        [value]="user"
      >
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{ user.name }}</div>
        <div mat-line>{{ projectUserService.ADVANCED_ROLES[user.role] }}</div>
      </mat-list-option>
    </mat-selection-list>

    <div *ngIf="selectedUser">
      <button
        mat-flat-button
        color="primary"
        *ngIf="
          selectedUser.role === 'administrator' &&
          selectedUser.id !== userService.user?.id
        "
        (click)="downgradeToUser(selectedUser)"
      >
        <mat-icon>arrow_downward</mat-icon>
        Downgrade {{ selectedUser.name }} to User
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="upgradeToAdministrator(selectedUser)"
        *ngIf="selectedUser.role === 'user'"
      >
        <mat-icon>arrow_upward</mat-icon>
        Upgrade
        {{ selectedUser.name }} to Administrator
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="deleteUser(selectedUser)"
        *ngIf="selectedUser.role === 'user'"
      >
        <mat-icon>delete</mat-icon>
        Delete {{ selectedUser.name }}
      </button>
    </div>
  </mat-card>
  <mat-card class="default">
    <h2>Create User</h2>
    In general, users are created automatically when logging in the first time.
    <br />
    However, there may be cases where you want to create the user before the
    first login. <br />
    <form [formGroup]="createUserFormGroup" class="flex justify-between">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="username.getError('required')"
          >Please enter a username!</mat-error
        >
        <mat-error *ngIf="username.getError('userAlreadyExists')"
          >The username does already exist!</mat-error
        >
      </mat-form-field>
      <button mat-flat-button (click)="createUser()" color="primary">
        Create User <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </mat-card>
  <mat-card class="wider">
    <h2>User information</h2>
    <div *ngIf="selectedUserHistory && selectedUser">
      <div>Username: {{ selectedUserHistory.name }}</div>
      <div *ngIf="selectedUserHistory.created">
        Created:
        {{ selectedUserHistory.created | date: "EE, dd MMM y HH:mm:ss" }}
      </div>
      <div *ngIf="selectedUserHistory.last_login">
        Last login:
        {{ selectedUserHistory.last_login | date: "EE, dd MMM y HH:mm:ss" }}
      </div>
      <div>
        <table mat-table [dataSource]="historyEventDataSource">
          <ng-container matColumnDef="eventType">
            <th mat-header-cell *matHeaderCellDef>Event Type</th>
            <td mat-cell *matCellDef="let event">{{ event.event_type }}</td>
          </ng-container>

          <ng-container matColumnDef="executorName">
            <th mat-header-cell *matHeaderCellDef>Executor Name</th>
            <td mat-cell *matCellDef="let event">
              {{ event.executor?.name || "System" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="executionTime">
            <th mat-header-cell *matHeaderCellDef>Execution Time</th>
            <td mat-cell *matCellDef="let event">
              {{ event.execution_time | date: "EE, dd MMM y HH:mm:ss" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef>Project Slug</th>
            <td mat-cell *matCellDef="let event">
              {{ event.project?.name || "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef>Reason</th>
            <td mat-cell *matCellDef="let event">{{ event.reason }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <div *ngIf="!selectedUserHistory && !selectedUser">
      You must first select a user to see the user details
    </div>
    <div *ngIf="!selectedUserHistory && selectedUser">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          'border-radius': '5px',
          height: '250px',
          width: '600px',
          border: '1px solid white'
        }"
      ></ngx-skeleton-loader>
    </div>

    <div [hidden]="!selectedUserHistory">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card>
</div>
