<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap gap-5">
  <div class="collab-card mb-[10px] w-card max-w-[85vw]">
    <h2 class="text-xl font-medium">Manage Users</h2>

    <mat-form-field class="mt-[5px] w-full pb-0" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search"
        autocomplete="off"
        matInput
        placeholder="Username"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div [class]="'max-h-[40vh] overflow-auto'">
      <div mat-subheader>Administrators</div>

      @for (user of getUsersByRole("administrator"); track user.id) {
        <div class="mx-1.5 my-2.5 flex items-center justify-between">
          <a [routerLink]="['/user', user.id]" class="flex items-center">
            <mat-icon mat-list-icon class="min-w-[24px] text-center"
              >account_circle</mat-icon
            >
            <div class="ml-2">
              <div mat-line>{{ user.name }}</div>
              <div mat-line class="text-gray-500">
                {{ advanced_roles[user.role] }}
              </div>
            </div>
          </a>

          @if (user.id !== userService.user?.id) {
            <button
              class="mx-0 px-0"
              mat-icon-button
              color="primary"
              (click)="downgradeToUser(user)"
              matTooltip="Downgrade user to normal user"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
          }
        </div>
      }

      <div mat-subheader>Users</div>

      @for (user of getUsersByRole("user"); track user.id) {
        <div class="mx-1.5 my-2.5 flex justify-between">
          <a [routerLink]="['/user', user.id]" class="flex items-center">
            <mat-icon mat-list-icon class="min-w-[24px] text-center"
              >account_circle</mat-icon
            >
            <div class="ml-2">
              <div mat-line>{{ user.name }}</div>
              <div mat-line class="text-gray-500">
                {{ advanced_roles[user.role] }}
              </div>
            </div>
          </a>
          <div class="ml-1 mr-0 flex items-center">
            @if (user.role === "user") {
              <button
                class="mx-0 px-0"
                mat-icon-button
                color="warn"
                (click)="deleteUser(user)"
                matTooltip="Permamently delete user"
              >
                <mat-icon color="warn">delete</mat-icon>
              </button>
            }
            <button
              class="mx-0 px-0"
              mat-icon-button
              color="primary"
              (click)="upgradeToAdministrator(user)"
              matTooltip="Upgrade user to administrator"
            >
              <mat-icon>arrow_upward</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="collab-card h-1/4 w-card">
    <h2 class="text-xl font-medium">Create User</h2>
    In general, users are created automatically when logging in the first time.
    If you want to create the user before the first login, use this form. <br />
    <form [formGroup]="createUserFormGroup">
      <mat-form-field class="mt-3 w-full">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        @if (username.errors?.required) {
          <mat-error> Please enter an username! </mat-error>
        } @else if (username.errors?.userAlreadyExists) {
          <mat-error> The username already exists! </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Identity Provider Identifier</mat-label>
        <input matInput formControlName="idpIdentifier" />
        @if (idpIdentifier.errors?.required) {
          <mat-error> Please enter an IdP identifier! </mat-error>
        } @else if (idpIdentifier.errors?.userAlreadyExists) {
          <mat-error> The IdP identifier already exists! </mat-error>
        }
      </mat-form-field>
      <br />
      <button
        class="w-full"
        mat-flat-button
        (click)="createUser()"
        color="primary"
      >
        Create User
        <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </div>
</div>
