/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

mat-card {
  width: fit-content;
  margin: 10px;
  height: fit-content;
}

mat-card.wider {
  width: 600px;
}

mat-form-field {
  margin-right: 10px;
}

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell,
.mat-header-cell {
  padding: 0.75rem !important;
}

h1 {
  margin: 10px;
}

#manage-users {
  width: 400px;
  max-width: 85vw;
}

button {
  margin-top: 5px;
  display: block;
}

.user-selection {
  max-height: 40vh;
}

#search {
  padding-bottom: 0px;
  width: 100%;
}

.scrollable {
  max-height: 40vh;
  overflow-y: auto;
}

.default {
  width: 400px;
}

.flex justify-between {
  align-items: center;
}
