<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flexbox">
  <mat-card id="manage-users">
    <h2>Manage users</h2>
    <mat-form-field id="search" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search"
        autocomplete="off"
        matInput
        placeholder="Username"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-selection-list
      #adminusers
      [multiple]="false"
      class="scrollable simple-scroll"
    >
      <div mat-subheader>Administrators</div>
      <mat-list-option
        *ngFor="let user of getUsersByRole('administrator')"
        [value]="user"
      >
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{ user.name }}</div>
        <div mat-line>{{ projectUserService.ADVANCED_ROLES[user.role] }}</div>
      </mat-list-option>
      <div mat-subheader>Users</div>
      <mat-list-option
        *ngFor="let user of getUsersByRole('user')"
        [value]="user"
      >
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{ user.name }}</div>
        <div mat-line>{{ projectUserService.ADVANCED_ROLES[user.role] }}</div>
      </mat-list-option>
    </mat-selection-list>

    <div *ngIf="adminusers.selectedOptions.selected.length">
      <button
        mat-flat-button
        color="primary"
        *ngIf="
          adminusers.selectedOptions.selected[0]?.value.role ===
            'administrator' &&
          adminusers.selectedOptions.selected[0]?.value.name !==
            userService.getUserName()
        "
        (click)="
          this.removeAdministrator(adminusers.selectedOptions.selected[0].value)
        "
      >
        <mat-icon>arrow_downward</mat-icon>
        Downgrade
        {{ adminusers.selectedOptions.selected[0].value.name }} to User
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="
          createAdministratorWithUsername(
            adminusers.selectedOptions.selected[0].value
          )
        "
        *ngIf="adminusers.selectedOptions.selected[0]?.value.role === 'user'"
      >
        <mat-icon>arrow_upward</mat-icon>
        Upgrade
        {{ adminusers.selectedOptions.selected[0].value.name }} to Administrator
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="deleteUser(adminusers.selectedOptions.selected[0].value)"
        *ngIf="adminusers.selectedOptions.selected[0]?.value.role === 'user'"
      >
        <mat-icon>delete</mat-icon>
        Delete
        {{ adminusers.selectedOptions.selected[0].value.name }}
      </button>
    </div>
  </mat-card>
  <mat-card class="default">
    <h2>Create User</h2>
    In general, users are created automatically when logging in the first time.
    <br />
    However, there may be cases where you want to create the user before the
    first login. <br />
    <form [formGroup]="createUserFormGroup" class="flex-space-between">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="username.getError('required')"
          >Please enter a username!</mat-error
        >
        <mat-error *ngIf="username.getError('userAlreadyExists')"
          >The username does already exist!</mat-error
        >
      </mat-form-field>
      <button mat-flat-button (click)="createUser()" color="primary">
        Create User <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
