/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.buttons {
  display: flex;
  justify-content: right;
}

.content {
  overflow-y: scroll;
  min-width: 50vw;
  min-height: 50vh;
  max-height: 80vh;
}

pre {
  white-space: pre-wrap;
}
