<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if (pipelineRunService.pipelineRun$ | async; as pipelineRun) {
  <div class="flex flex-row justify-between">
    <h1>Logs for pipeline run {{ pipelineRun.id }}</h1>
  </div>

  <div>
    <h2>Status</h2>
    <div>The current pipeline status is '{{ pipelineRun.status }}'</div>

    <h2>Events</h2>
    @if (events !== undefined) {
      <pre class="whitespace-pre-wrap"><span [innerText]="events"></span></pre>
    } @else if (!pipelineRunService.pipelineRunIsFinished(pipelineRun.status)) {
      @for (width of ["50%", "70%", "30%"]; track $index) {
        <app-text-line-skeleton-loader
          [width]="width"
        ></app-text-line-skeleton-loader>
      }
    }

    <h2>Logs</h2>
    @if (logs !== undefined) {
      <pre class="whitespace-pre-wrap"><span [innerText]="logs"></span></pre>
    }

    @if (pipelineRunService.pipelineRunIsNotReady(pipelineRun.status)) {
      Waiting for status 'running'
    }

    @if (
      logs === undefined ||
      (!pipelineRunService.pipelineRunIsFinished(pipelineRun.status) &&
        !pipelineRunService.pipelineRunIsNotReady(pipelineRun.status))
    ) {
      @for (width of ["50%", "70%", "30%"]; track $index) {
        <app-text-line-skeleton-loader
          [width]="width"
        ></app-text-line-skeleton-loader>
      }
    }
  </div>
}
