<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div *ngIf="pipelineRunService.pipelineRun$ | async">
  <div class="flex flex-col justify-between">
    <h1>
      Logs for pipeline run
      {{ (pipelineRunService.pipelineRun$ | async)?.id }}
    </h1>
  </div>

  <div>
    <h2>Status</h2>
    <div>
      The current pipeline status is '{{
        (pipelineRunService.pipelineRun$ | async)!.status
      }}'
    </div>
    <h2>Events</h2>
    <pre *ngIf="events !== undefined"><span [innerText]="events"></span></pre>

    <div
      *ngIf="
        events === undefined ||
        !pipelineRunService.pipelineRunIsFinished(
          (pipelineRunService.pipelineRun$ | async)!.status
        )
      "
    >
      <div *ngFor="let width of ['50%', '70%', '30%']">
        <app-text-line-skeleton-loader
          [width]="width"
        ></app-text-line-skeleton-loader>
      </div>
    </div>
    <h2>Logs</h2>
    <pre *ngIf="logs !== undefined"><span [innerText]="logs"></span></pre>
    <div
      *ngIf="
        pipelineRunService.pipelineRunIsNotReady(
          (pipelineRunService.pipelineRun$ | async)!.status
        )
      "
    >
      Waiting for status 'running'
    </div>
    <div
      *ngIf="
        logs === undefined ||
        (!pipelineRunService.pipelineRunIsFinished(
          (pipelineRunService.pipelineRun$ | async)!.status
        ) &&
          !pipelineRunService.pipelineRunIsNotReady(
            (pipelineRunService.pipelineRun$ | async)!.status
          ))
      "
    >
      <div *ngFor="let width of ['50%', '70%', '30%']">
        <app-text-line-skeleton-loader
          [width]="width"
        ></app-text-line-skeleton-loader>
      </div>
    </div>
  </div>
</div>
