<mat-card
  ><h2>Project Settings</h2>
  Adding and deleting projects will not affect the T4C Server! <br />
  This should represent a manually updated list of the current projects in a
  repository. <br />
  For technical reasons, this is currently not possible automatically.
  <form [formGroup]="createProjectForm" #formDirective="ngForm">
    <mat-form-field>
      <mat-label>Project Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Please enter a name!</mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      (click)="createProject(formDirective)"
    >
      Add Project
    </button>
  </form>
  <mat-selection-list #projectsList [multiple]="false" class="user-selection">
    <mat-list-option *ngFor="let project of projects" [value]="project">
      <mat-icon mat-list-icon>laptop</mat-icon>
      <div mat-line>{{ project.name }}</div>
      <div mat-line>Project ID: {{ project.id }}</div>
    </mat-list-option>
  </mat-selection-list>

  <div *ngIf="projectsList.selectedOptions.selected.length">
    <button
      mat-flat-button
      color="primary"
      (click)="removeProject(selectedProject)"
    >
      <mat-icon>delete</mat-icon> Remove {{ selectedProject.name }} from
      {{ repository }}
    </button>
  </div>
</mat-card>
