<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div>
  <h2 class="!mb-2 text-xl font-medium">Personal Access Tokens</h2>
  Personal Access Tokens can be used to authenticate against the API.
  <form [formGroup]="tokenForm" (ngSubmit)="createToken()" class="mt-2">
    <div class="flex flex-col gap-2 sm:max-w-[886px]">
      <div class="flex w-full flex-wrap gap-2">
        <mat-form-field
          class="grow"
          subscriptSizing="dynamic"
          appearance="outline"
        >
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput />
        </mat-form-field>
        <mat-form-field
          subscriptSizing="dynamic"
          appearance="outline"
          class="w-full sm:w-[250px]"
        >
          <mat-label>Choose expiration date</mat-label>
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            formControlName="date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="mb-2 w-full"
      >
        <mat-label>Token description</mat-label>
        <textarea
          matInput
          placeholder="Describe the purpose of the token"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="mt-2">
      <h2 class="!mb-2 text-lg font-medium">Token Scopes</h2>

      @if (permissionsSchema) {
        @for (
          scope of permissionsSchema["properties"] | keyvalue;
          track $index
        ) {
          <div
            (click)="
              expandedTokenScopes[scope.key] = !expandedTokenScopes[scope.key]
            "
            class="flex cursor-pointer items-center"
          >
            <button mat-icon-button type="button">
              <mat-icon class="align-top">
                @if (expandedTokenScopes[scope.key]) {
                  expand_circle_right
                } @else {
                  expand_circle_down
                }
              </mat-icon>
            </button>
            <h3>
              <b>{{ scope.value.title }}</b>
            </h3>
            <span class="text-sm">
              &nbsp;({{ countSelectedPermissions(scope.key) }} selected)
            </span>
          </div>
          <div
            class="w-fit rounded border p-2 sm:ml-12"
            [hidden]="expandedTokenScopes[scope.key]"
          >
            <app-token-permission-selection
              [tokenPermissions]="
                getPermissionByRef(scope.value.$ref)!.properties
              "
              [scope]="scope.key"
              (selectionChange)="onSelectionChange($event)"
            ></app-token-permission-selection>
          </div>
        }
        @if (projectPermissionsSchema) {
          @for (scope of projectScopes; track scope) {
            <div class="flex gap-2">
              <div
                (click)="
                  expandedTokenScopes[scope] = !expandedTokenScopes[scope]
                "
                class="flex cursor-pointer items-center"
              >
                <button mat-icon-button type="button">
                  <mat-icon class="align-top">
                    @if (expandedTokenScopes[scope]) {
                      expand_circle_right
                    } @else {
                      expand_circle_down
                    }
                  </mat-icon>
                </button>
                <h3>
                  <b>{{ scope }} Project Scope</b>
                </h3>
                <span class="text-sm">
                  &nbsp;({{ countSelectedPermissions(scope) }} selected)
                </span>
              </div>
              <button
                mat-icon-button
                type="button"
                (click)="unselectProject(scope)"
              >
                <mat-icon class="align-top"> playlist_remove </mat-icon>
              </button>
            </div>
            <div
              class="w-fit rounded border p-2 sm:ml-12"
              [hidden]="expandedTokenScopes[scope]"
            >
              <app-token-permission-selection
                [tokenPermissions]="projectPermissionsSchema.properties"
                [scope]="scope"
                (selectionChange)="onSelectionChange($event)"
              ></app-token-permission-selection>
            </div>
          }

          <div
            class="flex cursor-pointer items-center"
            (click)="openProjectDialog()"
          >
            <button mat-icon-button>
              <mat-icon class="align-top">add_circle</mat-icon>
            </button>
            <h3>
              <b>Project Scopes</b>
            </h3>
          </div>
        }
      }
    </div>
    <button
      class="!my-2 text-white"
      mat-raised-button
      [disabled]="!tokenForm.valid"
    >
      Create Token
    </button>
  </form>

  @if (generatedToken) {
    <div class="collab-card !ml-0">
      <div class="flex justify-between">
        <span>Generated Token:</span>
        <div (click)="generatedToken = undefined" class="cursor-pointer">
          <mat-icon>close</mat-icon>
        </div>
      </div>
      <app-display-value
        [value]="generatedToken"
        [blurValue]="true"
        valueName="session token"
      ></app-display-value>
      <div class="mt-2 text-red-600">
        Make sure you save the token securely - you won't be able to access it
        again.
      </div>
    </div>
  }

  <hr class="my-2" />

  <h2 class="mb-2 text-xl font-medium">Token Overview</h2>
  @if ((tokens$ | async)?.length) {
    <div class="flex flex-wrap gap-2">
      @for (token of tokens$ | async; track token) {
        <app-token-card [token]="token"></app-token-card>
      }
    </div>
  } @else {
    No token created for your user yet.
  }
</div>
