/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

/* When using icons in the text, they are not properly aligned */
.in-text {
  position: relative;
  bottom: 3px;
}

.right {
  margin-left: 5px;
}

.left {
  margin-right: 5px;
}
