<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-list>
  @for (item of navBarService.navBarItems; track item.name) {
    @if (userService.validateUserRole(item.requiredRole)) {
      @if (item.href) {
        <a
          class="items-center"
          mat-list-item
          (click)="navBarService.toggle()"
          [attr.href]="item.href"
          [attr.target]="item.target"
        >
          {{ item.name }}
          @if (item.icon) {
            <mat-icon class="ml-1.5 align-bottom">
              {{ item.icon }}
            </mat-icon>
          }
        </a>
      } @else {
        <a
          mat-list-item
          (click)="navBarService.toggle()"
          [routerLink]="item.routerLink"
        >
          {{ item.name }}
        </a>
      }
    }
  }

  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    href="https://github.com/DSD-DBS/capella-collab-manager/issues"
    target="_blank"
  >
    Open issue on Github
    <mat-icon class="ml-1.5 align-bottom">open_in_new</mat-icon>
  </a>

  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    [routerLink]="['user', userService.user?.id]"
  >
    Profile
  </a>

  <mat-divider></mat-divider>
  @if (userService.user?.role === "administrator") {
    <a mat-list-item (click)="navBarService.toggle()" routerLink="settings">
      Settings
    </a>

    <mat-divider></mat-divider>
    <a mat-list-item (click)="navBarService.toggle()" routerLink="events">
      Events
    </a>

    <mat-divider></mat-divider>
  }

  <a mat-list-item (click)="navBarService.toggle()" routerLink="tokens">
    Tokens
  </a>

  @if (authService.isLoggedIn()) {
    <mat-divider></mat-divider>
    <a
      mat-list-item
      (click)="navBarService.toggle()"
      routerLink="logout/redirect"
      [queryParams]="{ reason: 'logout' }"
    >
      Log out <mat-icon class="ml-2.5 align-bottom">logout</mat-icon>
    </a>
  }
</mat-list>
