<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-list>
  <a mat-list-item (click)="navBarService.toggle()" routerLink="/projects"
    >Projects</a
  >
  <mat-divider></mat-divider>
  <a mat-list-item (click)="navBarService.toggle()" routerLink="">Sessions</a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    *ngIf="userService.user?.role === 'administrator'"
    [routerLink]="['/sessions', 'overview']"
    >Session overview</a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    *ngIf="userService.user?.role === 'administrator'"
    href="/prometheus/graph"
    target="_blank"
    >Prometheus <mat-icon class="open-in-new">open_in_new</mat-icon></a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    *ngIf="userService.user?.role === 'administrator'"
    href="/grafana/"
    target="_blank"
    >Grafana <mat-icon class="open-in-new">open_in_new</mat-icon></a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    href="/docs/"
    target="_blank"
    >Documentation <mat-icon class="open-in-new">open_in_new</mat-icon></a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    href="https://github.com/DSD-DBS/capella-collab-manager/issues"
    target="_blank"
    >Create issue on Github
    <mat-icon class="open-in-new">open_in_new</mat-icon></a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    *ngIf="userService.user?.role === 'administrator'"
    routerLink="settings"
    >Settings</a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    *ngIf="userService.user?.role === 'administrator'"
    routerLink="events"
    >Events</a
  >
  <mat-divider></mat-divider>
  <a
    mat-list-item
    (click)="navBarService.toggle()"
    *ngIf="userService.user?.role === 'administrator'"
    routerLink="logout/redirect"
    >Log out</a
  >
</mat-list>
