# Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

{{ if eq .Values.target "local" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-licence-server-mock
  labels:
    id: {{ .Release.Name }}-deployment-licence-server-mock
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      id: {{ .Release.Name }}-deployment-licence-server-mock
  template:
    metadata:
      labels:
        id: {{ .Release.Name }}-deployment-licence-server-mock
    spec:
      containers:
        - name: {{ .Release.Name }}-licence-server-mock
          image: {{ .Values.docker.registry.internal }}/t4c/licence/mock
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
          resources:
            limits:
              cpu: "0.1"
              memory: 50Mi
            requests:
              cpu: "0.05"
              memory: 5Mi
          {{ if .Values.cluster.containers }}
          {{- toYaml .Values.cluster.containers | nindent 10 }}
          {{ end }}
{{ end }}
