# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.mocks.oauth }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-oauth-mock
  labels:
    id: {{ .Release.Name }}-deployment-oauth-mock
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/mock/oauth.configmap.yaml") . | sha256sum }}
spec:
  replicas: 1
  selector:
    matchLabels:
      id: {{ .Release.Name }}-deployment-oauth-mock
  template:
    metadata:
      labels:
        id: {{ .Release.Name }}-deployment-oauth-mock
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/mock/oauth.configmap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: {{ .Release.Name }}-oauth-mock
          configMap:
            name: {{ .Release.Name }}-oauth-mock
      {{- include "capellacollab.pod.spec" . | indent 6 -}}
      containers:
        - name: {{ .Release.Name }}-oauth-mock
          image: {{ .Values.docker.images.mocks.oauth }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: {{ .Release.Name }}-oauth-mock
              mountPath: /opt
          env:
            - name: JSON_CONFIG_PATH
              value: /opt/oauth.json
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: "0.05"
              memory: 50Mi
          {{ if .Values.cluster.containers }}
          {{- toYaml .Values.cluster.containers | nindent 10 }}
          {{ end }}
{{ end }}
