# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.mocks.oauth }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-oauth-mock
  labels:
    id: {{ .Release.Name }}-deployment-oauth-mock
spec:
  replicas: 1
  selector:
    matchLabels:
      id: {{ .Release.Name }}-deployment-oauth-mock
  template:
    metadata:
      labels:
        id: {{ .Release.Name }}-deployment-oauth-mock
    spec:
      volumes:
        - name: {{ .Release.Name }}-oauth-mock
          configMap:
            name: {{ .Release.Name }}-oauth-mock
      containers:
        - name: {{ .Release.Name }}-oauth-mock
          image: ghcr.io/navikt/mock-oauth2-server:0.4.4
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: {{ .Release.Name }}-oauth-mock
              mountPath: /opt
          env:
            - name: JSON_CONFIG_PATH
              value: /opt/oauth.json
          resources:
            limits:
              cpu: "0.5"
              memory: 500Mi
            requests:
              cpu: "0.05"
              memory: 5Mi
          {{ if .Values.cluster.containers }}
          {{- toYaml .Values.cluster.containers | nindent 10 }}
          {{ end }}
{{ end }}
