# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.mocks.oauth }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-oauth-mock
  namespace: {{ .Release.Namespace }}
  labels:
    id: {{ .Release.Name }}-configmap-oauth-mock
data:
  oauth.json: |-
    {{ .Files.Get "config/oauth.json" | nindent 4 }}

{{ end }}
