<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper flex justify-center">
  <mat-horizontal-stepper
    class="flex max-w-[360px] sm:max-w-[710px]"
    [ngClass]="hasRoute('models/create') ? 'rounded-md shadow-md' : ''"
    (selectionChange)="onStepChange($event)"
    linear
    #stepper
  >
    <div class="flex justify-center">
      <mat-step completed="false">
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Create model</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Create model</h3>

        <app-create-model-base
          [asStepper]="asStepper"
          (create)="afterModelCreated()"
        ></app-create-model-base>
      </mat-step>

      <mat-step completed="false">
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Choose source</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Choose source</h3>

        <app-choose-source
          (modelSourceSelection)="onSourceClick($event)"
        ></app-choose-source>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Link source</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Link source</h3>

        <div [ngSwitch]="source">
          <app-manage-git-model
            *ngSwitchCase="'git-add'"
            [asStepper]="true"
            (create)="afterSourceCreated($event)"
          ></app-manage-git-model>
          <app-manage-t4c-model
            *ngSwitchCase="'t4c-existing'"
            [asStepper]="true"
            (create)="afterSourceCreated($event)"
          ></app-manage-t4c-model>
          <app-create-t4c-model-new-repository
            *ngSwitchCase="'t4c-new'"
            [asStepper]="true"
            (create)="afterSourceCreated($event)"
          ></app-create-t4c-model-new-repository>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Configure model</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Configure model</h3>

        <app-init-model
          [asStepper]="asStepper"
          (create)="afterModelInitialized($event)"
        ></app-init-model>
      </mat-step>
    </div>
  </mat-horizontal-stepper>
</div>
