<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex justify-center">
  <mat-horizontal-stepper
    class="flex max-w-[360px] sm:max-w-[710px]"
    [ngClass]="hasRoute('models/create') ? 'rounded-md shadow-md' : ''"
    (selectionChange)="onStepChange($event)"
    linear
    #stepper
  >
    <div class="flex justify-center">
      <mat-step completed="false">
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Create model</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Create model</h3>

        <div class="mb-4">
          <app-create-model-base
            [asStepper]="asStepper"
            (create)="afterModelCreated()"
          ></app-create-model-base>
        </div>
      </mat-step>

      <mat-step completed="false">
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Choose source</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Choose source</h3>

        <div class="mb-4">
          <app-choose-source
            (modelSourceSelection)="onSourceClick($event)"
          ></app-choose-source>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Link source</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Link source</h3>

        <div class="mb-4">
          @switch (source) {
            @case ("git-add") {
              <app-manage-git-model
                [asStepper]="true"
                (create)="afterSourceCreated($event)"
              ></app-manage-git-model>
            }
            @case ("t4c-existing") {
              <app-manage-t4c-model
                [asStepper]="true"
                (create)="afterSourceCreated($event)"
              ></app-manage-t4c-model>
            }
            @case ("t4c-new") {
              <app-create-t4c-model-new-repository
                [asStepper]="true"
                (create)="afterSourceCreated($event)"
              ></app-create-t4c-model-new-repository>
            }
          }
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="hidden sm:inline">Configure model</div>
        </ng-template>
        <h3 class="flex justify-center sm:hidden">Configure model</h3>
        <div class="mb-4">
          <app-init-model
            [asStepper]="asStepper"
            (create)="afterModelInitialized($event)"
          ></app-init-model>
        </div>
      </mat-step>
    </div>
  </mat-horizontal-stepper>
</div>
