<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-horizontal-stepper
    (selectionChange)="onStepChange($event)"
    linear
    #stepper
  >
    <mat-step completed="false" label="Create model">
      <app-create-model-base
        [asStepper]="asStepper"
        (create)="afterModelCreated()"
      ></app-create-model-base>
    </mat-step>

    <mat-step completed="false" label="Choose primary source">
      <app-choose-source
        (modelSourceSelection)="onSourceClick($event)"
      ></app-choose-source>
    </mat-step>

    <mat-step label="Add source">
      <div [ngSwitch]="source">
        <app-manage-git-model
          *ngSwitchCase="'git-add'"
          [asStepper]="true"
          (create)="afterSourceCreated($event)"
        ></app-manage-git-model>
        <app-manage-t4c-model
          *ngSwitchCase="'t4c-existing'"
          [asStepper]="true"
          (create)="afterSourceCreated($event)"
        ></app-manage-t4c-model>
        <app-create-t4c-model-new-repository
          *ngSwitchCase="'t4c-new'"
          [asStepper]="true"
          (create)="afterSourceCreated($event)"
        ></app-create-t4c-model-new-repository>
      </div>
    </mat-step>

    <mat-step label="Choose initialization">
      <app-choose-init
        (modelInitSelection)="onInitClick($event)"
      ></app-choose-init>
    </mat-step>

    <mat-step label="Metadata">
      <app-init-model
        [asStepper]="asStepper"
        (create)="afterModelInitialized($event)"
      ></app-init-model>
    </mat-step>
  </mat-horizontal-stepper>
</div>
