<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<h1>Create Project</h1>
This will create a project and a T4C repository.
<form [formGroup]="createRepositoryForm">
  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <br />
  <button mat-flat-button color="primary" (click)="createRepository()">
    Create
  </button>
</form>
