<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper flex-center">
  <div class="collab-card" *ngIf="modelService.model$ | async">
    <h2>Restrictions for models</h2>
    <form
      *ngIf="(modelService.model$ | async)!.tool.integrations.pure_variants"
      [formGroup]="restrictionsForm"
    >
      <ng-template #pureVariants>
        Allow the usage of pure::variants
      </ng-template>

      <app-mat-checkbox-loader *ngIf="loading">
        <ng-template [ngTemplateOutlet]="pureVariants"> </ng-template>
      </app-mat-checkbox-loader>
      <mat-checkbox formControlName="pureVariants" *ngIf="!loading">
        <ng-template [ngTemplateOutlet]="pureVariants"> </ng-template>
      </mat-checkbox>
    </form>
    <div
      *ngIf="!(modelService.model$ | async)!.tool.integrations.pure_variants"
    >
      This model has no restrictions. Please check the documentation for more
      information.
    </div>
  </div>
</div>
