<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if (modelService.model$ | async) {
  <div class="collab-card w-full sm:w-fit sm:min-w-96">
    <h2 class="mb-2 text-xl font-medium">Restrictions for models</h2>
    @if ((modelService.model$ | async)!.tool.integrations.pure_variants) {
      <form [formGroup]="restrictionsForm">
        <ng-template #pureVariants> </ng-template>
        @if (loading) {
          <div class="h-[40px]">
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{
                'border-radius': '5px',
                height: '100%',
                width: '100%',
                margin: '0',
                border: '1px solid white',
              }"
            ></ngx-skeleton-loader>
          </div>
        } @else {
          <mat-checkbox formControlName="pureVariants">
            <span>Allow the usage of pure::variants</span>
          </mat-checkbox>
        }
      </form>
    } @else {
      <div>
        This model has no restrictions. Please check the documentation for more
        information.
      </div>
    }
  </div>
}
