<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if (userWrapperService.user$ | async; as user) {
  <div class="mb-5 flex items-center">
    <div class="mx-10">
      <img
        src="/assets/profile.svg"
        alt="Dummy profile picture"
        class="max-h-28"
      />
    </div>
    <div class="flex flex-col">
      <h2 class="text-xl font-medium">Profile of {{ user?.name }}</h2>
      @if (user?.created) {
        <div>
          Joined the Capella Collaboration Manager in
          {{ user?.created | date: "y" }}
        </div>
      }
    </div>
  </div>
}
<div class="flex flex-col gap-2">
  @if (ownUserService.user?.role === "administrator") {
    <app-user-information></app-user-information>
  }
  @let betaConfig = (unifiedConfigWrapperService.unifiedConfig$ | async)?.beta;
  @if (betaConfig?.enabled) {
    @if (
      ownUserService.user?.role === "administrator" ||
      (ownUserService.user?.id === (userWrapperService.user$ | async)?.id &&
        betaConfig?.allow_self_enrollment)
    ) {
      <app-beta-testing></app-beta-testing>
    }
  }

  <app-common-projects></app-common-projects>
  @if (ownUserService.user?.role === "administrator") {
    <app-user-workspaces></app-user-workspaces>
  }
</div>
