<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog">
  <h2>Move Model to Different Project</h2>
  <div>Select the project to which you want to move the model to.</div>
  <mat-form-field id="search" appearance="outline" class="w-full">
    <mat-label>Search</mat-label>
    <input
      [(ngModel)]="search"
      autocomplete="off"
      matInput
      placeholder="Project Name"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div
    class="max-h-72 overflow-y-scroll"
    *ngIf="(filteredProjects$ | async)?.length; else elseBlock"
  >
    <div *ngFor="let project of searchAndFilteredProjects() | async">
      <div class="flex items-center justify-between">
        <span>{{ project.name }}</span>
        <button
          class="text-3xl"
          mat-icon-button
          (click)="moveModelToProject(project)"
          color="primary"
        >
          <mat-icon>drive_file_move</mat-icon>
        </button>
      </div>
      <hr color="hover" />
    </div>
  </div>
  <ng-template #elseBlock
    ><div>
      You cannot move this model to another project. If this is an error please
      contact your administrator.
    </div></ng-template
  >
</div>
