<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <mat-card class="section-card" *ngIf="projectService.project">
    <h2>Add model to project “{{ projectService.project.name }}”</h2>
    <form
      id="create-model-base-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model description</mat-label>
          <textarea rows="3" matInput formControlName="description"> </textarea>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model tool</mat-label>
          <mat-select matInput formControlName="tool_id">
            <mat-option
              *ngFor="let tool of toolService.tools"
              value="{{ tool.id }}"
            >
              {{ tool.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
      <a mat-button routerLink=".." *ngIf="!as_stepper">Back to project</a>
      <div class="field-separator" *ngIf="!as_stepper"></div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Create model
      </button>
      <div class="field-separator" *ngIf="as_stepper"></div>
      <button
        mat-raised-button
        [color]="form.controls.name.value ? 'basic' : 'primary'"
        *ngIf="as_stepper"
        (click)="finish.emit(true)"
      >
        Finish project creation
      </button>
    </form>
  </mat-card>
</div>
