# Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-frontend
  labels:
    id: {{ .Release.Name }}-deployment-frontend
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      id: {{ .Release.Name }}-deployment-frontend
  template:
    metadata:
      labels:
        id: {{ .Release.Name }}-deployment-frontend
    spec:
      containers:
        - name: {{ .Release.Name }}-frontend
          image: {{ .Values.docker.registry.internal }}{{ .Values.docker.images.frontend }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{ if eq .Values.target "local" }}
            limits:
              cpu: "0.1"
              memory: 50Mi
            requests:
              cpu: "0.05"
              memory: 5Mi
            {{ else }}
            limits:
              cpu: "1"
              memory: 50Mi
            requests:
              cpu: "0.25"
              memory: 5Mi
            {{ end }}
          {{ if .Values.cluster.containers }}
          {{- toYaml .Values.cluster.containers | nindent 10 }}
          {{ end }}
