<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog">
  <h1>Remove Tool</h1>
  <div>
    <p>
      Do you really want to delete the Tool
      <span class="font-mono">{{ tool.name }}</span
      >? <br />
      This will delete the tool, the linked versions and the linked types.
    </p>
    <p><b>The deletion cannot be undone!</b></p>
  </div>
  Please remove all models with this tool before deletion. <br />
  <div class="mt-2 flex justify-between">
    <button
      type="button"
      mat-stroked-button
      (click)="this.dialogRef.close(false)"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      type="submit"
      (click)="deleteTool()"
      class="error-button"
    >
      Remove the tool
    </button>
  </div>
</div>
