<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if (hiddenAnnouncements().length > 0) {
  <div class="collab-card">
    <h2 class="text-xl font-medium">Reset hidden announcements</h2>
    <p>
      You currently have {{ hiddenAnnouncements().length }} hidden
      {{
        hiddenAnnouncements().length === 1 ? "announcement" : "announcements"
      }}. To reset the hidden announcements, click the button below.
    </p>
    <button
      mat-flat-button
      color="warn"
      (click)="announcementWrapperService.resetDismissedAnnouncements()"
    >
      Reset hidden announcements
    </button>
  </div>
}
