<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<div class="collab-card w-card max-w-mat-card">
  <h2 class="text-lg font-medium">Tool Natures</h2>
  <div class="mb-3">
    <app-api-documentation
      tag="Tools"
      hyperlink="create_tool_nature"
    ></app-api-documentation>
  </div>
  <mat-tab-group #tabGroup>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">add_box</mat-icon>
        Add nature
      </ng-template>
      <app-editor
        #editorRef
        context="new"
        height="calc(500px - 48px)"
        (submitted)="submittedNewToolNature($event)"
        type="toolnature"
      />
      <div class="mt-2 flex flex-wrap justify-between gap-2">
        <div class="w-[100px]"></div>
        <button (click)="resetValue('new')" mat-stroked-button>
          <span>Reset</span> <mat-icon class="ml-2">refresh</mat-icon>
        </button>
        <button (click)="submitValue('new')" mat-stroked-button>
          <span>Create</span>
          <mat-icon class="ml-2">add_box</mat-icon>
        </button>
      </div>
    </mat-tab>

    @if (toolNatures === undefined) {
      <mat-tab label="Loading..."></mat-tab>
    }

    @for (nature of toolNatures; track nature.id) {
      <mat-tab [label]="nature.name">
        <app-editor
          #editorRef
          (submitted)="submittedValue(nature, $event)"
          [context]="nature.id.toString()"
          height="calc(500px - 48px)"
          [value]="nature"
          type="toolnature"
        />
        <div class="mt-2 flex flex-wrap justify-between gap-2">
          <button
            mat-stroked-button
            (click)="removeToolNature(nature)"
            class="error-button"
          >
            <span>Delete nature</span> <mat-icon class="ml-2">delete</mat-icon>
          </button>
          <button mat-stroked-button (click)="resetValue(nature.id.toString())">
            <span>Reset</span> <mat-icon class="ml-2">refresh</mat-icon>
          </button>
          <button
            mat-stroked-button
            (click)="submitValue(nature.id.toString())"
          >
            <span>Save</span>
            <mat-icon class="ml-2">save</mat-icon>
          </button>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</div>
