mat-card {
  width: fit-content;
  margin: 10px;
  height: fit-content;
}

mat-form-field {
  margin-right: 10px;
}

h1 {
  margin: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button {
  margin: 5px 10px 0 0;
}

#git-path {
  width: 370px;
}

#git-path-view {
  width: 412px;
}

input:disabled {
  color: black;
}

.show-git-model {
  width: 160px;
}

#project-id {
  width: 70px;
}
