<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if ((projectService.project$ | async) && (modelService.model$ | async)) {
  <div class="flex justify-center">
    <div class="collab-card w-[350px] sm:min-w-[420px]">
      <form
        [formGroup]="form"
        class="flex flex-col gap-2"
        (ngSubmit)="onSubmit()"
      >
        @if (t4cModelService.compatibleT4CInstances$ | async) {
          <fieldset>
            @if ((t4cModelService.compatibleT4CInstances$ | async)!.length) {
              <mat-form-field appearance="fill">
                <mat-label>Instance</mat-label>
                <mat-select
                  formControlName="t4cInstanceId"
                  data-testid="t4c-instance"
                >
                  @for (
                    instance of t4cModelService.compatibleT4CInstances$ | async;
                    track instance.id
                  ) {
                    <mat-option [value]="instance.id">
                      {{ instance.name }}
                    </mat-option>
                  }
                </mat-select>
                <mat-hint>Only compatible servers are listed.</mat-hint>
              </mat-form-field>
            } @else {
              <div
                class="rounded-sm border bg-(--error-color) p-2 text-sm text-white shadow-sm"
              >
                No compatible T4C instance found! Make sure that the version of
                the model matches the version of a TeamForCapella server
                instance.
              </div>
            }
          </fieldset>
        } @else {
          <app-form-field-skeleton-loader></app-form-field-skeleton-loader>
        }

        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>Repository</mat-label>
            <input matInput formControlName="t4cRepositoryName" />
            @if (t4cRepositoryNameControl.errors?.pattern) {
              <mat-error>
                The following characters are allowed: A-Z, a-z, 0-9, _, -
              </mat-error>
            } @else if (t4cRepositoryNameControl.errors?.uniqueName) {
              <mat-error> Repository already exists </mat-error>
            }
          </mat-form-field>
        </fieldset>

        <fieldset>
          <mat-form-field appearance="fill">
            <mat-label>T4C Project Name</mat-label>
            <input matInput formControlName="t4cProjectName" />
          </mat-form-field>
        </fieldset>

        <div class="flex justify-end">
          <button mat-flat-button [disabled]="!form.valid" type="submit">
            Save reference
            <mat-icon iconPositionEnd>navigate_next</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
}
