<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<div class="dialog">
  <h2 class="mb-5 text-xl font-medium">View diagrams</h2>
  <div class="mb-2">
    Last update:
    {{
      (diagramMetadata?.last_updated | date: "EE, dd MMM y HH:mm:ss") ||
        "loading..."
    }}
  </div>

  <app-model-diagram-code-block
    [project]="data.project"
    [model]="data.model"
  ></app-model-diagram-code-block>

  <mat-form-field class="mb-[-1.25em] mt-2 w-full pb-1" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      [(ngModel)]="search"
      autocomplete="off"
      matInput
      placeholder="Diagram name or uuid"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  @if (this.diagramMetadata?.diagrams?.length === 0) {
    Your model doesn't seem to contain diagrams.
  } @else if (filteredDiagrams === undefined) {
    <div class="flex flex-wrap">
      @for (_ of loaderArray; track $index) {
        <ngx-skeleton-loader
          class="m-2 grow basis-[calc(30%-20px)]"
          [theme]="{
            'border-radius': '5px',
            height: '332px',
            'min-width': '208px',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
      }
    </div>
  } @else if (filteredDiagrams.length === 0) {
    No diagrams for the given filter found. Please remove your search query.
  } @else {
    <span> {{ filteredDiagrams.length }} diagram(s) found: </span>
    <div class="flex flex-wrap gap-5">
      @for (diagram of filteredDiagrams; track diagram.uuid) {
        <div
          class="collab-card !flex grow basis-[calc(30%-20px)] flex-col justify-between"
          #diagram
          [id]="diagram.uuid"
          [attr.success]="diagram.success"
        >
          @if (diagram.success) {
            @if (!diagrams[diagram.uuid] || diagrams[diagram.uuid].loading) {
              <ngx-skeleton-loader
                class="mb-2 w-full"
                [theme]="{
                  'border-radius': '5px',
                  margin: 0,
                  padding: 0,
                  height: '200px',
                  width: '100%',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
            } @else if (diagrams[diagram.uuid].content) {
              <img
                (click)="openModelDiagramPreviewDialog(diagram)"
                matTooltip="Open preview"
                class="mb-2 h-[200px] w-full !touch-auto hover:cursor-pointer"
                [src]="diagrams[diagram.uuid].content"
              />
            }
          } @else {
            <div class="diagram-error">
              <mat-icon class="scale-[2] text-red-900">error</mat-icon> <br />
              Diagram export has failed. <br />
              Please contact your diagram cache administrator.
            </div>
          }

          <div class="mb-2 flex flex-nowrap justify-between">
            <div class="overflow-y-hidden">
              <div class="text-lg">{{ diagram.name }}</div>
              <div class="text-gray-700">UUID: {{ diagram.uuid }}</div>
            </div>
          </div>
          <button
            class="mx-0 my-[5px] w-full"
            (click)="downloadDiagram(diagram.uuid)"
            mat-raised-button
            [disabled]="!diagram.success"
          >
            <mat-icon>cloud_download</mat-icon> Download
          </button>
        </div>
      }
    </div>
  }

  <div class="sticky bottom-0 w-full bg-white md:hidden">
    <mat-divider class="my-2"></mat-divider>
    <button class="w-full" mat-button mat-dialog-close>Close</button>
  </div>
</div>
