/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.diagram-error {
  border-radius: 5px;
  border: solid lightgray;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
