<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<div class="dialog">
  <div class="header">
    <h2>View diagrams</h2>
    <span
      >Last update:
      {{
        (diagramMetadata?.last_updated | date: "EE, dd MMM y HH:mm:ss") ||
          "loading..."
      }}</span
    >

    <mat-form-field
      style="margin-bottom: -1.25em"
      id="search"
      appearance="outline"
    >
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search"
        autocomplete="off"
        matInput
        placeholder="Diagram name or uuid"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <span *ngIf="filteredDiagrams()"
      >{{ filteredDiagrams()?.length }} diagram(s) found:
    </span>
  </div>
  <div class="flex flex-wrap">
    <mat-card
      class="diagram-card"
      #diagram
      [id]="diagram.uuid"
      [attr.success]="diagram.success"
      *ngFor="let diagram of filteredDiagrams()"
    >
      <img
        (click)="openModelDiagramPreviewDialog(diagram)"
        matTooltip="Open preview"
        *ngIf="diagram.success && diagrams[diagram.uuid]?.content"
        class="diagram"
        [src]="diagrams[diagram.uuid].content"
      />
      <ngx-skeleton-loader
        style="width: 100%"
        *ngIf="
          (!diagrams[diagram.uuid] && diagram.success) ||
          diagrams[diagram.uuid]?.loading
        "
        [theme]="{
          'border-radius': '5px',
          height: '200px',
          width: 'calc(100% - 10px)',
          border: '1px solid white'
        }"
      ></ngx-skeleton-loader>
      <div *ngIf="!diagram.success" class="diagram-error">
        <mat-icon class="diagram-error-icon">error</mat-icon> <br />
        Diagram export has failed. <br />Please contact your diagram cache
        administrator.
      </div>
      <div
        *ngIf="
          diagram.success &&
          diagrams[diagram.uuid] &&
          diagrams[diagram.uuid].content === null
        "
        class="diagram-error"
      >
        <mat-icon class="diagram-error-icon">error</mat-icon> <br />
        Error loading the diagram from the server. <br />Please try again later.
        <br />
        If the problem persists, please contact your diagram cache
        administrator.
      </div>
      <div class="list-item">
        <div class="diagram-metadata">
          <div class="diagram-name">{{ diagram.name }}</div>
          <div class="uuid">UUID: {{ diagram.uuid }}</div>
        </div>
      </div>
      <button
        class="download-button"
        (click)="downloadDiagram(diagram.uuid)"
        mat-raised-button
        [disabled]="!diagram.success"
      >
        <mat-icon>cloud_download</mat-icon> Download
      </button>
    </mat-card>
  </div>
  <div class="flex flex-wrap" *ngIf="filteredDiagrams() === undefined">
    <ngx-skeleton-loader
      *ngFor="let _ of loaderArray"
      class="loader"
      [theme]="{
        'border-radius': '5px',
        height: '332px',
        'min-width': '208px',
        border: '1px solid white'
      }"
    ></ngx-skeleton-loader>
  </div>
  <div *ngIf="this.diagramMetadata?.diagrams?.length === 0">
    Your model doesn't seem to contain diagrams.
  </div>
  <div
    *ngIf="
      this.diagramMetadata?.diagrams?.length !== 0 &&
      filteredDiagrams()?.length === 0
    "
  >
    No diagrams for the given filter found. Please remove your search query.
  </div>
  <div class="w-full md:hidden sticky bottom-0 bg-white">
    <mat-divider id="bottom-divider"></mat-divider>
    <button class="w-full" mat-button mat-dialog-close>Close</button>
  </div>
</div>
