/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.diagrams {
  height: calc(80vh - 170px);
  word-wrap: break-word;
}

.diagram-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 2 * 10px - 2 * 16px); /* 3 rows - margin - padding */
}

.uuid {
  color: grey;
}

.loader {
  width: calc(100% / 3 - 2 * 10px);
  margin: 10px;
}

.diagram-error {
  border-radius: 5px;
  border: solid lightgray;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
}

.diagram-error-icon {
  color: darkred;
  transform: scale(2);
}

.diagram {
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
}

.header {
  height: 150px;
}

button {
  margin-right: 5px;
}

.diagram-metadata {
  overflow-y: hidden;
}

.download-button {
  width: 100%;
  margin: 5px 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#search {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 5px;
}

.diagram-name {
  font-size: 1.25em;
}

mat-divider {
  margin: 10px 0;
}
