<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->



<div class="wrapper">
  <div class="title">Credentials</div>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="guacadmin" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="guacadmin" />
  </mat-form-field>
  <div class="title">
    <button mat-raised-button>Save</button>
  </div>
</div>
