/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.no-line-break {
  white-space: nowrap;
}

.no-text-overflow {
  white-space: normal;
  text-overflow: ellipsis;
  line-break: anywhere;
}

.error {
  color: #f44336;
  font-size: 10.5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 0px;
}

.mat-card {
  margin-left: 0px;
  margin-right: 0px;
}
