/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.border {
  margin-right: 5px;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
