<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div>
  <h2 class="!mb-2 text-xl font-medium">Personal Access Tokens</h2>
  To create a Personal Access Token please choose an expiration date and provide
  a short description.
  <form [formGroup]="tokenForm" (ngSubmit)="createToken()">
    <mat-form-field appearance="outline" class="mb-10 mt-2 w-9/12">
      <mat-label>Token description</mat-label>
      <textarea
        matInput
        placeholder="Please shortly describe the purpose of the token"
        formControlName="description"
      ></textarea>
      <mat-hint
        ><strong
          >Note: The created token has the same permissions as you have when
          being logged in.</strong
        ></mat-hint
      >
    </mat-form-field>
    <div class="flex">
      <mat-form-field class="mr-10">
        <mat-label>Choose an expiration date</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          formControlName="date"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button
      class="!my-2 text-white"
      color="primary"
      mat-raised-button
      [disabled]="!tokenForm.valid"
    >
      Create Token
    </button>
  </form>
  @if (password) {
    <div class="collab-card !ml-0">
      Generated Token:
      <app-display-value
        [value]="password"
        [blurValue]="true"
        valueName="session token"
      ></app-display-value>
      <div class="mt-2 text-red-600">
        Make sure you save the token - you won't be able to access it again.
      </div>
    </div>
  }

  <h2 class="text-xl font-medium">Token overview</h2>
  @if ((tokenService.tokens$ | async)?.length) {
    @for (token of tokenService.tokens$ | async; track token) {
      <div class="collab-card !ml-0">
        <div>
          Description: {{ token.description }} <br />
          Expiration date: {{ token.expiration_date | date }} <br />
          Source: {{ token.source }}
          @if (isTokenExpired(token.expiration_date)) {
            <mat-icon color="warn" class="align-middle">warning</mat-icon>
            <span class="text-red-600">This token has expired!</span>
          }
        </div>
        <button (click)="deleteToken(token)" mat-raised-button>
          <mat-icon color="warn" class="align-middle">delete</mat-icon>
          <span>Revoke token</span>
        </button>
      </div>
    }
  } @else {
    No token created for your user yet.
  }
</div>
