/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.title {
  font-size: 2em;
  margin: 20px;
}

mat-card {
  width: 200px;
  height: 100px;
  margin: 20px;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.disabled {
  cursor: not-allowed !important;
  background-color: grey !important;
}

mat-icon {
  font-size: 2em;
  position: relative;
  right: 10px;
  margin: 10px;
}

.options-list {
  display: flex;
}

.subtitle {
  height: 40px;
}

#git {
  max-width: 50%;
}
