<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="mb-1 text-center text-2xl sm:text-left">Core functionality</div>
<div class="flex flex-col flex-wrap gap-4 sm:flex-row">
  <app-option-card
    name="Manage Users"
    icon="supervised_user_circle"
    [routerLink]="['/settings/core/users']"
  ></app-option-card>
  <app-option-card
    name="Token Overview"
    icon="key"
    [routerLink]="['/settings/core/tokens']"
  ></app-option-card>
  <app-option-card
    name="Announcements"
    icon="add_alert"
    [routerLink]="['/settings/core/announcements']"
  ></app-option-card>
  <app-option-card
    name="Tools"
    icon="build"
    [routerLink]="['/settings/core/tools']"
  ></app-option-card>
  <app-option-card
    name="Configuration"
    icon="settings"
    [routerLink]="['/settings/core/configuration']"
  ></app-option-card>
  <app-option-card
    name="Tags"
    icon="bookmarks"
    [routerLink]="['/settings/core/tags']"
  ></app-option-card>
</div>

<div class="mt-4 mb-1 text-center text-2xl sm:text-left">Model sources</div>
<div class="flex flex-col flex-wrap gap-4 sm:flex-row">
  <app-option-card
    name="Git Server Instances"
    icon="code"
    [routerLink]="['/settings/modelsources/git-instances']"
  ></app-option-card>
  <app-option-card
    name="Team For Capella"
    icon="people"
    [routerLink]="['/settings/modelsources/t4c']"
  ></app-option-card>
</div>

<div class="mt-4 mb-1 text-center text-2xl sm:text-left">Integrations</div>
<div class="flex flex-col flex-wrap gap-4 sm:flex-row">
  <app-option-card
    name="pure::variants"
    icon="people"
    [routerLink]="['/settings/integrations/pure-variants']"
  ></app-option-card>
</div>
