/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#description {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding: 5px;
}

.item {
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 0;
}

.error {
  background-color: var(--error-color);
  color: white;
}

.warning {
  background-color: var(--warning-color);
  color: white;
}

.success {
  background-color: var(--success-color);
  color: white;
}

.state {
  text-align: center;
  font-size: 1.25em;
  padding: 5px;
}

.lastrun {
  font-size: 0.75em;
}

.header {
  padding: 5px;
  text-align: center;
}

#add-button {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#add-button:hover {
  cursor: pointer;
}

button {
  margin: 5px 10px 0 0;
}

.spinner {
  float: right;
}

#refresh-button {
  float: right;
  margin: -8px -8px;
}

#loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
