<mat-card>
  <h2>Assign existing Git Repository</h2>
  <mat-card *ngIf="!t4cService.repositories.length">
    No T4C repositories found!<br />
    To create a Git Repository Connection, you have to create a T4C repository
    first!<br />
    (This will be fixed in the next version)
  </mat-card>
  <form [formGroup]="createGitModel" *ngIf="t4cService.repositories.length">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Please enter a name!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>T4C Repository</mat-label>
      <mat-select formControlName="project_id">
        <mat-option
          *ngFor="let project of t4cService.repositories"
          [value]="project.id"
        >
          {{ project.name }}
        </mat-option>
      </mat-select>
      <mat-error>Please select a repository!</mat-error>
    </mat-form-field>
    <br />
    <form formGroupName="model">
      <mat-form-field id="git-path">
        <mat-label>Git HTTPS-URL</mat-label>
        <input
          matInput
          formControlName="path"
          placeholder="https://github.com/repository.git"
        />
        <mat-error *ngIf="gitPath.getError('required')"
          >Please enter a Git HTTPS URL!</mat-error
        >
        <mat-error *ngIf="gitPath.getError('gitURLError')"
          >The provided Git URL does not match a valid Git HTTPS URL!</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Entrypoint</mat-label>
        <input
          matInput
          formControlName="entrypoint"
          placeholder="path/to/project.aird"
        />
        <mat-error *ngIf="entrypoint.getError('required')"
          >Please enter a entrypoint!</mat-error
        >
        <mat-error *ngIf="entrypoint.getError('airdFileIncorrect')"
          >Your Entrypoint has to end with .aird!</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Revision</mat-label>
        <input matInput formControlName="revision" placeholder="HEAD" />
        <mat-error>Please enter a revision!</mat-error></mat-form-field
      >
    </form>
    <br />

    <button mat-flat-button color="primary" (click)="assignGitModel()">
      Assign
    </button>
  </form>
</mat-card>
<mat-card id="handle-models">
  <h2>Handle Git Models</h2>
  <div *ngIf="gitModelService.models.length"></div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let model of gitModelService.models">
      <mat-expansion-panel-header class="expansion-panel">
        <mat-panel-title> {{ model.name }} </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="model.primary">Primary</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field id="git-path-view" appearance="fill">
        <mat-label>Git-URL</mat-label>
        <input matInput disabled [value]="model.model.path" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="show-git-model">
        <mat-label>Entrypoint</mat-label>
        <input matInput disabled [value]="model.model.entrypoint" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="show-git-model">
        <mat-label>Revision</mat-label>
        <input matInput disabled [value]="model.model.revision" />
      </mat-form-field>
      <mat-form-field appearance="fill" id="project-id">
        <mat-label>Project ID</mat-label>
        <input matInput disabled [value]="model.project_id" /> </mat-form-field
      ><br />
      <button mat-flat-button color="primary" (click)="unassignGitModel(model)">
        Unassign
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="makeItPrimary(model.id)"
        *ngIf="!model.primary"
      >
        Make it primary
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="!gitModelService.models.length">
    There are no existing git models. Please create a new Git model to allow
    read-only connections.
  </div>
</mat-card>
