mat-card {
  min-width: 500px;
  margin: 5px;
  height: fit-content;
}

.content {
  margin-left: 5px;
}

mat-form-field {
  margin-right: 10px;
}

h1 {
  margin: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button {
  margin: 5px 10px 0 0;
}

#git-path {
  width: 370px;
}

#git-path-view {
  width: 450px;
}

input:disabled {
  color: black;
}

.show-git-model {
  width: 143px;
}

#project-id {
  width: 70px;
}

#credentials {
  padding: 5px;
  border-radius: 5px;
  background-color: lightgreen;
  width: fit-content;
}
