<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-card>
  <h2 class="content">Assign existing git repository</h2>
  <form [formGroup]="createGitModel" #createGitModelFormDirective="ngForm">
    <mat-form-field class="content">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Please enter a name!</mat-error>
    </mat-form-field>
    <br />
    <form formGroupName="model" class="content">
      <mat-form-field id="git-path">
        <mat-label>Git HTTPS-URL</mat-label>
        <input
          matInput
          formControlName="path"
          placeholder="https://github.com/repository.git"
        />
        <mat-error *ngIf="gitPath.getError('required')"
          >Please enter a Git HTTPS URL!</mat-error
        >
        <mat-error *ngIf="gitPath.getError('gitURLError')"
          >The provided Git URL does not match a valid Git HTTPS URL!</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Entrypoint</mat-label>
        <input
          matInput
          formControlName="entrypoint"
          placeholder="path/to/project.aird"
        />
        <mat-error *ngIf="entrypoint.getError('required')"
          >Please enter a entrypoint!</mat-error
        >
        <mat-error *ngIf="entrypoint.getError('airdFileIncorrect')"
          >Your Entrypoint has to end with .aird!</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Revision</mat-label>
        <input matInput formControlName="revision" placeholder="HEAD" />
        <mat-error>Please enter a revision!</mat-error></mat-form-field
      >
    </form>
    <div id="credentials">
      Credentials are used for pushes to the repository. <br />
      In private repositories, they are also needed to pull the model.
      <form formGroupName="credentials">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="techuser" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            placeholder="**********"
            type="password"
          />
        </mat-form-field>
      </form>
    </div>
    <br />
    <button
      class="content"
      mat-flat-button
      color="primary"
      (click)="assignGitModel(createGitModelFormDirective)"
    >
      Assign
    </button>
  </form>
</mat-card>
<mat-card id="handle-models">
  <h2>Handle Git models</h2>
  <div *ngIf="gitModelService.models.length"></div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let model of gitModelService.models">
      <mat-expansion-panel-header class="expansion-panel">
        <mat-panel-title> {{ model.name }} </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="model.primary">Primary</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field id="git-path-view" appearance="fill">
        <mat-label>Git-URL</mat-label>
        <input matInput disabled [value]="model.model.path" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="show-git-model">
        <mat-label>Entrypoint</mat-label>
        <input matInput disabled [value]="model.model.entrypoint" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="show-git-model">
        <mat-label>Revision</mat-label>
        <input matInput disabled [value]="model.model.revision" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="show-git-model">
        <mat-label *ngIf="model.username">Username</mat-label>
        <mat-label *ngIf="!model.username"
          ><mat-icon>no_encryption</mat-icon> No credentials</mat-label
        >
        <input matInput disabled [value]="model.username" />
      </mat-form-field>
      <br />
      <button mat-flat-button color="primary" (click)="unassignGitModel(model)">
        Unassign
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="makeItPrimary(model.id)"
        *ngIf="!model.primary"
      >
        Make it primary
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="!gitModelService.models.length">
    There are no linked git models.
  </div>
</mat-card>
