<h1 mat-dialog-title>Remove Git Model Assignment</h1>
<div mat-dialog-content>
  <p>
    Do you really want delete the Git Model {{ input.model.name }} with the ID
    {{ input.model.id }}?
  </p>
  <p>
    This will remove the Git Connection from T4C to Gitlab. It will not affect
    the existing repository! All Backup Jobs will be deleted.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close(false)">No</button>
  <button mat-flat-button (click)="unassignGitModel()">
    Unassign the Git Connection and linked Backup Jobs
  </button>
</div>
