<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-col justify-between w-full h-full">
  <div class="p-2">
    <h2>Diagram preview of '{{ data.diagram.name }}'</h2>
    <span>UUID: {{ data.diagram.uuid }}</span>
    <mat-divider id="top-divider"></mat-divider>
  </div>
  <div class="grow w-full">
    <img #diagram class="h-full w-full" [src]="data.content" />
  </div>
  <div class="w-full">
    <mat-divider id="bottom-divider"></mat-divider>
    <button class="w-full" mat-button mat-dialog-close>Close</button>
  </div>
</div>
