<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex h-full w-full flex-col justify-between">
  <div class="p-2">
    <h2>Diagram preview of '{{ data.diagram.name }}'</h2>
    <span>UUID: {{ data.diagram.uuid }}</span>
    <mat-divider id="top-divider"></mat-divider>
  </div>
  <div class="w-full grow">
    <img #diagram class="h-full w-full" [src]="data.content" />
  </div>
  <div class="w-full">
    <mat-divider id="bottom-divider"></mat-divider>
    <button class="w-full" mat-button mat-dialog-close>Close</button>
  </div>
</div>
