<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div
  class="flex size-full max-h-full !max-w-full flex-col justify-between overflow-hidden
    md:h-[85vw] md:max-h-[85vh] md:w-[90vw]"
>
  <div class="p-5">
    <h2 class="text-xl font-medium">
      Diagram preview of '{{ data.diagram.name }}'
    </h2>
    <span class="mb-1">UUID: {{ data.diagram.uuid }}</span>
  </div>
  <mat-divider></mat-divider>
  <div class="w-full grow">
    <img #diagram class="size-full" [src]="data.content" />
  </div>
  <div class="px-2 pb-2">
    <button class="w-full" mat-raised-button mat-dialog-close>Close</button>
  </div>
</div>
