/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.flexbox.space-around {
  display: flex;
  justify-content: space-around;
}

mat-form-field {
  width: 400px;
}
