<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-wrap gap-2">
  <div
    class="collab-card flex w-[400px] max-w-max-card flex-col justify-between"
  >
    <div>
      <div class="text-lg"><b>Common</b></div>
      <app-api-documentation
        class="pb-3"
        tag="Tools"
        hyperlink="create_tool_api_v1_tools_post"
      ></app-api-documentation>
      <app-editor height="500px" (submitted)="submitValue($event)" #editor />
    </div>
    <div class="mt-2 flex flex-wrap justify-around gap-2">
      <button mat-stroked-button (click)="editor.submitValue()" color="primary">
        <span>Save</span>
        <mat-icon class="ml-2">save</mat-icon>
      </button>
      <button mat-stroked-button (click)="editor.resetValue()">
        <span>Reset</span> <mat-icon class="ml-2">clear</mat-icon>
      </button>
      <button mat-stroked-button (click)="deleteTool()" color="warn">
        <span>Delete tool</span> <mat-icon class="ml-2">delete</mat-icon>
      </button>
    </div>
  </div>
  <app-tool-version [tool]="selectedTool"> </app-tool-version>
  <app-tool-nature [tool]="selectedTool"></app-tool-nature>
</div>
