<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if ((projectService.project$ | async) && (modelService.model$ | async)) {
  <div class="flex-center">
    <div class="field-separator"></div>
    <button mat-raised-button (click)="modelInitSelection.emit('create-empty')">
      <div class="button-content-wrapper">
        <p class="option-title">Manually configure model</p>
        <app-mat-icon size="70px">create_new_folder</app-mat-icon>
      </div>
    </button>
  </div>
}
