<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-col gap-4 text-center">
  <div
    class="transition-all duration-700"
    [ngClass]="{
      'max-h-0 overflow-hidden': (navBarService.loaded$ | async) === false,
      'max-h-screen': navBarService.loaded$ | async,
    }"
  >
    <div class="collab-card grid place-items-center">
      <div class="flex flex-col items-center gap-3 py-4 select-none">
        @if (navBarService.logoUrl$ | async; as logoUrl) {
          <img [src]="logoUrl" aria-hidden="true" alt="" class="h-12" />
        }
        <h1 class="text-primary text-2xl/none font-semibold">
          Capella Collaboration Manager
        </h1>

        @if ((navBarService.badge$ | async)?.show) {
          <div
            class="rounded-md px-2 py-1 text-sm font-semibold tracking-wide whitespace-nowrap text-white uppercase"
            [class.bg-hazard]="
              (navBarService.badge$ | async)?.variant === 'warning'
            "
            [class.bg-green-600]="
              (navBarService.badge$ | async)?.variant === 'success'
            "
          >
            {{ (navBarService.badge$ | async)?.text }}
          </div>
        }
      </div>
    </div>
  </div>

  @if (params["error"]) {
    <div
      class="rounded-material bg-red-700 p-3 text-center text-white shadow-md"
    >
      <p>
        The identity provider raised the following error:<br />
        <b>{{ params["error"] }}</b>
      </p>
      @if (params["error_description"]) {
        {{ params["error_description"] }}
      }
      @if (params["error_uri"]) {
        More information:
        <a href="{{ params['error_uri'] }}">{{ params["error_uri"] }}</a>
      }
    </div>
  }
  @if (params["reason"] === "blocked") {
    <div
      class="rounded-material bg-red-700 p-3 text-center text-white shadow-md"
    >
      Your account is blocked and all authenticated requests will be rejected.
      Contact support for further assistance.
    </div>
  }

  <div class="collab-card">
    @if (params["reason"]) {
      @switch (params["reason"]) {
        @case ("logout") {
          <div>You've been logged out successfully.</div>
        }
        @case ("session-expired") {
          <div>Your session has expired.</div>
        }
      }
    }

    <div id="oauth-login">
      You need to sign in before continuing: <br />
      <button
        mat-flat-button
        class="mt-2 h-[50px]!"
        (click)="authService.login()"
      >
        Login with
        {{ (metadataService.backendMetadata | async)?.authentication_provider }}
      </button>
      <br />
    </div>
  </div>

  <div class="collab-card">
    You can also find more information about the Collaboration Manager without
    logging in:
    <div class="flex flex-wrap justify-center gap-2 pt-2">
      <a mat-stroked-button [href]="getDocsURL()" target="_blank" rel="noopener"
        >Documentation <mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
      <a
        mat-stroked-button
        href="https://github.com/DSD-DBS/capella-collab-manager"
        target="_blank"
        rel="noopener"
        >GitHub <mat-icon iconPositionEnd>open_in_new</mat-icon>
      </a>
    </div>
  </div>
</div>
