<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="center">
  <span id="welcome">Welcome to the</span>
  <h1>Capella Collaboration Manager</h1>
  <div id="description">
    This service enables co-working on Capella MBSE projects. <br />
    To continue to the service you need an invite from an existing user. <br />
  </div>
  <mat-card *ngIf="params.has('error')" id="oauth-error">
    <p>
      The OAuth2 server raised the following error:<br />
      <b>{{ params.get("error") }}</b>
    </p>
    <p *ngIf="params.has('error_description')">
      {{ params.get("error_description") }}
    </p>
    <p *ngIf="params.has('error_uri')">
      More informations:
      <a href="{{ params.get('error_uri') }}">{{ params.get("error_uri") }}</a>
    </p>
  </mat-card>
  <div id="oauth-login">
    <button mat-flat-button color="primary" (click)="webSSO()">
      Login with
      {{ (metadataService.backendMetadata | async)?.authentication_provider }}
    </button>
    <br />
  </div>
</div>
