/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.center {
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 10px;
}

.repository-selection {
  margin-top: 10px;
}

#description {
  margin: auto;
  text-align: left;
  max-width: 400px;
  margin-bottom: 20px;
}

#oauth-error {
  max-width: 400px;
  margin: auto;
  color: white;
  background-color: #dc3545;
}

#oauth-error a {
  color: whitesmoke;
}
