<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="center">
  <span id="welcome">Welcome to the</span>
  <h1>Capella Collaboration Manager</h1>
  <div id="description">
    This service enables co-working on Capella MBSE projects. <br />
    To continue to the service you need an invite from an existing user. <br />
  </div>

  @if (params.has("error"); as error) {
    <div id="oauth-error" class="collab-card">
      <p>
        The OAuth2 server raised the following error:<br />
        <b>{{ error }}</b>
      </p>

      @if (params.has("error_description"); as error_description) {
        <p>{{ error_description }}</p>
      }

      @if (params.has("error_uri"); as error_uri) {
        <p>
          More informations:
          <a href="{{ error_uri }}">{{ error_uri }}</a>
        </p>
      }
    </div>
  }
  <div id="oauth-login">
    <button mat-flat-button color="primary" (click)="webSSO()">
      Login with
      {{ (metadataService.backendMetadata | async)?.authentication_provider }}
    </button>
    <br />
  </div>
</div>
