/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */
:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: black;
  width: 10px !important;
  height: 10px !important;
}

mat-icon {
  margin-left: 5px;
  transform: scale(1.75);
}

.error {
  background-color: var(--error-color);
}

.warning {
  background-color: var(--warning-color);
}

.success {
  background-color: var(--success-color);
}

.item {
  height: 35px;
}
