<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<span *ngIf="state === 'success'" class="circle"
  ><mat-icon style="color: green">check_circle</mat-icon></span
>
<span *ngIf="state === 'running'" class="circle"
  ><mat-spinner [diameter]="35"></mat-spinner
></span>
<span *ngIf="state === 'pending'" class="circle" style="color: grey"
  ><mat-icon>access_time</mat-icon></span
>
<span *ngIf="state === 'error'" class="circle" style="color: darkred"
  ><mat-icon>error</mat-icon></span
>
