<div id="toolbar">
  <div class="flexbox">
    <img class="logo" src="../../assets/logo.svg" />
    <button mat-button routerLink="">Request Session</button>
    <button mat-button routerLink="active-sessions">Active Sessions</button>
    <button
      id="overview"
      mat-button
      *ngIf="
        repositoryService.isManager ||
        userService.user?.role === 'administrator'
      "
      routerLink="overview"
    >
      Overview
    </button>
    <button
      mat-button
      routerLink="logout"
      [queryParams]="{ reason: 'logout' }"
      *ngIf="localStorageService.getValue('access_token')"
    >
      Log out
    </button>
  </div>
  <div class="right-aligned">
    <div>
      <div class="margin"></div>
      <span id="github">
        <a
          class="github-button"
          href="https://github.com/DSD-DBS/capella-collab-manager/issues"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          data-size="large"
          aria-label="Issue DSD-DBS/capella-collab-manager on GitHub"
          >Open Issue on Github</a
        >
      </span>
    </div>
    <button id="settings" mat-button routerLink="settings">
      Settings&nbsp;
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
