<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div id="toolbar">
  <div class="flexbox primaryText" id="title">{{ title }}</div>
  <div class="flexbox">
    <a mat-raised-button color="primary" routerLink="">Workspaces</a>
    <a
      color="primary"
      id="overview"
      mat-raised-button
      *ngIf="
        repositoryService.isManager ||
        userService.user?.role === 'administrator'
      "
      routerLink="overview"
    >
      Overview
    </a>
    <a
      color="primary"
      mat-raised-button
      *ngIf="userService.user?.role === 'administrator'"
      href="/prometheus/graph"
      target="_blank"
    >
      Prometheus <mat-icon>open_in_new</mat-icon>
    </a>
    <a color="primary" mat-raised-button href="/docs/" target="_blank">
      Documentation <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
  <div class="right-aligned">
    <div>
      <div class="margin"></div>
      <span id="github">
        <a
          class="github-button"
          href="https://github.com/DSD-DBS/capella-collab-manager/issues"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          data-size="large"
          aria-label="Issue DSD-DBS/capella-collab-manager on GitHub"
          >Open Issue on Github</a
        >
      </span>
    </div>
    <mat-menu #profileMenu="matMenu">
      <button class="profileMenuButton" mat-menu-item routerLink="settings">
        Settings <mat-icon>settings</mat-icon>
      </button>
      <button
        class="profileMenuButton"
        mat-menu-item
        routerLink="logout/redirect"
        [queryParams]="{ reason: 'logout' }"
        *ngIf="localStorageService.getValue('access_token')"
      >
        Log out <mat-icon>logout</mat-icon>
      </button>
    </mat-menu>
    <button
      color="primary"
      id="profile"
      mat-raised-button
      [matMenuTriggerFor]="profileMenu"
    >
      Profile <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
