.logo {
  margin: 10px;
}

#logo-dsd {
  height: 30px;
}

#toolbar {
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
}

.flexbox {
  display: flex;
  align-items: center;
}

#settings {
  margin-right: 20px;
}
