<mat-card
  ><h1>Feedback / Contact</h1>
  This application is very new and problems may still arise. <br />
  So we need your comments, bugreports and feedback!
  <hr />

  <h4>For technical comments:</h4>
  <a
    mat-raised-button
    href="https://teams.microsoft.com/l/chat/0/0?users=Moritz.Weber@deutschebahn.com"
    class="teams-button"
    target="_blank"
  >
    Send a Microsoft Teams message &nbsp; <mat-icon>send</mat-icon>
  </a>
  <a
    mat-raised-button
    class="email-button"
    href="mailto:moritz.weber@deutschebahn.com?subject=Request%20via%20T4C%20Access%20Manager"
  >
    Send an email &nbsp; <mat-icon>email</mat-icon>
  </a>

  <hr />
  <h4>For questions regarding Capella and Team4Capella itself:</h4>
  <a
    mat-raised-button
    href="https://teams.microsoft.com/l/chat/0/0?users=Viktor.Kravchenko@deutschebahn.com"
    class="teams-button"
    target="_blank"
  >
    Send a Microsoft Teams message &nbsp; <mat-icon>send</mat-icon>
  </a>
  <a
    mat-raised-button
    class="email-button"
    href="mailto:viktor.kravchenko@deutschebahn.com?subject=Request%20via%20T4C%20Access%20Manager"
  >
    Send an email &nbsp; <mat-icon>email</mat-icon>
  </a>
</mat-card>
