<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<article class="item-container">
  <a [routerLink]="['create']">
    <mat-card matRipple class="item-card">
      <mat-card-header>
        <mat-card-title>Add an instance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="icon-container">
          <mat-icon inline>add_circle_outline</mat-icon>
        </p>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </a>

  <a
    *ngFor="let instance of instances"
    [routerLink]="['instance', instance.id]"
  >
    <mat-card matRipple class="item-card">
      <mat-card-header>
        <mat-card-title>{{ instance.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <mat-icon inline>tag</mat-icon>&nbsp;&nbsp;{{
              instance.version.name
            }}
          </li>
          <li>
            <mat-icon inline>link</mat-icon>&nbsp;&nbsp; {{ instance.host }}:{{
              instance.port
            }}
          </li>
        </ul>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </a>
</article>
