<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex-center">
  <mat-card class="section-card">
    <h2>pure::variants configuration</h2>
    <form (submit)="onSubmit()" [formGroup]="form">
      <fieldset>
        <app-form-field-skeleton-loader
          *ngIf="loading"
        ></app-form-field-skeleton-loader>
        <mat-form-field *ngIf="!loading" appearance="fill">
          <mat-label>Floating license server URL</mat-label>
          <input
            placeholder="http://localhost:8080"
            matInput
            formControlName="licenseServerURL"
          />
        </mat-form-field>
      </fieldset>
      <div class="flex-space-between">
        <button mat-raised-button color="primary" type="submit">Update</button>
      </div>
    </form>
  </mat-card>
</div>
