<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flexbox">
  <mat-card id="manage-users">
    <h2>Manage users</h2>
    <mat-form-field id="search" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search"
        autocomplete="off"
        matInput
        placeholder="Username"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <ngx-simplebar class="user-selection">
      <mat-selection-list #adminusers [multiple]="false">
        <div mat-subheader>Administrators</div>
        <mat-list-option
          *ngFor="let user of getUsersByRole('administrator')"
          [value]="user"
        >
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>{{ user.name }}</div>
          <div mat-line>{{ repoUserService.ADVANCED_ROLES[user.role] }}</div>
        </mat-list-option>
        <div mat-subheader>Users</div>
        <mat-list-option
          *ngFor="let user of getUsersByRole('user')"
          [value]="user"
        >
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>{{ user.name }}</div>
          <div mat-line>{{ repoUserService.ADVANCED_ROLES[user.role] }}</div>
        </mat-list-option>
      </mat-selection-list>
    </ngx-simplebar>

    <div *ngIf="adminusers.selectedOptions.selected.length">
      <button
        mat-flat-button
        color="primary"
        *ngIf="
          adminusers.selectedOptions.selected[0]?.value.role ==
            'administrator' &&
          adminusers.selectedOptions.selected[0]?.value.name !=
            userService.getUsernameFromLocalStorage()
        "
        (click)="
          this.removeAdministrator(
            adminusers.selectedOptions.selected[0]?.value.name
          )
        "
      >
        <mat-icon>arrow_downward</mat-icon>
        Downgrade
        {{ adminusers.selectedOptions.selected[0]?.value.name }} to User
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="
          createAdministratorWithUsername(
            adminusers.selectedOptions.selected[0]?.value.name
          )
        "
        *ngIf="adminusers.selectedOptions.selected[0]?.value.role === 'user'"
      >
        <mat-icon>arrow_upward</mat-icon>
        Upgrade
        {{ adminusers.selectedOptions.selected[0]?.value.name }} to
        Administrator
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="deleteUser(adminusers.selectedOptions.selected[0]?.value.name)"
        *ngIf="adminusers.selectedOptions.selected[0]?.value.role === 'user'"
      >
        <mat-icon>delete</mat-icon>
        Delete
        {{ adminusers.selectedOptions.selected[0]?.value.name }}
      </button>
    </div>
  </mat-card>
  <mat-card>
    <h2>Create Administrator</h2>
    Be careful with this option: <br />
    Administrators can control all sessions <br />
    and can modify all repositories! <br />
    <form [formGroup]="createAdministratorFormGroup">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="username.getError('required')"
          >Please enter a username!</mat-error
        >
        <mat-error *ngIf="username.getError('lowerCaseError')"
          >Usernames can only contain lowercase letters!
        </mat-error>
      </mat-form-field>
      <button mat-flat-button (click)="createAdministrator()" color="primary">
        Create Administrator <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
