/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@use "@angular/material" as mat;

$primary-palette: (
  50: #e8eaf6,
  100: #c5cbe9,
  200: #9fa8da,
  300: #7985cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #394aae,
  700: #3140a5,
  800: #29379d,
  900: #1b278d,
  A100: #c6cbff,
  A200: #939dff,
  A400: #606eff,
  A700: #4757ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$primary: mat.define-palette($primary-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $primary,
    ),
  )
);


/* width */
.simple-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.simple-scroll::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.simple-scroll::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
  border-radius: 10px;
}
