/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@use '@angular/material' as mat;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$magenta-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$magenta-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  // Default to light theme
  @include mat.all-component-themes($light-theme);

  .primary-button {
    @include mat.button-color($theme: $light-theme, $color-variant: 'primary');
  }

  .secondary-button {
    @include mat.button-color($theme: $light-theme, $color-variant: 'secondary');
  }

  .tertiary-button {
    @include mat.button-color($theme: $light-theme, $color-variant: 'tertiary');
  }

  .error-button {
    @include mat.button-color($theme: $light-theme, $color-variant: 'error');
  }
}

// Dark theme styles
.dark-theme {
  @include mat.all-component-colors($dark-theme);

  .primary-button {
    @include mat.button-color($theme: $dark-theme, $color-variant: 'primary');
  }

  .secondary-button {
    @include mat.button-color($theme: $dark-theme, $color-variant: 'secondary');
  }

  .tertiary-button {
    @include mat.button-color($theme: $dark-theme, $color-variant: 'tertiary');
  }

  .error-button {
    @include mat.button-color($theme: $dark-theme, $color-variant: 'error');
  }
}
