/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@import "./../node_modules/ngx-toastr/toastr.css" layer(base);

@import "tailwindcss";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --primary-color: #005cbb;
  --error-color: #ba1a1a;
  --warning-color: #c2410c;
  --success-color: darkgreen;
  --hover-color: #deecf9;
  --button-background: var(--mdc-filled-text-field-container-color);
  --button-title-color: var(--mdc-filled-text-field-label-text-color);
  --form-field-letter-spacing: var(--mat-form-field-container-text-tracking);
  --banner-color: #010035;
  --field-padding: 0.75em;
  --section-card-width: 32em;
  --mat-sidenav-container-width: "fit-content";
  --mat-tree-container-background-color: "transparent";
  --mdc-chip-label-text-color: "inherit";
  --mdc-chip-with-trailing-icon-trailing-icon-color: "inherit";
}

@theme {
  --color-primary: var(--primary-color);
  --color-error: var(--error-color);
  --color-warning: var(--warning-color);
  --color-success: var(--success-color);
  --color-hover: var(--hover-color);

  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif;
  --font-special: "Comic Sans MS", Chalkboard;

  --background-image-hazard: repeating-linear-gradient(
    -55deg,
    #000,
    #000 10px,
    #966708 10px,
    #966708 20px
  );

  --radius-material: 28px;

  --spacing-card: 400px;
  --spacing-wide-card: 600px;
}

html {
  @apply overflow-y-scroll bg-[#faf9fd];
}

.dialog {
  padding: 20px;
  max-height: 90vh;
}

.max-w-mat-card {
  /*
   The mat-cards should not overflow the screen
   2*3.9px is the margin of the wrapper
   2*10px is the margin of the mat-card
  */

  max-width: calc(100vw - 2 * 3.9px - 2 * 10px);
}

fieldset {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  border: none;
  width: auto;
  display: flex;
  @apply *:flex-grow;
}

.content {
  max-height: 5rem;
  margin: auto;
}

.collab-card {
  @apply bg-white p-4 shadow-md;
  border-radius: 28px;
}

.mat-card-overview .content {
  padding: 10px 20px;
  min-height: 64%;
}

.mat-card-overview {
  @apply h-[250px] w-full p-0! select-none sm:w-[400px];
}

.mat-card-overview.new {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.mat-card-overview.new .content {
  text-align: center;
  margin: auto;
}

.mat-card-overview.new > :first-child {
  margin: auto !important;
}
.mat-card-overview.new .icon {
  padding-top: 60px;
}

.mat-card-overview:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.mat-card-overview .header {
  background-color: var(--primary-color);
  color: white;
  border-radius: 28px 28px 0 0;
  display: flex;
  padding: 10px 20px;
  font-size: 1.5em;
}

.mat-dialog {
  min-width: 800px;
}

.form-field-default {
  width: 100%;
  max-width: 85vw;
}

/*
    Added due to vertical line in mat-form-field
    https://github.com/tailwindlabs/tailwindcss/discussions/9993
*/
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal !important;
  text-wrap: nowrap;
}

/*
    Icons is not centered in mat-icon-button by default
    https://github.com/angular/components/issues/8842
*/
.mdc-icon-button {
  display: flex !important;
  align-items: center;
}

.mdc-radio__inner-circle,
.mdc-radio__outer-circle {
  border-color: black !important;
}

.mdc-radio__background::after,
.mdc-radio__background::before,
.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
  background-color: black !important;
}

.mat-expansion-indicator::after {
  border-color: black;
  margin-top: -6px;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-header {
  padding: 0 12px !important;
}

/* https://github.com/angular/components/issues/26176 */
.mat-mdc-button-touch-target {
  display: none !important;
}

.mat-mdc-tab {
  letter-spacing: var(--tracking-normal) !important;
}

.mdc-evolution-chip--with-avatar.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__graphic {
  padding-right: 0px !important;
}

@media (max-width: 640px) {
  .mat-stepper-horizontal-line {
    width: 100%;
  }
  .mat-horizontal-stepper-header-container {
    height: 50px;
  }
}

/* Apply class scrollbar-none to hide scrollbars */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove padding from mat-horizontal-content-container */
.mat-horizontal-content-container {
  padding: 0 !important;
}
