/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-size: 100%;
}

html {
  overflow-y: scroll;
}

body {
  @apply m-0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  @apply !no-underline;
}

.dialog {
  padding: 20px;
  max-height: 90vh;
}

table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}

/* All global variables are defined here */
:root {
  --primary-color: #3f51b5;
  --error-color: darkred;
  --warning-color: darkorange;
  --success-color: darkgreen;
  --hover-color: lightcyan;
  --banner-color: #010035;
  --field-padding: 0.75em;
  --section-card-width: 32em;
}

/* When using icons in the text, they are not properly aligned */
.mat-icon-position {
  position: relative;
  bottom: 0.1em;
}

.mat-icon-position.top {
  top: 5px;
}

.mat-icon-position.right {
  margin-left: 5px;
}

.mat-icon-position.left {
  margin-right: 5px;
}

.mat-icon {
  height: 400px;
}

.expansion-panel > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title {
  flex: 2;
}
.mat-content > mat-panel-description {
  flex: 1;
}

/* When using two line errors, we need to add some margin to the mat-error */
@keyframes add-margin-for-mat-error {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 13px;
  }
}

button.primary {
  background-color: var(--primary-color);
  color: white;
}

.primaryText {
  color: var(--primary-color);
}

button.success {
  background-color: green;
  color: white;
}

h1 {
  font-size: large;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

.vertical-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field-separator {
  margin: 0 1em;
  display: inline-block;
}

.half-field-separator {
  margin: 0 1em 0 0;
  display: inline-block;
}

.field-separator::before {
  display: inline-block;
  content: "\00a0\00a0";
}

.path-separator::before {
  content: "/";
}

fieldset {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  border: none;
  width: auto;
  display: flex;
}

fieldset > :not(.field-separator) {
  flex-grow: 1;
}

.margin.default {
  margin: 10px;
}

.version-selector {
  flex-shrink: 0.5;
}

.button-content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  max-height: 5rem;
  margin: auto;
}

/*
Own collab manager card styles
*/

.collab-card {
  @apply rounded-md bg-white p-3 shadow-md;
}

/*
Angular Material Card Styles
*/

.mat-card-overview .content {
  padding: 10px 20px;
  min-height: 64%;
}

.mat-card-overview {
  padding: 0 !important;
  width: fit-content;
  width: 400px;
  max-width: 85vw;
  height: 250px;
  user-select: none;
}

.mat-card-overview.new {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.mat-card-overview.new .content {
  text-align: center;
  margin: auto;
}

.mat-card-overview.new > :first-child {
  margin: auto !important;
}
.mat-card-overview.new .icon {
  padding-top: 60px;
}

.mat-card-overview:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.mat-card-overview .header {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  padding: 10px 20px;
  font-size: 1.5em;
}

.mat-dialog {
  min-width: 800px;
}

.form-field-default {
  width: 100%;
  max-width: 85vw;
}

/* Added due to vertical line in mat-form-field - for more information read: https://github.com/tailwindlabs/tailwindcss/discussions/9993 */
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal !important;
  text-wrap: nowrap;
}

.mdc-radio__inner-circle,
.mdc-radio__outer-circle {
  border-color: black !important;
}

.mdc-radio__background::after,
.mdc-radio__background::before,
.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
  background-color: black !important;
}

/* https://github.com/angular/components/issues/26176 */
.mat-mdc-button-touch-target {
  @apply !hidden;
}

.mat-mdc-tab {
  @apply !tracking-normal;
}

/*
Option cards
*/

.option-card {
  width: 200px;
  max-width: 85vw;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.option-card:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.option-title {
  text-align: center;
  display: inline-block;
  white-space: break-spaces;
  overflow: hidden;
  line-height: 1.2rem;
  height: 2.4rem;
  width: 20ch;
}

@media (max-width: 640px) {
  .mat-stepper-horizontal-line {
    width: 100%;
  }
  .mat-horizontal-stepper-header-container {
    height: 50px;
  }
}
