/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.title {
  font-size: 2em;
  margin: 20px;
  padding-bottom: 20px;
}

.git {
  max-width: 50%;
}
