<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div *ngIf="(projectService.project$ | async) && (modelService.model$ | async)">
  <h2 class="title text-center">Git sources</h2>
  <div class="flex justify-center flex-wrap">
    <a (click)="modelSourceSelection.emit('git-add')">
      <mat-card class="option-card">
        <p class="subtitle">Use existing repository</p>
        <app-mat-icon size="50px">link</app-mat-icon>
      </mat-card>
    </a>
  </div>

  <div
    *ngIf="
      (modelService.model$ | async)!.tool?.integrations?.t4c &&
      userService.user?.role === 'administrator'
    "
  >
    <h2 class="title text-center">Team4Capella sources</h2>
    <div class="flex justify-center flex-wrap">
      <a (click)="modelSourceSelection.emit('t4c-existing')">
        <mat-card class="option-card">
          <p class="subtitle">Use existing repository</p>
          <app-mat-icon size="50px">link</app-mat-icon>
        </mat-card>
      </a>
      <a (click)="modelSourceSelection.emit('t4c-new')">
        <mat-card class="option-card">
          <p class="subtitle">Create new repository</p>
          <app-mat-icon size="50px">add_circle_outline</app-mat-icon>
        </mat-card>
      </a>
    </div>
  </div>

  <h2 class="title text-center">Other</h2>
  <div class="flex justify-center flex-wrap">
    <a (click)="modelSourceSelection.emit('skip')">
      <mat-card class="option-card">
        <p class="subtitle">Skip this step</p>
        <app-mat-icon size="50px">skip_next</app-mat-icon>
      </mat-card>
    </a>
  </div>
</div>
