/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#mat-card-session-created {
  margin-top: 40px;
}

.flexbox {
  display: flex;
}

mat-card {
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
