/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

mat-card {
  width: fit-content;
  margin: 10px;
  height: fit-content;
}

mat-form-field {
  margin-right: 10px;
}

h1 {
  margin: 10px;
}

button {
  margin-top: 5px;
  display: block;
}

.form-field {
  width: 400px;
  max-width: 85vw;
}
