<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex flex-col gap-2">
  <div class="collab-card">
    <h2 class="text-xl font-medium">Create new Alert</h2>
    <form [formGroup]="createAlertForm" class="flex flex-wrap">
      <div class="flex w-full flex-wrap gap-2">
        <div class="min-w-[200px] flex-1">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
        </div>
        <mat-form-field class="w-full sm:w-auto" appearance="fill">
          <mat-label>Level</mat-label>
          <mat-select formControlName="level">
            @for (noticeLevel of noticeLevels; track noticeLevel) {
              <mat-option [value]="noticeLevel">
                {{ noticeLevel }}
              </mat-option>
            }
          </mat-select>
          <mat-error>Please select a level!</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="message"></textarea>
        @if (message.getError("titleOrDescriptionAvailable")) {
          <mat-error>Please enter a description or title!</mat-error>
        }</mat-form-field
      ><br />
      <button mat-flat-button color="primary" (click)="createNotice()">
        Create
      </button>
    </form>
  </div>
  <div class="collab-card">
    <h2 class="text-xl font-medium">Handle alerts</h2>
    @if ((noticeWrapperService.notices$ | async) === undefined) {
      @for (_ of [0, 1, 2]; track $index) {
        <ngx-skeleton-loader
          count="1"
          appearance="circle"
          [theme]="{
            'border-radius': '5px',
            height: '48px',
            width: '100%',
            border: '1px solid white',
            margin: 0,
            padding: 0,
          }"
        ></ngx-skeleton-loader>
      }
    } @else {
      <mat-accordion>
        @for (
          notice of noticeWrapperService.notices$ | async;
          track notice.id
        ) {
          <mat-expansion-panel>
            <mat-expansion-panel-header
              [attr.data-testid]="'alert-' + notice.id"
            >
              <mat-panel-title> {{ notice.title }} </mat-panel-title>
              <mat-panel-description>
                {{ notice.level }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="p-3">
              <p>{{ notice.message }}</p>
              <button
                mat-flat-button
                color="primary"
                class="mt-2"
                (click)="deleteNotice(notice.id)"
              >
                Delete!
              </button>
            </div>
          </mat-expansion-panel>
        } @empty {
          There are no existing alerts.
        }
      </mat-accordion>
    }
  </div>
</div>
