<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-card>
  <h2>Create new alert</h2>
  <form [formGroup]="createAlertForm" class="flex flex-wrap">
    <div class="flex flex-wrap gap-2">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select formControlName="level">
          <mat-option
            *ngFor="let noticeLevel of noticeService.noticeLevels"
            [value]="noticeLevel"
          >
            {{ noticeLevel }}
          </mat-option>
        </mat-select>
        <mat-error>Please select a level!</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="message"></textarea
      ><mat-error *ngIf="message.getError('titleOrDescriptionAvailable')"
        >Please enter a description or title!</mat-error
      ></mat-form-field
    ><br />
    <button mat-flat-button color="primary" (click)="createNotice()">
      Create
    </button>
  </form>
</mat-card>
<mat-card id="handle-alerts">
  <h2>Handle alerts</h2>
  <div *ngIf="noticeService.notices.length"></div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let notice of noticeService.notices">
      <mat-expansion-panel-header class="expansion-panel">
        <mat-panel-title> {{ notice.title }} </mat-panel-title>
        <mat-panel-description>
          {{ notice.level }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ notice.message }}</p>
      <button mat-flat-button color="primary" (click)="deleteNotice(notice.id)">
        Delete!
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="!noticeService.notices.length">There are no existing alerts.</div>
</mat-card>
