/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.wrapper > a {
  text-decoration: none;
  color: var(--primary-color);
}
