<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if (!isInProjectCreation()) {
  <h2 class="mb-2 mr-2.5 text-xl font-medium">Project Members</h2>
}

<div class="collab-card w-full !pb-0 sm:min-w-[420px] sm:max-w-[350px]">
  <div class="mb-2 flex flex-wrap gap-2">
    <button
      class="flex items-center justify-between"
      (click)="openAddUserDialog()"
      mat-stroked-button
    >
      <mat-icon>add</mat-icon>
      <span> Add User </span>
    </button>
    @if (!isInProjectCreation()) {
      <button
        class="flex items-center justify-between"
        (click)="openAuditLogDialog()"
        mat-stroked-button
      >
        <mat-icon>assignment</mat-icon>
        <span> Review access changes </span>
      </button>
    }
  </div>

  <mat-form-field class="mb-[-20px] mt-[10px] w-full" appearance="outline">
    <mat-label>Search</mat-label>
    <input [(ngModel)]="search" matInput placeholder="Username" class="mr-2" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="max-h-[50vh] overflow-y-scroll">
    @for (role of projectUserRoles; track role) {
      <div class="mt-2.5 pl-1 text-lg font-bold text-gray-400">
        @let userCount =
          getProjectUsersByRole(projectUserService.projectUsers$ | async, role)
            ?.length;
        {{ userCount }}
        @switch (role) {
          @case ("manager") {
            Project Administrator{{ userCount === 1 ? "" : "s" }}
          }
          @case ("administrator") {
            Global Administrator{{ userCount === 1 ? "" : "s" }}
          }
          @case ("user") {
            Project User{{ userCount === 1 ? "" : "s" }}
          }
        }
      </div>
      @for (
        user of getProjectUsersByRole(
          projectUserService.projectUsers$ | async,
          role
        );
        track user.user.id
      ) {
        <div class="mx-1.5 my-2.5 flex items-center justify-between">
          <a class="flex" [routerLink]="['/user', user.user.id]">
            <div class="ml-0 mr-4 flex items-center">
              <mat-icon class="my-auto !h-8 !w-8 text-3xl" mat-list-icon
                >account_circle</mat-icon
              >
            </div>
            <div>
              <div class="break-all text-[17.5px]">
                {{ user.user.name }}
                @if (user.user.blocked) {
                  <app-chip>Blocked</app-chip>
                }
              </div>
              <div class="text-[14px] text-gray-500">
                {{ advanced_roles[user.role] }},
                {{ permissions[user.permission] }}
              </div>
            </div>
          </a>
          <div class="ml-1 mr-0 flex items-center">
            @if (user.role === "user") {
              @if (user.permission === "read") {
                <button
                  mat-icon-button
                  (click)="setUserPermission(user.user, 'write')"
                  matTooltip="Set permission of user to read/write"
                >
                  <mat-icon>folder_shared</mat-icon>
                </button>
              } @else {
                <button
                  mat-icon-button
                  (click)="setUserPermission(user.user, 'read')"
                  matTooltip="Set permission of user to read only"
                >
                  <mat-icon>folder_open</mat-icon>
                </button>
              }
            }
            @if (user.role === "user") {
              <button
                mat-icon-button
                (click)="upgradeUserToProjectManager(user.user)"
                matTooltip="Upgrade user to project manager"
              >
                <mat-icon>arrow_upward</mat-icon>
              </button>
            } @else if (
              user.role === "manager" &&
              user.user.id !== ownUserWrapperService.user?.id
            ) {
              <button
                mat-icon-button
                (click)="downgradeUserToUserRole(user.user)"
                matTooltip="Downgrade user to simple user"
              >
                <mat-icon>arrow_downward</mat-icon>
              </button>
            }
            @if (
              user.role !== "administrator" &&
              user.user.id !== ownUserWrapperService.user?.id
            ) {
              <button
                mat-icon-button
                (click)="removeUserFromProject(user.user)"
                matTooltip="Remove user from project"
              >
                <mat-icon class="text-error">delete</mat-icon>
              </button>
            }
          </div>
        </div>
      }
      @if ((projectUserService.projectUsers$ | async) === undefined) {
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{
            'border-radius': '5px',
            height: '125px',
            width: 'calc(100% - 12px)',
            border: '1px solid white',
          }"
        ></ngx-skeleton-loader>
      }
    }
  </div>
</div>
