<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-card id="manage-users">
  <h2>Manage users</h2>
  <mat-form-field id="search" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      [(ngModel)]="search"
      autocomplete="off"
      matInput
      placeholder="Username"
    />
    <mat-icon matSuffix>search</mat-icon> </mat-form-field
  >.
  <mat-selection-list
    #users
    [multiple]="false"
    class="scrollable simple-scroll"
  >
    <div mat-subheader>Managers</div>
    <mat-list-option
      *ngFor="let user of getRepositoryUsersByRole('manager')"
      [value]="user"
    >
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{ user.username }}</div>
      <div mat-line>
        {{ repoUserService.ADVANCED_ROLES[user.role] }},
        {{ repoUserService.PERMISSIONS[user.permission] }}
      </div>
    </mat-list-option>
    <div mat-subheader>Users</div>
    <mat-list-option
      *ngFor="let user of getRepositoryUsersByRole('user')"
      [value]="user"
    >
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{ user.username }}</div>
      <div mat-line>
        {{ repoUserService.ADVANCED_ROLES[user.role] }},
        {{ repoUserService.PERMISSIONS[user.permission] }}
      </div>
    </mat-list-option>
  </mat-selection-list>

  <div
    *ngIf="
      users.selectedOptions.selected.length &&
      userService.getUsernameFromLocalStorage() != selectedUser.username
    "
  >
    <button
      mat-flat-button
      color="primary"
      *ngIf="['user', 'manager'].includes(selectedUser.role)"
      (click)="removeUserFromRepo(selectedUser.username)"
    >
      <mat-icon>delete</mat-icon> Remove {{ selectedUser.username }} from
      {{ repository.name }}
    </button>
    <button
      mat-flat-button
      color="primary"
      *ngIf="'user' == selectedUser.role"
      (click)="upgradeUserToRepositoryManager(selectedUser.username)"
    >
      <mat-icon>arrow_upward</mat-icon>
      Upgrade
      {{ selectedUser.username }} to project manager
    </button>
    <button
      mat-flat-button
      color="primary"
      *ngIf="'manager' == selectedUser.role"
      (click)="downgradeUserToUserRole(selectedUser.username)"
    >
      <mat-icon>arrow_downward</mat-icon>
      Downgrade
      {{ selectedUser.username }} to User
    </button>
    <div *ngIf="'manager' != selectedUser.role">
      <button
        mat-flat-button
        color="primary"
        *ngIf="'read' == selectedUser.permission"
        (click)="setUserPermission(selectedUser.username, 'write')"
      >
        <mat-icon>folder_shared</mat-icon>
        Set permission of User
        {{ selectedUser.username }} to Read/Write
      </button>
      <button
        mat-flat-button
        color="primary"
        *ngIf="'write' == selectedUser.permission"
        (click)="setUserPermission(selectedUser.username, 'read')"
      >
        <mat-icon>folder_open</mat-icon>
        Set permission of User
        {{ selectedUser.username }} to Read only
      </button>
    </div>
  </div>
</mat-card>
<mat-card>
  <h2>Add user</h2>
  <form [formGroup]="addUserToRepoForm" #addUserToRepoFormDirective="ngForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="username.getError('required')"
        >Please enter a username!</mat-error
      >
      <mat-error *ngIf="username.getError('lowerCaseError')"
        >Usernames can only contain lowercase letters!
      </mat-error>
      <mat-error *ngIf="username.getError('userAlreadyInRepositoryError')"
        >The user is already a member of this repository!
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option
          *ngFor="let role of repoUserService.ROLES | keyvalue"
          [value]="role.key"
          >{{ role.value }}</mat-option
        >
      </mat-select>
      <mat-error>You have to select a role!</mat-error> </mat-form-field
    ><br />
    <mat-form-field *ngIf="addUserToRepoForm.value.role != 'manager'">
      <mat-label>Permission</mat-label>
      <mat-select formControlName="permission">
        <mat-option
          *ngFor="let permission of repoUserService.PERMISSIONS | keyvalue"
          [value]="permission.key"
          >{{ permission.value }}</mat-option
        >
      </mat-select>
      <mat-error>You have to select a permission!</mat-error>
    </mat-form-field>
    <button
      (click)="addUser(addUserToRepoFormDirective)"
      mat-flat-button
      color="primary"
    >
      Add user <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </form>
</mat-card>
