/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#manage-users {
  width: 400px;
  padding: 16px 0 0 16px;
  width: 400px;
  max-width: 85vw;
}

.user-selection {
  height: 40vh;
}

button {
  display: block;
}

#search-wrapper {
  padding-right: 16px;
}

#search {
  padding-bottom: -20px;
  margin-bottom: -20px;
  width: 400px;
  max-width: 85vw;
}

mat-card {
  width: 400px;
  max-width: 85vw;
}

.scrollable {
  max-height: 50vh;
  overflow-y: scroll;
}

mat-form-field {
  width: 100%;
}

.user {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.roleTitle {
  color: darkgrey;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
}

.accountCircle {
  font-size: 30px;
  height: 30px;
  width: 30px;
  margin: auto 15px auto 0;
}

.username {
  font-size: 1.25em;
}

.userrole {
  color: grey;
}

.useractions > button {
  margin: 0 px;
}

#add-user {
  margin-left: 5px;
}

#manage-users-header {
  margin-right: 10px;
}
