<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div *ngIf="!hasRoute('projects/create')" class="mr-2.5">
  <div class="ml-[20px] flex justify-between">
    <div>
      <h2 class="text-xl font-medium">Project Members</h2>
    </div>
    <div class="flex flex-wrap gap-2"></div>
  </div>
</div>
<div class="collab-card w-[312px] max-w-[350px] sm:min-w-[420px]">
  <div class="my-[10px]" *ngIf="!hasRoute('projects/create')">
    <button
      class="flex items-center justify-between"
      (click)="openAuditLogDialog()"
      mat-stroked-button
    >
      <mat-icon>assignment</mat-icon>
      <span> Review access changes </span>
    </button>
  </div>

  <h3 class="pl-1">New members</h3>
  <mat-divider></mat-divider>
  <div class="my-[10px]">
    <button
      class="flex items-center justify-between"
      (click)="openAddUserDialog()"
      mat-stroked-button
    >
      <mat-icon>add</mat-icon>
      <span> Add User </span>
    </button>
  </div>

  <h3 class="pl-1">Current members</h3>
  <mat-divider></mat-divider>
  <mat-form-field
    class="mb-[-20px] mt-[10px] w-full pl-1 pr-4"
    appearance="outline"
  >
    <mat-label>Search</mat-label>
    <input [(ngModel)]="search" matInput placeholder="Username" class="mr-2" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="max-h-[50vh] overflow-y-scroll">
    <div *ngFor="let role of ['manager', 'user', 'administrator']">
      <div class="mt-2.5 pl-1 text-lg font-bold text-gray-400">
        {{ capitalizeFirstLetter(role) }}
      </div>
      <div
        class="mx-1.5 my-2.5 flex items-center justify-between"
        *ngFor="
          let user of getProjectUsersByRole(
            projectUserService.projectUsers$ | async,
            role
          )
        "
      >
        <a class="flex" [routerLink]="['/user', user.user.id]">
          <div class="ml-0 mr-4 flex items-center">
            <mat-icon class="my-auto !h-8 !w-8 text-3xl" mat-list-icon
              >account_circle</mat-icon
            >
          </div>
          <div>
            <div class="break-all text-[17.5px]">{{ user.user.name }}</div>
            <div class="text-[14px] text-gray-500">
              {{ projectUserService.ADVANCED_ROLES[user.role] }},
              {{ projectUserService.PERMISSIONS[user.permission] }}
            </div>
          </div>
        </a>
        <div class="ml-1 mr-0 flex items-center">
          <button
            mat-icon-button
            color="warn"
            *ngIf="['user', 'manager'].includes(user.role)"
            (click)="removeUserFromProject(user.user)"
            matTooltip="Remove user from project"
            class="!mx-0 !px-0 text-sm"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <button
            mat-icon-button
            color="primary"
            *ngIf="'user' === user.role"
            (click)="upgradeUserToProjectManager(user.user)"
            matTooltip="Upgrade user to project manager"
            class="!mx-0 !px-0 text-sm"
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            *ngIf="'manager' === user.role"
            (click)="downgradeUserToUserRole(user.user)"
            matTooltip="Downgrade user to simple user"
            class="!mx-0 !px-0 text-sm"
          >
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <div *ngIf="'manager' !== user.role">
            <button
              mat-icon-button
              color="primary"
              *ngIf="'read' === user.permission"
              (click)="setUserPermission(user.user, 'write')"
              matTooltip="Set permission of user to read/write"
              class="!mx-0 !px-0 text-sm"
            >
              <mat-icon>folder_shared</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              *ngIf="
                'write' === user.permission && user.role !== 'administrator'
              "
              (click)="setUserPermission(user.user, 'read')"
              matTooltip="Set permission of user to read only"
              class="!mx-0 !px-0 text-sm"
            >
              <mat-icon>folder_open</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="(projectUserService.projectUsers$ | async) === undefined">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{
            'border-radius': '5px',
            height: '125px',
            width: 'calc(100% - 12px)',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
