<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<mat-card
  ><h2>T4C Repository Settings</h2>
  This will be automated in the next version.
  <form [formGroup]="createRepositoryForm" #formDirective="ngForm">
    <mat-form-field>
      <mat-label>Repository name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Please enter a name!</mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      (click)="createRepository(formDirective)"
    >
      Add T4C repository
    </button>
  </form>
  <mat-selection-list #repositoryList [multiple]="false" class="user-selection">
    <mat-list-option
      *ngFor="let repository of t4cRepoService.repositories"
      [value]="repository"
    >
      <mat-icon mat-list-icon>laptop</mat-icon>
      <div mat-line>{{ repository.name }}</div>
      <div mat-line>Repository ID: {{ repository.id }}</div>
    </mat-list-option>
  </mat-selection-list>

  <div *ngIf="repositoryList.selectedOptions.selected.length">
    <button
      mat-flat-button
      color="primary"
      (click)="removeRepository(selectedRepository)"
    >
      <mat-icon>delete</mat-icon> Remove {{ selectedRepository.name }}
    </button>
  </div>
</mat-card>

<div class="wrapper">
  <button
    mat-flat-button
    (click)="synchronizeRepositories()"
    [ngClass]="synchronizeButtonState"
  >
    <div *ngIf="synchronizeButtonState == 'primary'">Synchronize with T4C</div>
    <div *ngIf="synchronizeButtonState == 'success'">
      Synchronization successful
    </div>
  </button>
</div>
