/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.spinner {
  margin-right: 8px;
  display: inline-block;
}

.wrapper {
  height: 24px;
}
