<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<!--
 ~ Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div *ngIf="projectService.project && modelService.model">
  <h1>
    Initialize the model {{ modelService.model.name }} of the project
    {{ projectService.project.name }}.
  </h1>

  <div class="options-list">
    <button
      mat-raised-button
      disabled
      (click)="optionClick.emit('source-fetch')"
    >
      <div class="button-content-wrapper">
        <p class="option-title">Use the model of the source</p>
        <img
          class="content"
          src="https://git-scm.com/images/logos/downloads/Git-Logo-1788C.png"
        />
      </div>
    </button>
    <div class="field-separator"></div>
    <button mat-raised-button (click)="optionClick.emit('create-empty')">
      <div class="button-content-wrapper">
        <p class="option-title">Create empty model</p>
      </div>
    </button>
    <div class="field-separator"></div>
    <button
      mat-raised-button
      disabled
      (click)="optionClick.emit('upload-offline')"
    >
      <div class="button-content-wrapper">
        <p class="option-title">Upload offline model</p>
      </div>
    </button>
  </div>
</div>
