/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.model-complexity-error {
  border-radius: 5px;
  border: solid lightgray;
  width: 95%;
  aspect-ratio: 475/106.336;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.model-complexity-create {
  cursor: pointer;
}

.model-complexity-error-icon {
  flex-basis: 60px;
  transform: scale(2);
}

.model-complexity-error-text {
  flex-basis: calc(100% - 60px);
}

.model-complexity-badge-loader {
  width: 100%;
  text-align: center;
  aspect-ratio: 475/106.336;
}

.model-complexity-badge {
  width: 95%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
