# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.guacamole.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-guacamole-guacd
  labels:
    id: {{ .Release.Name }}-deployment-guacamole-guacd
  annotations:
    checksum/config-promtail: {{ include (print $.Template.BasePath "/promtail" "/promtail.configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.replicaCount.guacd | default 1 }}
  selector:
    matchLabels:
      id: {{ .Release.Name }}-deployment-guacamole-guacd
  template:
    metadata:
      labels:
        id: {{ .Release.Name }}-deployment-guacamole-guacd
      annotations:
        checksum/config-promtail: {{ include (print $.Template.BasePath "/promtail" "/promtail.configmap.yaml") . | sha256sum }}
    spec:
      automountServiceAccountToken: false
      volumes:
        {{ if .Values.loki.enabled }}
        - name: logs
          emptyDir: {}
        - name: prom-config
          configMap:
            name: {{ .Release.Name }}-promtail
            items:
              - key: guacd-promtail.yaml
                path: promtail.yaml
        - name: prom-position
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-guacd-promtail
        {{ end }}
      {{- include "capellacollab.pod.spec" . | indent 6 -}}
      containers:
        - name: {{ .Release.Name }}-guacamole-guacd
          {{- include "capellacollab.container.spec" . | indent 10 -}}
          {{ if .Values.docker.images.guacamole.guacd }}
          image: {{ .Values.docker.images.guacamole.guacd }}
          {{ else }}
          image: {{ .Values.docker.registry.external }}/guacamole/guacd:1.6.0
          {{ end }}
          command: ["/bin/sh", "-c", "mkdir -p /home/guacd/logs; /opt/guacamole/sbin/guacd -b 0.0.0.0 -L $GUACD_LOG_LEVEL -f > >(tee -a /home/guacd/logs/stdout.log) 2> >(tee -a /home/guacd/logs/stderr.log >&2)"]
          ports:
            - name: guacd
              containerPort: 4822
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: 4822
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 4822
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "0.02"
              memory: 15Mi
              ephemeral-storage: "1Gi"
            limits:
              cpu: "0.2"
              memory: 50Mi
              ephemeral-storage: "2Gi"
          volumeMounts:
            {{ if .Values.loki.enabled }}
            - name: logs
              mountPath: /home/guacd/logs
            {{ end }}
        {{ if .Values.loki.enabled }}
        - name: promtail
          {{- include "capellacollab.container.spec" . | indent 10 -}}
          {{ if .Values.docker.images.promtail }}
          image: {{ .Values.docker.images.promtail }}
          {{ else }}
          image: {{ .Values.docker.registry.external -}}/grafana/promtail
          {{ end }}
          args:
            - "--config.file=/etc/promtail/promtail.yaml"
            - "-log-config-reverse-order"
          resources:
            requests:
              cpu: "0.01"
              memory: 50Mi
              ephemeral-storage: "1Gi"
            limits:
              cpu: "0.02"
              memory: 100Mi
              ephemeral-storage: "2Gi"
          volumeMounts:
            - name: prom-config
              mountPath: /etc/promtail
            - name: prom-position
              mountPath: /var/log/promtail
            - name: logs
              mountPath: /var/log/guacd
        {{ end }}
{{ end }}
