<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog overflow-auto">
  <table>
    <thead>
      <tr class="text-base font-semibold">
        <td>Event type</td>
        <td>User</td>
        <td>Executor name</td>
        <td>Execution time</td>
        <td>Project slug</td>
        <td>Reason</td>
      </tr>
    </thead>

    @for (
      event of (projectAuditLogService.projectHistoryEventsPages$ | async)!
        .pages;
      track event.id
    ) {
      <tbody [id]="$index + 1" #page>
        @if (event === undefined || event === "loading") {
          @for (jobRunPage of pageSizeArray; track jobRunPage) {
            <tr>
              @for (column of [1, 2, 3, 4, 5, 6]; track column) {
                <td>
                  <app-text-line-skeleton-loader
                    width="80%"
                  ></app-text-line-skeleton-loader>
                </td>
              }
            </tr>
          }
        } @else {
          @for (run of event.items; track run.id) {
            <tr>
              <td>
                {{ run.event_type }}
              </td>
              <td>
                {{ run.user.name || "system" }}
              </td>
              <td>
                {{ run.executor?.name || "system" }}
              </td>
              <td>
                {{ run.execution_time | date: "EE, dd MMM y HH:mm:ss" }}
              </td>
              <td>
                {{ run.project?.slug }}
              </td>
              <td>
                {{ run.reason }}
              </td>
            </tr>
          }
        }
      </tbody>
    }
  </table>
</div>
