<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div id="toolbar">
  <div class="xl:hidden">
    <button
      mat-icon-button
      color="primary"
      (click)="navBarService.toggle()"
      aria-label="Toggle navigation menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="primaryText" id="title">
    <div id="maintitle">Capella Collaboration Manager</div>
    <div id="subtitle"><app-breadcrumbs></app-breadcrumbs></div>
  </div>
  <div class="hidden gap-2 xl:flex">
    <div
      *ngFor="let item of navBarService.navBarItems"
      [routerLink]="item.routerLink"
    >
      <a
        mat-raised-button
        color="primary"
        *ngIf="userService.validateUserRole(item.requiredRole)"
        [attr.href]="item.href"
        [attr.target]="item.target"
      >
        {{ item.name }} <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
      </a>
    </div>
  </div>
  <div>
    <div class="hidden xl:flex xl:right-aligned gap-2">
      <div>
        <div class="margin"></div>
        <span id="github">
          <a
            class="github-button"
            href="https://github.com/DSD-DBS/capella-collab-manager/issues"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-size="large"
            aria-label="Issue DSD-DBS/capella-collab-manager on GitHub"
            >Open Issue on Github</a
          >
        </span>
      </div>
      <mat-menu #profileMenu="matMenu">
        <a
          *ngIf="userService.user?.role === 'administrator'"
          class="profileMenuButton"
          mat-menu-item
          routerLink="settings"
        >
          Settings <mat-icon>settings</mat-icon>
        </a>
        <a
          *ngIf="userService.user?.role === 'administrator'"
          class="profileMenuButton"
          mat-menu-item
          routerLink="events"
        >
          Events <mat-icon>event_note</mat-icon>
        </a>
        <a
          class="profileMenuButton"
          mat-menu-item
          routerLink="logout/redirect"
          [queryParams]="{ reason: 'logout' }"
          *ngIf="authService.isLoggedIn()"
        >
          Log out <mat-icon>logout</mat-icon>
        </a>
      </mat-menu>
      <button
        color="primary"
        id="profile"
        mat-raised-button
        [matMenuTriggerFor]="profileMenu"
      >
        Profile <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
