/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#toolbar {
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

#title {
  margin-left: 20px;
  user-select: none;
}

#maintitle {
  font-size: 1em;
}

#subtitle {
  font-size: 1.5em;
}

.breadcrumbs {
  margin-left: 20px;
}

.flexbox {
  display: flex;
  align-items: center;
}

.flexbox > a {
  margin: 5px;
}

#profile {
  margin-left: 20px;
  margin-right: 15px;
}

.margin {
  padding-top: 10px;
}

.right-aligned {
  display: flex;
  align-items: center;
}
::ng-deep.mat-menu-panel {
  overflow: hidden !important;
}

.profileMenuButton {
  margin: 0;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
