/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

::ng-deep.mat-menu-panel {
  overflow: hidden !important;
}

.profileMenuButton {
  margin: 0;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
