<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex items-center gap-2 xl:hidden">
  <button
    class="ml-1 mt-1"
    mat-icon-button
    (click)="navBarService.toggle()"
    aria-label="Toggle navigation menu"
    data-testId="toggle-navbar"
  >
    <mat-icon class="text-primary">menu</mat-icon>
  </button>
  <app-breadcrumbs class="mt-1"></app-breadcrumbs>
</div>

<div class="hidden xl:block">
  <div
    class="grid min-h-[65px] grid-cols-[1fr,auto,minmax(0,1fr)] items-center gap-2 px-5"
  >
    <app-logo></app-logo>
    @if (navBarService.navbarItems$ | async) {
      <div class="flex justify-center gap-2">
        @for (item of navBarService.navbarItems$ | async; track item.name) {
          @if (userService.validateUserRole(item.requiredRole)) {
            @if (item.href) {
              <a
                mat-flat-button
                [attr.href]="item.href"
                [attr.target]="item.target"
                class=""
              >
                {{ item.name }}
                @if (item.icon) {
                  <mat-icon iconPositionEnd>{{ item.icon }}</mat-icon>
                }
              </a>
            } @else {
              <a mat-flat-button [routerLink]="item.routerLink" class="">
                {{ item.name }}
              </a>
            }
          }
        }
      </div>
    }

    <div class="flex items-center justify-end gap-2">
      <mat-menu #profileMenu="matMenu" class="flex items-center">
        <a
          class="px-[15px] text-left"
          mat-menu-item
          [routerLink]="['user', userService.user?.id]"
        >
          Profile <mat-icon>account_circle</mat-icon>
        </a>

        @if (userService.user?.role === "administrator") {
          <a class="px-[15px] text-left" mat-menu-item routerLink="settings">
            Settings <mat-icon>settings</mat-icon>
          </a>
          <a class="px-[15px] text-left" mat-menu-item routerLink="events">
            Events <mat-icon>event_note</mat-icon>
          </a>
        }

        <a class="px-[15px] text-left" mat-menu-item routerLink="tokens">
          Tokens <mat-icon>key</mat-icon>
        </a>

        @if (authService.isLoggedIn()) {
          <a
            class="px-[15px] text-left"
            mat-menu-item
            routerLink="logout"
            [queryParams]="{ reason: 'logout' }"
          >
            Log out <mat-icon>logout</mat-icon>
          </a>
        }
      </mat-menu>

      <button mat-flat-button [matMenuTriggerFor]="profileMenu">
        Menu <mat-icon iconPositionEnd>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="ml-5 pb-2">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
</div>
