<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="w-full p-[20px] md:max-w-[500px]">
  <h2 class="mb-5 text-xl font-medium">Reorder models</h2>
  <div>
    Drag and drop models in the order you would like them to appear in the
    project overview, then press save.
    <span class="font-medium">All members of a project team</span> will see the
    updated order.
  </div>

  <div
    cdkDropList
    [cdkDropListData]="models"
    (cdkDropListDropped)="drop($event)"
    class="my-[15px] rounded-sm border border-solid"
  >
    @for (model of models; track model.id) {
      <div cdkDrag>
        <div
          class="flex w-full cursor-move items-center gap-2 border bg-white p-2 shadow"
        >
          <mat-icon class="text-sm">reorder</mat-icon>
          <span class="truncate">
            <span>{{ model.name }} ({{ model.tool.name }}</span>
            @if (model.version) {
              <span> - {{ model.version.name }}</span>
            }
            <span>)</span>
          </span>
        </div>
      </div>
    }
  </div>

  <div class="flex justify-end">
    <button mat-flat-button (click)="reorderModels()" class="">
      Save order
    </button>
  </div>
</div>
