<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

@if (this.gitInstancesService.gitInstance$ | async; as gitInstance) {
  <div class="collab-card h-fit w-full sm:w-[500px]">
    <h2 class="mb-2 text-xl font-medium">Edit Git Server Instance</h2>
    <form [formGroup]="gitInstanceForm" id="add-instance-form">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Git Type</mat-label>
        <mat-select matInput formControlName="type">
          <mat-option value="General" selected
            >General Git (limited)</mat-option
          >
          <mat-option value="GitLab">Gitlab</mat-option>
          <mat-option value="GitHub">GitHub</mat-option>
          <mat-option value="AzureDevOps" disabled
            >Azure DevOps (unsupported)</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (gitInstanceForm.controls.name.errors?.uniqueName) {
          <mat-error
            >A instance with the name "{{
              gitInstanceForm.controls.name.errors?.uniqueName.value
            }}" already exists</mat-error
          >
        }
      </mat-form-field>
      <br />
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Instance base URL</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
      <br />
      @if (gitInstanceForm.controls.type.value !== "General") {
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>API URL</mat-label>
          <input matInput formControlName="api_url" />
        </mat-form-field>
      }
    </form>

    <div class="flex justify-between">
      <button
        (click)="deleteGitInstance(gitInstance)"
        mat-flat-button
        type="button"
        color="warn"
      >
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="editGitInstance(gitInstance.id)"
        [disabled]="!gitInstanceForm.valid"
      >
        <mat-icon>save</mat-icon>
        Save changes
      </button>
    </div>
  </div>
}
