<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <div class="title" *ngIf="cmpGitSettings.length">Existing instances</div>
  <div class="instances" *ngIf="cmpGitSettings.length">
    <mat-card *ngFor="let instance of cmpGitSettings">
      <div class="mat-title">
        <div class="instance-head">
          {{ instance.type }}
          <span class="mat-subtitle">{{ instance.name }}</span>
        </div>
        <div class="icon-container">
          <a
            mat-icon-button
            [routerLink]="['instances/', instance.id.toString()]"
          >
            <mat-icon aria-label="Edit the source">settings</mat-icon>
          </a>
          <button mat-icon-button (click)="deleteGitSettings(instance.id)">
            <mat-icon aria-label="Delete the source">delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="content">
        Instance base URL:
        <a href="{{ instance.url }}">{{ instance.url }}</a>
      </div>
    </mat-card>
  </div>
  <br />
  <div class="title">Add new integration</div>
  <br />
  <form [formGroup]="form" id="add-instance-form">
    Supported instances: <br />
    <mat-form-field id="instance-url" appearance="fill">
      <mat-label>Git Type</mat-label>
      <mat-select matInput formControlName="type">
        <mat-option value="General" selected>General Git (limited)</mat-option>
        <mat-option value="GitLab" disabled>GitLab (unsupported)</mat-option>
        <mat-option value="GitHub" disabled>GitHub (unsupported)</mat-option>
        <mat-option value="AzureDevOps" disabled
          >Azure DevOps (unsupported)</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field id="instance-url" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls.name.errors?.uniqueName"
        >An instance with the name "{{
          form.controls.name.errors?.uniqueName.value
        }}" already exists</mat-error
      >
      <mat-error *ngIf="form.controls.name.errors?.required"
        >An instance name is required</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field id="instance-url" appearance="fill">
      <mat-label>Instance base URL</mat-label>
      <input matInput formControlName="url" />
      <mat-error *ngIf="form.controls.url.errors?.required"
        >A base URL is required</mat-error
      >
      <mat-error
        *ngIf="
          form.controls.url.errors?.urlSafetyError && form.controls.url.value
        "
      >
        {{ form.controls.url.errors?.urlSafetyError }}
      </mat-error>
      <mat-error
        *ngIf="
          form.controls.url.errors?.urlPrefixError && form.controls.url.value
        "
      >
        {{ form.controls.url.errors?.urlPrefixError }}
      </mat-error>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    [disabled]="!form.valid"
    (click)="createGitSettings()"
  >
    Create Integration
  </button>
</div>
