/*
 * SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.title {
  font-size: 2em;
}

.wrapper {
  margin: 20px;
}

.instances {
  display: flex;
}

mat-card {
  width: fit-content;
  width: 400px;
  height: 150px;
  user-select: none;
}

.mat-card {
  padding: 0 !important;
  margin: 10px 20px 0 0;
}

.mat-card-content {
  padding: 5px !important;
}

.content {
  margin: 20px;
  overflow: hidden;
}

.mat-title {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 12px 5px 20px;
  font-size: 1.5em;
}

.instance-head {
  display: flex;
  flex-direction: column;
}

.mat-subtitle {
  font-size: 0.5em;
  line-height: 10px;
  margin-bottom: 5px;
}

.instance {
  background-color: darkred !important;
  color: white;
  font-size: 1.5em;
}

#add-instance-form {
  margin-top: 10px;
}

#instance-url {
  width: 405px;
}

mat-button-toggle-group {
  margin: 5px 0;
}
