<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper">
  <div *ngIf="(this.gitInstancesService.gitInstances$ | async)?.length">
    <div class="title">Existing instances</div>
    <div class="flex flex-wrap">
      <div
        class="collab-card"
        *ngFor="let instance of this.gitInstancesService.gitInstances$ | async"
      >
        <div class="mat-title">
          <div class="instance-head">
            {{ instance.name }}
            <span class="mat-subtitle">{{ instance.type }}</span>
          </div>
          <div>
            <a
              mat-icon-button
              [routerLink]="['instances/', instance.id.toString()]"
            >
              <mat-icon aria-label="Edit the source">settings</mat-icon>
            </a>
            <button mat-icon-button (click)="deleteGitInstance(instance)">
              <mat-icon aria-label="Delete the source">delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="content">
          Instance base URL:
          <a href="{{ instance.url }}">{{ instance.url }}</a> <br />
          <span *ngIf="instance.apiURL">API URL: {{ instance.apiURL }}</span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="title">Add new integration</div>
  <br />
  <form [formGroup]="gitInstancesForm" id="add-instance-form">
    Supported instances: <br />
    <mat-form-field class="form-field-default" appearance="fill">
      <mat-label>Git Type</mat-label>
      <mat-select matInput formControlName="type">
        <mat-option value="General" selected>General Git (limited)</mat-option>
        <mat-option value="GitLab">Gitlab</mat-option>
        <mat-option value="GitHub">GitHub</mat-option>
        <mat-option value="AzureDevOps" disabled
          >Azure DevOps (unsupported)</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="form-field-default" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="gitInstancesForm.controls.name.errors?.uniqueName"
        >A instance with the name "{{
          gitInstancesForm.controls.name.errors?.uniqueName.value
        }}" already exists</mat-error
      >
      <mat-error *ngIf="gitInstancesForm.controls.name.errors?.required"
        >A instance name is required</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field class="form-field-default" appearance="fill">
      <mat-label>Instance base URL</mat-label>
      <input matInput formControlName="url" />
      <mat-error *ngIf="gitInstancesForm.controls.url.errors?.required"
        >A base URL is required</mat-error
      >
      <mat-error *ngIf="gitInstancesForm.controls.url.errors?.urlSchemeError">
        Base url must start with http(s)://
      </mat-error> </mat-form-field
    ><br />
    <mat-form-field
      *ngIf="gitInstancesForm.controls.type.value !== 'General'"
      class="form-field-default"
      appearance="fill"
    >
      <mat-label>API Base URL</mat-label>
      <input matInput formControlName="apiURL" />
      <mat-error *ngIf="gitInstancesForm.controls.url.errors?.urlSchemeError">
        API URLs have to start with 'http(s)://'
      </mat-error>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    [disabled]="!gitInstancesForm.valid"
    (click)="createGitInstance()"
  >
    Create Integration
  </button>
</div>
