<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="wrapper flex-center flex">
  <div *ngIf="modelService.model$ | async" class="collab-card grow basis-1">
    <h2>{{ (modelService.model$ | async)!.name }}</h2>
    <form (submit)="onSubmit()" [formGroup]="form">
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />

          <mat-error *ngIf="form.controls.name.errors?.uniqueSlug"
            >A model with a similar name already exists.</mat-error
          >
        </mat-form-field>
      </fieldset>

      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            matInput
            rows="3"
            style="resize: none"
          ></textarea>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Version</mat-label>
          <mat-select formControlName="version" id="version-selector">
            <mat-option
              *ngFor="let version of this.toolVersions"
              [value]="version.id"
            >
              {{ version.name }}
              <span *ngIf="version.is_recommended"> (recommended)</span>
              <span *ngIf="version.is_deprecated"> (deprecated)</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <mat-form-field appearance="fill">
          <mat-label>Model nature</mat-label>
          <mat-select formControlName="nature">
            <mat-option
              *ngFor="let nature of this.toolNatures"
              [value]="nature.id"
            >
              {{ nature.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
      <br />
      <div class="flex justify-between">
        <span
          matTooltip="The model can't be deleted since it has linked Git and/or T4C models."
          [matTooltipDisabled]="canDelete"
        >
          <button
            mat-flat-button
            color="warn"
            (click)="deleteModel()"
            [disabled]="!canDelete"
            type="button"
          >
            Delete
          </button>
        </span>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
