# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v2
name: collab-manager
description: Capella Collaboration Manager
home: https://github.com/DSD-DBS/capella-collab-manager
type: application
version: 0.0.0 # The version is not used. The version is managed via Git tags.
appVersion: "1.0.0"
dependencies:
  - name: loki
    alias: loki
    condition: loki.enabled
    version: 5.30.0
    repository: https://grafana.github.io/helm-charts/
