<ul>
  <li>
    <mat-card>
      <span class="circle"
        ><mat-icon style="color: green">check_circle</mat-icon></span
      >
      <span class="description">Allocation of Resources</span>
    </mat-card>
  </li>
  <li>
    <mat-card>
      <mat-icon style="color: darkorange">warning</mat-icon>
      <span class="description">Pulling latest version of the model</span>
    </mat-card>
  </li>
  <li>
    <mat-card>
      <span class="circle"><mat-spinner [diameter]="35"></mat-spinner></span>
      <span class="description">Preparing workspace</span>
    </mat-card>
  </li>
  <li>
    <mat-card>
      <span class="circle" style="color: grey"
        ><mat-icon>access_time</mat-icon></span
      >
      <span class="description">Start session</span>
    </mat-card>
  </li>
</ul>
