:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: black;
  width: 10px !important;
  height: 10px !important;
}

mat-icon {
  font-size: 2.5em;
  background-color: white;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-card {
  display: flex;

  align-items: center;
}

.description {
  position: absolute;
  margin-top: 5px;
  margin-left: 60px;
}
