<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div
  class="flex items-center gap-2 select-none"
  [ngClass]="{ 'font-special': specialService.enabled() }"
>
  @if (navBarService.logoUrl$ | async; as logoUrl) {
    <img
      [src]="logoUrl"
      aria-hidden="true"
      alt=""
      class="h-8 max-w-24 py-0.5"
      [ngClass]="{ 'rotate-180': specialService.enabled() }"
    />
  }

  <div
    class="text-primary text-2xl font-semibold"
    [ngClass]="{
      'inline-block rotate-180 bg-linear-to-r': specialService.enabled(),
      'from-blue-600 via-green-500 to-indigo-400 bg-clip-text text-transparent':
        specialService.enabled(),
    }"
  >
    CCM
  </div>
  @if ((navBarService.badge$ | async)?.show) {
    <div
      class="rounded-md px-1 py-0.5 text-xs font-semibold tracking-wide whitespace-nowrap
        text-white uppercase"
      [class.bg-hazard]="(navBarService.badge$ | async)?.variant === 'warning'"
      [class.bg-green-600]="
        (navBarService.badge$ | async)?.variant === 'success'
      "
    >
      {{ (navBarService.badge$ | async)?.text }}
    </div>
  }
</div>
