<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex select-none items-center gap-2">
  @if (navBarService.logoUrl$ | async; as logoUrl) {
    <img
      [src]="logoUrl"
      aria-hidden="true"
      alt=""
      class="h-8 max-w-24 py-0.5"
    />
  }

  <div class="text-2xl font-semibold text-primary">CCM</div>
  @if ((navBarService.badge$ | async)?.show) {
    <div
      class="whitespace-nowrap rounded-md px-1 py-0.5 text-xs font-semibold uppercase
        tracking-wide text-white"
      [class.bg-hazard]="(navBarService.badge$ | async)?.variant === 'warning'"
      [class.bg-green-600]="
        (navBarService.badge$ | async)?.variant === 'success'
      "
    >
      {{ (navBarService.badge$ | async)?.text }}
    </div>
  }
</div>
