/*
 * Copyright DB Netz AG and the capella-collab-manager contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.footer {
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  color: grey;
}

#tc {
  color: var(--primary-color);
  cursor: pointer;
}
