<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->
<div id="metadata-card" class="collab-card flex w-fit flex-col gap-4">
  <form [formGroup]="form" class="flex flex-col gap-4">
    <mat-form-field
      appearance="fill"
      class="w-full max-w-lg"
      subscriptSizing="dynamic"
    >
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" data-testid="name-input" />
      @if (form.controls.name.errors?.required) {
        <mat-error>The project name is required.</mat-error>
      } @else if (form.controls.name.errors?.uniqueSlug) {
        <mat-error>A project with a similar name already exists.</mat-error>
      }
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="w-full max-w-lg"
      subscriptSizing="dynamic"
    >
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        rows="3"
        style="resize: none"
        [placeholder]="
          'This is the description of the project ' + project?.name
        "
      ></textarea>
    </mat-form-field>
    <div class="flex flex-col">
      <h3>Project visibility</h3>
      <mat-radio-group formControlName="visibility" class="flex flex-col">
        @for (
          visibility of projectService.getAvailableVisibilities();
          track visibility
        ) {
          <mat-radio-button [value]="visibility">
            {{ projectService.getProjectVisibilityDescription(visibility) }}
          </mat-radio-button>
        }
      </mat-radio-group>
    </div>
    <div class="flex flex-col">
      <h3>Project type</h3>
      <mat-radio-group formControlName="type" class="flex flex-col">
        @for (
          projectType of projectService.getAvailableProjectTypes();
          track projectType
        ) {
          <mat-radio-button [value]="projectType">
            {{ projectService.getProjectTypeDescription(projectType) }}
          </mat-radio-button>
        }
      </mat-radio-group>
    </div>
  </form>
  <div>
    <mat-form-field
      subscriptSizing="dynamic"
      appearance="outline"
      class="w-full"
    >
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid>
        @for (tag of selectedTags(); track $index) {
          <mat-chip-row
            [style.color]="tagHelperService.identifyColor(tag.hex_color)"
            [style.backgroundColor]="tag.hex_color"
            [removable]="true"
            (removed)="removeTag(tag)"
            [disableRipple]="true"
            [matTooltip]="tag.description"
          >
            @if (tag.icon; as icon) {
              <mat-icon
                matChipAvatar
                [style.color]="tagHelperService.identifyColor(tag.hex_color)"
              >
                {{ icon }}
              </mat-icon>
            }
            {{ tag.name }}
            <button matChipRemove aria-label="Remove tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="New tag..."
        #tagInput
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="true"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="addTag($event)"
      >
        @for (tag of availableTags; track tag) {
          <mat-option [value]="tag">
            <app-tag-display [tag]="tag" />
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="flex justify-between">
    <span
      matTooltip="The project can't be deleted since it has linked models"
      [matTooltipDisabled]="canDelete"
    >
    </span>
    <button
      [disabled]="!form.valid"
      (click)="updateProject()"
      mat-raised-button
      id="submit"
    >
      Submit
    </button>
  </div>
</div>
