<!--
 ~ SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div
  class="wrapper"
  *ngIf="(projectService.project$ | async) && (modelService.model$ | async)"
>
  <h1 class="!m-separator">Git repositories</h1>
  <div class="flex flex-wrap">
    <a class="m-m-card" [routerLink]="['..', 'git-model', 'create']">
      <mat-card matRipple class="m-0 mat-card-overview new">
        <div class="content">
          Use existing repository <br />
          <div class="icon">
            <app-mat-icon size="70px">link</app-mat-icon>
          </div>
        </div>
      </mat-card>
    </a>

    <app-mat-card-overview-skeleton-loader
      [rows]="1"
      [reservedCards]="2"
      [loading]="(gitModelService.gitModels$ | async) === undefined"
    ></app-mat-card-overview-skeleton-loader>
    <a
      class="m-m-card"
      *ngFor="let gitModel of gitModelService.gitModels$ | async"
      [routerLink]="['..', 'git-model', gitModel.id]"
    >
      <mat-card matRipple class="m-0 mat-card-overview">
        <div class="header">Integration {{ gitModel.id }}</div>
        <div class="content">
          <div>Path: {{ gitModel.path }}</div>
          <div>Revision: {{ gitModel.revision }}</div>
          <div>Entry point: {{ gitModel.entrypoint }}</div>
          <div>Primary: {{ gitModel.primary ? "True" : "False" }}</div>
          <div>Username: {{ gitModel.username }}</div>
          <div>Password set: {{ gitModel.password ? "True" : "False" }}</div>
        </div>
      </mat-card>
    </a>
  </div>
  <div
    *ngIf="
      (modelService.model$ | async)!.tool?.integrations?.t4c &&
      userService.user?.role === 'administrator'
    "
  >
    <h1 class="!m-separator">TeamForCapella repositories</h1>
    <div class="flex flex-wrap">
      <a class="m-m-card" [routerLink]="['..', 't4c-model', 'create-existing']">
        <mat-card matRipple class="m-0 mat-card-overview new">
          <div class="content">
            Use existing repository <br />
            <div class="icon">
              <app-mat-icon size="70px">link</app-mat-icon>
            </div>
          </div>
        </mat-card>
      </a>

      <a class="m-m-card" [routerLink]="['..', 't4c-model', 'create-new']">
        <mat-card matRipple class="m-0 mat-card-overview new">
          <div class="content">
            Create new repository <br />
            <div class="icon">
              <app-mat-icon size="70px">add_circle_outline</app-mat-icon>
            </div>
          </div>
        </mat-card>
      </a>

      <a
        class="m-m-card"
        *ngFor="let t4cModel of t4cModelService.t4cModels$ | async"
        [routerLink]="['..', 't4c-model', t4cModel.id]"
      >
        <mat-card matRipple class="m-0 mat-card-overview">
          <div class="header">Integration {{ t4cModel.id }}</div>
          <div class="content">
            <div>Instance: {{ t4cModel.repository.instance.name }}</div>
            <div>Repository: {{ t4cModel.repository.name }}</div>
            <div>T4C model name: {{ t4cModel.name }}</div>
          </div>
        </mat-card>
      </a>
      <app-mat-card-overview-skeleton-loader
        [rows]="1"
        [reservedCards]="2"
        [loading]="(t4cModelService.t4cModels$ | async) === undefined"
      ></app-mat-card-overview-skeleton-loader>
    </div>
  </div>
</div>
