/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.footer {
  color: grey;
  text-align: end;
  padding: 5px;
}

.visually-disabled {
  background-color: grey !important;
}

app-mat-card-overview-loader {
  display: contents;
}
