<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="dialog">
  <form [formGroup]="form" (submit)="onSubmit()">
    <h2>{{ data.title }}</h2>
    <p>{{ data.text }}</p>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Reason</mat-label>
      <textarea rows="6" matInput formControlName="result"></textarea>
      <mat-error *ngIf="form.controls.result.errors?.required">
        Please enter something or click on cancel!
      </mat-error>
    </mat-form-field>
    <div class="flex justify-between">
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
