/*
 * SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.pipeline-card:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.configuration {
  margin: 10px;
}

.footer-wrapper {
  align-items: flex-end;
}

.pipelines {
  max-height: 80vh;
}
