# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: CC0-1.0
name: lint

on:
  push:
    branches: ['**']
    tags: ['v*.*.*']
  pull_request:
    branches: [main]

jobs:
  helm-chart:
    runs-on: ubuntu-latest
    name: Validate helm chart with linter and kubernetes yaml schemas
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install helm
        uses: azure/setup-helm@v4
      - name: Install go
        uses: actions/setup-go@v5
      - name: Install kubeconform
        run: |
          go install github.com/yannh/kubeconform/cmd/kubeconform@latest
          echo "$HOME/go/bin" >> "$GITHUB_PATH"
      - name: Run helm dependency update
        run: |
          helm dependency update ./helm
      - name: Run helm lint
        run: |
          helm lint --strict ./helm
      - name: Validate chart with kubernetes schema
        run: |
          helm template ./helm | kubeconform -strict
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          package_json_file: 'frontend/package.json'
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies (backend)
        working-directory: backend/
        run: |-
          uv pip install --system '.[dev]'
      - name: Install dependencies (frontend)
        working-directory: frontend/
        run: |-
          pnpm install
      - name: Run pre-commit
        run: |-
          uvx --with pre-commit-uv pre-commit run --all-files
      - name: Print changed files
        if: failure()
        run: |-
          git add . && git status -vv
