# SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
# SPDX-License-Identifier: CC0-1.0
name: 'Compare Storybooks'

on: [push, pull_request]

jobs:
  visual-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          package_json_file: 'frontend/package.json'
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: pnpm install storycap puppeteer http-server
        working-directory: ./frontend
      - name: Build Storybook
        run: pnpm run build-storybook
        working-directory: ./frontend
      - name: Capture screenshots
        run:
          npx storycap --serverCmd "npx http-server storybook-static -p 9001"
          http://localhost:9001
        working-directory: ./frontend
      - uses: reg-viz/reg-actions@v2
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          image-directory-path: './frontend/__screenshots__'
          outdated-comment-action: minimize
          matching-threshold: 0.02
          retention-days: 90
