# SPDX-FileCopyrightText: Copyright DB Netz AG and the capella-collab-manager contributors
# SPDX-License-Identifier: CC0-1.0
name: tests

on:
  push:
    branches: ['**']
    tags: ["v*.*.*"]
  pull_request:
    branches: [master, staging, "v2/staging"]

jobs:
  backend:
    runs-on: ubuntu-latest
    name: Run pytest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install "./backend[dev]"
      - name: Run pytest
        working-directory: backend
        run: |
          pytest
  frontend:
    runs-on: ubuntu-latest
    name: Run frontend karma tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Fetch version
        working-directory: frontend
        run: |
          node fetch-version.ts
      - name: Install dependencies
        working-directory: frontend
        run: |
          npm i -g @angular/cli
          npm ci
          export CHROME_BIN=$(which chromium)
      - name: Run tests
        working-directory: frontend
        run: |
          ng test --watch=false --browsers=ChromeHeadless
