<!--
 ~ SPDX-FileCopyrightText: Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<div class="flex justify-center">
  @if (projectWrapperService.project$ | async) {
    <div class="collab-card w-[350px] md:min-w-[420px]">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="m-0 flex w-auto items-center px-0">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Tool</mat-label>
            <mat-select matInput formControlName="tool_id">
              @for (tool of availableTools$ | async; track tool.id) {
                <mat-option [value]="tool.id">
                  {{ tool.name }}
                </mat-option>
              }
            </mat-select>
            @if (form.controls.tool_id.errors?.min) {
              <mat-error>You have to select a tool</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="m-0 flex w-auto items-center px-0">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Tool Version</mat-label>
            <mat-select matInput formControlName="tool_version_id">
              @for (tool of availableToolVersions$ | async; track tool.id) {
                <mat-option [value]="tool.id">
                  {{ tool.name }}
                </mat-option>
              }
            </mat-select>
            @if (form.controls.tool_id.errors?.min) {
              <mat-error>You have to select a tool</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flex justify-end">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Link tool to project
            <mat-icon iconPositionEnd class="mat-icon-position right"
              >navigate_next</mat-icon
            >
          </button>
        </div>
      </form>
    </div>
  }
</div>
